<% if @lists.empty? %>
<p class="notice">
  <%= t(".description_empty") %>
</p>
<% else %>
<h1><span><%= t(".title") %></span></h1>
<p class="description">
  <%= t(".description") %>
<p>

<% id = 1 %>
<% @lists.each do |list| %>
<div class="list">

  <div class="meta_information">
    <span>
      <strong><%= t(".created") %>:</strong> <%= I18n.l(Time.at(list.created_at), :format => :number_with_time) %>
    </span>
    <span>
      <%= list.creator %>
    </span>
    <div>
      <strong><%= t(".users_count_title") %>:</strong> <%= list.users.count %>
    </div>
    <div>
      <table>
        <tr>
          <th><%= t("activeldap.attributes.user.displayName") %></th>
          <th><%= t("activeldap.attributes.user.groups") %></th>
        </tr>
        <% count = 1 %>
        <% list.users.each do |user_id| %>
        <% user = @users_by_id[user_id] %>
        <% if user.nil? %>
          <tr>
            <td><%= t(".invalid_id", id: user_id) %></td>
            <td>&nbsp;</td>
          </tr>
        <% else %>
          <tr>
            <td><%= user.displayName %></td>
            <td><%= user.groups.first.displayName %></td>
          </tr>
        <% end %>
        <% break if count > 10 %>
        <% count += 1 %>
        <% end %>
      </table>
      <% if list.users.count > 10 %>
      <%= t(".and_other_users", :count => list.users.count - 10) %>
      <% end %>
    </div>
  </div>


  <div class="form">
    <%= form_for(
        :list,
        :url => download_list_path(
    :school_id => @school.puavoId,
    :id => list.uuid,
    :format => :pdf) ) do |f| %>

    <div>
      <%= f.radio_button :generate_password, true, :checked => true, :id => "list_generate_password_true_#{ id }" %>
      <%= f.label t(".label_generate_password"), :for => "list_generate_password_true_#{ id }" %>
    </div>
    <div>
      <%= f.radio_button :generate_password, false, :id => "list_generate_password_false_#{ id }"  %>
      <%= f.label t(".label_set_password"), :for => "list_generate_password_false_#{ id }" %>
      <%= f.text_field :new_password, :size => 20 %>
    </div>
    <div>
      <%= f.submit t(".label_submit_button") %>
    </div>
    <% end %>
  </div>

  <span class="clear"></span>
</div>
<% id += 1 %>
<% end %>
<div class="list"></div>
<% end %>
