<% page_title t('titles.schools'), @school.displayName, t('titles.users'), t('titles.users_lists') %>

<% if @lists.empty? %>
<div class="genericNotice"><%= t(".description_empty") %></div>
<% else %>
<h1><%= t(".title") %></h1>
<p class="description"><%= t(".description") %><p>

<%= show_password_requirements %>

<% id = 1 %>
<% @lists.sort{ |a, b| a.created_at <=> b.created_at }.reverse.each do |list| %>
<div class="userListTable">
  <div class="userListRow">
    <div class="userListCol userListMeta">
      <p><strong><%= t(".created") %>:</strong> <span><%= I18n.l(Time.at(list.created_at), :format => :number_with_time) %></span></p>
      <p><%= list.creator %></p>
      <p><strong><%= t(".users_count_title") %>:</strong> <span><%= list.users.count %></span></p>
    </div>
  </div>

  <div class="userListRow">
    <div class="userListCol userListLeft">
      <div class="userListBox">
        <table class="list">
          <tr class="thead">
            <th><%= t("activeldap.attributes.user.displayName") %></th>
            <th><%= t("activeldap.attributes.user.groups") %></th>
          </tr>
          <% list.users.each do |user_id| %>
          <% user = @users_by_id[user_id] %>
          <% if user.nil? %>
          <tr>
            <td><%= t(".invalid_id", id: user_id) %></td>
            <td>&nbsp;</td>
          </tr>
          <% else %>
          <tr>
            <td data-title="<%= t('activeldap.attributes.user.uid')%>"><%= user.displayName %></td>
            <td data-title="<%= t('activeldap.attributes.group.displayName')%>">
            <% if user.groups && user.groups.first %>
              <%= user.groups.first.displayName %>
            <% elsif user.roles && user.roles.first %>
              <%= user.roles.first.displayName %>
            <% else %>
              ?
            <% end %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>

    <div class="userListCol userListRight">
      <%= form_for(:list, :url => download_list_path(:school_id => @school.puavoId,
                                                     :id => list.uuid,
                                                     :format => :pdf)) do |f| %>
        <p>
          <%= f.radio_button :generate_password, true,
                             :checked => true,
                             :id => "list_generate_password_true_#{ id }" %>

          <%= f.label t(".label_generate_password"),
                      :for => "list_generate_password_true_#{ id }" %>
        </p>

        <p>
          <%= f.radio_button :generate_password, false,
                             :id => "list_generate_password_false_#{ id }" %>

          <%= f.label t(".label_set_password"),
                      :for => "list_generate_password_false_#{ id }" %>

          <%= f.text_field :new_password,
                           :size => 20,
                           onfocus: "document.getElementById('list_generate_password_false_#{id}').checked = true;" %>
        </p>

        <p class="submitRow"><%= f.submit t(".label_submit_button"), class: 'btn' %></p>

        <p>
          <%= link_to delete_list_path(:id => list.uuid), data: { confirm: t('general_confirm') }, method: :delete, class: "btn btn-danger" do %>
            <i class="icon-trash"></i><%= t('.delete_without_downloading') %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<% id += 1 %>
<% end %>
<% end %>
