<h2>
<%= t(".title") %>
</h2>
<p>
  <%= t(".description") %>
<p>

<% @lists.each do |list| %>
<div>

  <div>
    <span>
      <%= t(".created") %> <%= I18n.l(Time.at(list.created_at), :format => :number_with_time) %>
    </span>
    <span>
      Mikko Mallikas
    </span>
  </div>
  <div>
    <div>
      <b><%= t(".users_count_title") %>:</b> 312
    </div>


    <div>
    </div>
  </div>

</div>
<% end %>
<div></div>
