<h2>
<%= t(".title") %>
</h2>
<p>
  <%= t(".description") %>
<p>

<% @lists.each do |list| %>
<div>

  <div>
    <span>
      <%= t(".created") %> <%= I18n.l(Time.at(list.created_at), :format => :number_with_time) %>
    </span>
    <span>
      Mikko Mallikas
    </span>
  </div>
  <div>
    <div>
      <b><%= t(".users_count_title") %>:</b> 312
    </div>


    <div>
      <%= form_for( :list,
                    :url => download_list_path(:school_id => @school.puavoId, :id => list.uuid, :format => :pdf) ) do |f| %>

      <div>
        <%= f.radio_button :generate_password, true %>
        <%= f.label t(".label_generate_password"), :for => "list_generate_password_true" %>
      </div>
      <div>
        <%= f.radio_button :generate_password, false %>
        <%= f.label t(".label_set_password"), :for => "list_generate_password_false" %>
        <%= f.text_field :new_password, :size => 20 %>
      </div>
      <div>
        <%= f.submit t(".label_submit_button") %>
      </div>
      <% end %>
    </div>

  </div>

</div>
<% end %>
<div></div>
