<% page_title t('titles.schools'), @school.displayName, t('titles.users'), t('titles.users_lists') %>

<% if @lists.empty? %>
<p class="notice"><%= t(".description_empty") %></p>
<% else %>
<h1><span><%= t(".title") %></span></h1>
<p class="description"><%= t(".description") %><p>

<% id = 1 %>
<% @lists.each do |list| %>
<div class="list">
  <table style="width: 100%;">
    <tr style="background: none;">
      <td style="vertical-align: top;">
        <div class="meta_information">
          <span><strong><%= t(".created") %>:</strong> <%= I18n.l(Time.at(list.created_at), :format => :number_with_time) %></span>
          <span><%= list.creator %></span>
          <div><strong><%= t(".users_count_title") %>:</strong> <%= list.users.count %></div>
        <div>

        <div class="usernameListBox">
        <table>
          <tr>
            <th><%= t("activeldap.attributes.user.displayName") %></th>
            <th><%= t("activeldap.attributes.user.groups") %></th>
          </tr>
          <% list.users.each do |user_id| %>
          <% user = @users_by_id[user_id] %>
          <% if user.nil? %>
          <tr>
            <td><%= t(".invalid_id", id: user_id) %></td>
            <td>&nbsp;</td>
          </tr>
          <% else %>
          <tr>
            <td><%= user.displayName %></td>
            <td>
            <% if user.groups && user.groups.first %>
              <%= user.groups.first.displayName %>
            <% elsif user.roles && user.roles.first %>
              <%= user.roles.first.displayName %>
            <% else %>
              ?
            <% end %>
            </td>
          </tr>
        <% end %>
        <% end %>
      </table>
     </div>
    </div>
  </div>

  </td>
  <td style="vertical-align: top;">

  <div class="form">
    <%= form_for(:list, :url => download_list_path(:school_id => @school.puavoId,
                                                   :id => list.uuid,
                                                   :format => :pdf)) do |f| %>

      <%= f.radio_button :generate_password, true, :checked => true, :id => "list_generate_password_true_#{ id }" %>
      <%= f.label t(".label_generate_password"), :for => "list_generate_password_true_#{ id }" %>
      <br>
      <%= f.radio_button :generate_password, false, :id => "list_generate_password_false_#{ id }"  %>
      <%= f.label t(".label_set_password"), :for => "list_generate_password_false_#{ id }" %>
      <%= f.text_field :new_password, :size => 20, onfocus: "document.getElementById('list_generate_password_false_#{id}').checked = true;" %>
      <br>
      <%= f.submit t(".label_submit_button"), style: "float: none;" %>

      <%= link_to delete_list_path(:id => list.uuid), data: { confirm: t('general_confirm') }, method: :delete, class: "btn btn-danger", style: "margin-left: 50px;" do %>
        <i class="icon-trash"></i><%= t('.delete_without_downloading') %>
      <% end %>

    <% end %>
  </div>

  </td></tr></table>

  <span class="clear"></span>
</div>
<% id += 1 %>
<% end %>
<div class="list"></div>
<% end %>
