<p>
  <b><%= t('activeldap.attributes.student_year_class.puavoSchoolStartYear') %>:</b>
  <%=h @student_year_class.puavoSchoolStartYear %>
</p>

<p>
  <b><%= t('activeldap.attributes.student_year_class.displayName') %>:</b>
  <%=h @student_year_class.displayName %>
</p>

<p>
  <b><%= t('activeldap.attributes.student_year_class.student_classes') %>:</b>
<%= @student_classes %>
  
</p>

<% content_for :right do %>
<div><%= link_to t('link.edit'), edit_student_year_class_path(@school, @studen_year_class) %></div>
<% end %>
