<p>
  <b><%= t('activeldap.attributes.student_year_class.puavoSchoolStartYear') %>:</b>
  <%=h @student_year_class.puavoSchoolStartYear %>
</p>

<p>
  <b><%= t('activeldap.attributes.student_year_class.displayName') %>:</b>
  <%=h @student_year_class.displayName %>
</p>

<p>
  <b><%= t('activeldap.attributes.student_year_class.student_classes') %>:</b>
<%= @student_classes %>
  
</p>
