<%= form_for(@user, url: profile_path, method: method, multipart: true) do |f| %>
  <input type="hidden" name="lang" id="lang" value="<%= @language %>">

  <div id="upper">
      <div id="left">
        <%= image_tag(default_image_or_user_image_path(image_profile_path, @user),
                      :class => "avatar", skip_pipeline: true) %>
      </div>

      <div id="right">
        <section class="userInfo">
          <p class="userName"><%= current_user.displayName %></p>
          <p class="userSchool"><%= current_user.primary_school.displayName %></p>
        </section>

        <section>
<% if @automatic_email_addresses %>
          <%= f.label t('users.edit.automatic_email'), nil %>
          <div class="automaticEmail"><%= Array(@user.mail).first %></div>
<% else %>
          <%= f.label :mail, nil %>
          <%= f.text_field :mail, :placeholder => t('activeldap.attributes.user.mail') %>
<% end %>
        </section>

        <section>
          <%= f.label :telephoneNumber, nil %>
          <%= f.text_field :telephoneNumber, :placeholder => t('activeldap.attributes.user.telephoneNumber') %>
        </section>

        <section>
          <%= f.label :puavoLocale, nil %>
          <%= f.select :puavoLocale, locales_for_select %>
        </section>

        <section>
          <%= f.label :jpegPhoto, nil %>

          <div>
            <%= f.file_field(:jpegPhoto, accept: 'image/*') %>
          </div>
        </section>
      </div>
  </div>

  <div id="lower">
    <%= f.submit submit_text %>
  </div>
<% end %>
