<%
html_args = {
  :method => method,
  :multipart => true,
  :class => "form-horizontal"
}

html_args[:'data-remote'] = true if @data_remote
%>

  <%= form_for(@user, :url => profile_path, :html => html_args ) do |f| %>
    <div id="upper">
      <div id="upperWrapper">
        <div id="left">
          <%= image_tag(default_image_or_user_image_path(image_profile_path, @user),
                        :class => "avatar", skip_pipeline: true) %>
        </div>

        <div id="right">
          <section class="userInfo">
            <p class="userName"><%= current_user.displayName %></p>
            <p class="userSchool"><%= Array(current_user.school).first.displayName %></p>
            <p class="userRole"><%= (current_user.roles.map &:displayName).join(", ") %></p>
          </section>

          <section>
            <%= f.label :mail, nil %>
            <%= f.text_field :mail, :placeholder => t('activeldap.attributes.user.mail') %>
          </section>

          <section>
            <%= f.label :telephoneNumber, nil %>
            <%= f.text_field :telephoneNumber, :placeholder => t('activeldap.attributes.user.telephoneNumber') %>
          </section>

          <section>
            <%= f.label :puavoLocale, nil %>
            <%= f.select :puavoLocale, locales_for_select %>
          </section>

          <section>
            <%= f.label :jpegPhoto, nil %>

            <div>
              <%= f.file_field(:jpegPhoto, accept: 'image/*') %>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div id="lower">
      <div id="lowerWrapper">
        <%= f.submit submit_text %>
      </div>

      <% if message_keys = flash.keys.select { |key| [:notice, :alert].include?(key) } %>
        <% message_keys.each do |key| %>
          <p class="message_<%= key %>">
            <%= flash[key] %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
