<% content_for :page_title do %><%= t('profiles.edit.title') %><% end %>

<% if message_keys = flash.keys.select { |key| ['notice', 'alert'].include?(key) } %>
  <% message_keys.each do |key| %>
    <p class="message_<%= key %>">
      <%= flash[key] %>
    </p>
  <% end %>
<% end %>

<p><a href="<%= profile_path %>/edit"><%= t('profiles.show.go_back') %></a></p>
