
<h1><span><%= @printer.printerDescription %></span></h1>

<p>Printer usage permissions</p>

<%= form_tag(schools_school_printer_path(@school, @printer), :method => :put) do %>

  <fieldset>
    <legend>Global</legend>

    <ul>
      <li>
        <label>
          <%= check_box_tag "activate", true, @school.has_printer?(@printer) %>
          Activate for all users
        </label>
      </li>

      <li>
        <label>
          <%= check_box_tag "activate_wireless", true, @school.has_wireless_printer?(@printer)%>
          Activate for anonymous wireless users too (iPads etc).
        </label>
      </li>
    </ul>

  </fieldset>

  <fieldset>
    <legend>Groups</legend>

    <ul>
      <% Group.all.each do |group| %>
      <li>
        <label>
          <%= hidden_field_tag "groups[#{ group.dn }]", false %>
          <%= check_box_tag "groups[#{ group.dn }]", true, group.has_printer?(@printer) %>
          <%= group.displayName %>
        </label>
      </li>
      <% end %>
    </ul>

  </fieldset>

  <fieldset>
    <legend>Devices</legend>
    <p>
      Printer is activated for following individual devices.
    </p>

    <table>
      <tr>
        <th>Hostname</th>
        <th>Remove permission</th>
      </tr>
      <% @devices.each do |device| %>
      <tr>
        <td>
          <%= link_to device.cn, edit_device_path(@school, device)  %>
        </td>
        <td>
          <%= check_box_tag "remove_device_permission[]", device.dn %>
        </td>
      </tr>
      <% end %>
    </table>

  </fieldset>


  <%= submit_tag "Save",  :class => "btn" %>
  <div class="cancel">
    <%= link_to t('link.cancel'), schools_school_printers_path, :class => 'btn btn-danger' %>
  </div>

<% end %>
