
<h1><span><%= @printer.printerDescription %></span></h1>

<p>Printer usage permissions</p>

<%= form_tag(schools_school_printer_path(@school, @printer), :method => :put) do %>

  <fieldset>
    <legend>Global</legend>

    <ul>
      <li>
        <label>
          <%= check_box_tag "activate", true, @school.has_printer?(@printer) %>
          Activate for all users
        </label>
      </li>

      <li>
        <label>
          <%= check_box_tag "activate_wireless", true, @school.has_wireless_printer?(@printer)%>
          Activate for anonymous wireless users too (iPads etc).
        </label>
      </li>
    </ul>

  </fieldset>

  <fieldset>
    <legend>Groups</legend>

    <ul>
      <li>
        <label>
          <%= check_box_tag "Group1", true, false, :disabled => true %>
          Group 1
        </label>
      </li>
    </ul>

  </fieldset>

  <fieldset>
    <legend>Devices</legend>
    <p>
      Printer is activated for following individual devices.
    </p>

    <ul>
      <li>
        <a href="">Device1</a> <button>x</button>
      </li>
    </ul>

  </fieldset>


  <%= submit_tag "Save",  :class => "btn" %>
  <div class="cancel">
    <%= link_to t('link.cancel'), schools_school_printers_path, :class => 'btn btn-danger' %>
  </div>

<% end %>
