<h1><span>Available printers</span></h1>

<table class='list'>
  <tr>
    <th><%= t('activeldap.attributes.printer.printerDescription') %></th>
    <th><%= t('activeldap.attributes.printer.printerMakeAndModel') %></th>
    <th><%= t('activeldap.attributes.printer.printerLocation') %></th>
    <th colspan="2"><%= t('actions') %></th>
  </tr>

<% @printers.each do |printer| %>
  <tr>

    <td><%=h printer.printerDescription %></td>
    <td><%=h printer.printerMakeAndModel %></td>
    <td><%=h printer.printerLocation %></td>

    <td>
      <%= link_to edit_schools_school_printer_path(@school, printer), :class => 'btn' do %>
      <i class="icon-pencil"></i><%= "Edit visibility" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
