
<% form_for(@automount, :url => path, :html => { :method => method}) do |f| %>
  <%= f.error_messages %>

<table>
<tr>
  <td class="label_td"><%= f.label :cn %></td>
  <td><%= f.text_field :cn %></td>
</tr>
<tr>
  <td>
    <%= f.submit submit_text %> <div class="cancel"> <%=link_to t('cancel'), server_automounts_path(@server), :class => 'cancel_button' %> </div>
  </td>
</tr>
</table>

<% end %>
