<div id="container">
    <% if @login_content['upper_logo'] %>
    <div id="upperLogo">
        <% if @login_content['upper_logo']['href'] %>
        <a href="<%= @login_content['upper_logo']['href'] %>" target="_blank" title="<%= @login_content['upper_logo']['title'] %>"><img src="<%= File.join(@login_content['prefix'], @login_content['upper_logo']['image']) %>" alt="<%= @login_content['upper_logo']['alt'] %>"></a>
        <% else %>
        <img src="<%= File.join(@login_content['prefix'], @login_content['upper_logo']['image']) %>" alt="<%= @login_content['upper_logo']['alt'] %>">
        <% end %>
    </div>
    <% end %>

    <p id="serviceName"><span>Puavo</span></p>

    <ul id="services">
    <% @services.each do |service| %>
        <% key = service.keys.first %>
        <% link_name = service[key]["link_name"] || t(".service_link_name_#{ key }") %>
        <li><%= link_to link_name, service[key]["url"] %></li>
    <% end %>
    </ul>

    <div id="logoRow">
        <a href="https://opinsys.fi/" target="_blank"><img src="/login/opinsys_logo.svg" alt="Opinsys Oy"></a>
    </div>
</div>
