<%= start_box t('.cups_settings') %>
  <table>
    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.printerDescription") %></th>
      <td><%= h device.attributes.include?("printerDescription") ? device.printerDescription : "" %></td>
    </tr>

    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.printerURI") %></th>
      <td><%= h device.attributes.include?("printerURI") ? device.printerURI : "" %></td>
    </tr>

    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.printerLocation") %></th>
      <td><%= h device.attributes.include?("printerLocation") ? device.printerLocation : "" %></td>
    </tr>

    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.printerMakeAndModel") %></th>
      <td><%= h device.attributes.include?("printerMakeAndModel") ? device.printerMakeAndModel : "" %></td>
    </tr>

    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.puavoPrinterCartridge") %></th>
      <td><%= h device.puavoPrinterCartridge %></td>
    </tr>
  </table>
<%= end_box %>
