<% form_for(@device, :url => new_device_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <div>Select device roles</div>
    <% @roles.each do |r| %>
    <div>
      <label><input<%= @device.classes.include?(r) ? ' checked="checked"' : "" %> id="role_<%= r %>" name="device[role][]" type="checkbox" value="<%= r %>" /><%=h r %></label>
  </div>
    <% end %>

  </p>

  <p>
    <%= f.submit 'Next' %>
  </p>

<% end %>
