<img src="/images/spinner.gif" style="opacity: 0; position: absolute; left: -1000px;">
<div class="superTable" id="tableDevices"></div>

<% content_for :javascript do %>
<%= javascript_include_tag "i18n/supertable2." + I18n.locale.to_s + ".js", skip_pipeline: true %>
<%= javascript_include_tag 'supertable2', skip_pipeline: true %>
<%= javascript_include_tag 'filtereditor', skip_pipeline: true %>
<% end %>

<% @is_organisation = false %>
<% @is_servers = false %>

<% content_for :post_load_javascript do %>
<script>
"use strict;"

<%= render :partial => 'shared/device_tables_common.js' %>

const DEFAULT_COLUMNS = ["hn", "type", "tags", "mac", "mfer", "model", "serial", "image", "current_image"];
const DEFAULT_SORTING = { column: "hn", dir: SortOrder.ASCENDING };

document.addEventListener("DOMContentLoaded", function() {

new SuperTable(
    // Main container DIV
    document.getElementById("tableDevices"),

    // Settings
    {
        id: "devices",
        csvPrefix: `<%= LdapOrganisation.current.o %>-<%= @school.cn %>-devices`,
        flags: TableFlag.ENABLE_COLUMN_EDITING | TableFlag.ENABLE_FILTERING | TableFlag.ENABLE_SELECTION | TableFlag.ENABLE_PAGINATION,
        locale: "<%= supertable_sorting_locale %>",
        columnDefinitions: COLUMN_DEFINITIONS,
        columnTitles: COLUMN_TITLES,
        columnOrder: COLUMN_ORDER,
        userTransforms: USER_TRANSFORM_FUNCTIONS,
        actions: userActions,
        openCallback: openCallback,
        massSelects: MASS_SELECTS,
        massOperations: MASS_OPERATIONS,
        defaultColumns: DEFAULT_COLUMNS,
        defaultSorting: DEFAULT_SORTING,
        filterPresets: FILTER_PRESETS,
        dynamicData: "/devices/<%= @school.id %>/get_school_devices_list",
    }
);
});

</script>
<% end %>

<% content_for :tools do %>
<ul>
  <li id="addNewDeviceTitle">
    <%= form_for(@device, :url => new_device_path(@school), html: { method: :get }) do |f| %>
    <span><%= t('devices.index.add_new_device') %>:</span>
    <%= select_tag "device_type",
        options_for_select( @device_types ) %>
      <%= f.submit t('link.add'), id: "device_submit" %>
    <% end %>
  </li>
</ul>
<% end %>
