<% page_title t('titles.schools'), @school.displayName, t('titles.devices'), @device.cn, t('titles.change_school') %>

<div class="formContainer">

<h1><%= t('.title', :name => @device.puavoHostname) %></h1>

<%= form_for("device", :url => change_school_device_path(@school, @device))  do |f| %>

<table class="editForm">
  <tr>
    <th><%= label_tag :new_school, t('.select_new_school') %></td>
    <td><%= select_tag :new_school, options_from_collection_for_select(@schools, "puavoId", "displayName") %></td>
  </tr>

  <tr class="buttonRow">
    <td colspan="2">
      <%= f.submit t('.submit'), class: 'btn' %>
    </td>
  </tr>
</table>
<% end %>

</div>
