<% page_title t('titles.schools'), @school.displayName, t('titles.devices'), @device.cn, t('titles.device_hw_info') %>

<h1 class="hwInfoTitle"><%= t('hwinfo.title', :name => @device.puavoHostname) %></h1>

<a href="<%= device_path(@school, @device) %>" class="btn"><%= t('hwinfo.back_button') %></a>

<p class="hwInfoTimestamp"><strong><%= t('hwinfo.received_timestamp') %>:</strong> <%= Time.at(@info['timestamp']).localtime %></p>

<table class="hwInfoTable">

<!-- General -->

<tr>
  <th class="main"><%= t('hwinfo.image.name') %></th>
  <td colspan="2"><%= @info['this_image'] || '?' %></td>
</tr>

<tr>
  <th class="main"><%= t('hwinfo.image.release') %></th>
  <td colspan="2"><%= @info['this_release'] || '?' %></td>
</tr>

<tr class="sectionEnd">
  <th class="main"><%= t('hwinfo.image.kernel') %></th>
  <td colspan="2"><%= @info['kernelrelease'] || '?' %></td>
</tr>

<!-- CPU -->

<tr>
  <th class="main" rowspan="2"><%= t('hwinfo.cpu.title') %></th>
  <th><%= t('hwinfo.cpu.cores') %></th>
  <td><%= @info['processorcount'] || '?' %></td>
</tr>

<tr class="sectionEnd">
  <th><%= t('hwinfo.cpu.name') %></th>
  <td><%= @info['processor0'] || '?' %></td>
</tr>

<!-- Memory -->

<tr>
  <th class="main" rowspan="2"><%= t('hwinfo.memory.title') %></th>
  <th><%= t('hwinfo.memory.total') %></th>
  <td><%= (@info['memorysize_mb'] || '0').to_i %> MiB</td>
</tr>

<tr class="sectionEnd">
  <th><%= t('hwinfo.memory.modules.title') %></th>
  <td>
    <% Array(@info['memory'] || []).each_with_index do |mem, index| %>
    <%= index + 1 %>:
    <% if mem['size'].to_i > 0 %>
    <strong><%= t('hwinfo.memory.modules.size') %>:</strong> <%= mem['size'] %> MiB
    <strong><%= t('hwinfo.memory.modules.slot') %>:</strong> <%= mem['slot'] %>
    <strong><%= t('hwinfo.memory.modules.product') %>:</strong> <%= mem['product'] %>
    <strong><%= t('hwinfo.memory.modules.vendor') %>:</strong> <%= mem['vendor'] %>
    <% else %>
    <%= t('hwinfo.memory.modules.empty') %>
    <% end %>
    <br>
    <% end %>
  </td>
</tr>

<!-- Storage -->

<tr class="sectionEnd">
  <th class="main"><%= t('hwinfo.hard_drive.title') %></th>
  <td colspan="2">
    <% if @info['blockdevice_sda_model'] %>
    <%= @info['blockdevice_sda_model'] || '?' %>,
    <%= ((@info['blockdevice_sda_size'].to_f || 0.0) / (1024.0 * 1024.0 * 1024.0)).to_i %> GiB
    <% if @info['ssd'] == "1" %>[SSD]<% end %>
    <% else %>
    <%= t('hwinfo.hard_drive.none') %>
    <% end %>
  </td>
</tr>

<!-- WiFi -->

<tr class="sectionEnd">
  <th class="main"><%= t('hwinfo.wifi.title') %></th>
  <td colspan="2"><%= @info['wifi'] || '?' %></td>
</tr>

<!-- Product -->

<tr class="sectionEnd">
  <th class="main"><%= t('hwinfo.product.title') %></th>
  <td colspan="2"><%= @info['productname'] || '?' %></td>
</tr>

<!-- BIOS -->

<tr>
  <th class="main" rowspan="3"><%= t('hwinfo.bios.title') %></th>
  <th><%= t('hwinfo.bios.vendor') %></th>
  <td><%= @info['bios_vendor'] || '?' %></td>
</tr>

<tr>
  <th><%= t('hwinfo.bios.version') %></th>
  <td><%= @info['bios_version'] || '?' %></td>
</tr>
<tr class="sectionEnd">
  <th><%= t('hwinfo.bios.date') %></th>
  <td><%= @info['bios_release_date'] || '?' %></td>
</tr>

<!-- Serial numbers -->

<tr>
  <th class="main" rowspan="2"><%= t('hwinfo.serial.title') %></th>
  <th><%= t('hwinfo.serial.device') %></th>
  <td><%= @info['serialnumber'] || '?' %></td>
</tr>

<tr class="sectionEnd">
  <th><%= t('hwinfo.serial.mainboard') %></th>
  <td><%= @info['boardserialnumber'] || '?' %></td>
</tr>

<!-- lspci values -->

<tr class="sectionEnd">
  <th class="main"><%= t('hwinfo.lspci.title') %></th>
  <td colspan="2">
    <% Array(@info['lspci_values'] || []).each do |lspci| %>
      <%= lspci %><br>
    <% end %>
  </td>
</tr>

<!-- lsusb values -->

<tr>
  <th class="main"><%= t('hwinfo.lsusb.title') %></th>
  <td colspan="2">
    <% Array(@info['lsusb_values'] || []).each do |lsusb| %>
      <%= lsusb %><br>
    <% end %>
  </td>
</tr>
</table>

<br>
<h3><%= t('hwinfo.raw_data') %></h3>
<pre class="hwInfoRaw"><%= JSON.pretty_generate(@info) %></pre>
