<%= render :partial => 'shared/main_information', :locals => { :device => @device} %>
<div class="dashboard">
<%= render :partial => 'shared/linux_device_information', :locals => { :device => @device} %>

<% if @device.classes.include?('puavoPrinter') %>
<%= render :partial => 'cups', :locals => { :device => @device } %>
<% end %>
</div>

<% content_for :right do %>
<ul class="sub-tools">
  <li>
    <%= link_to edit_device_path(@school, @device), :class => 'btn' do %>
      <i class="icon-pencil"></i><%= t('link.edit') %>
    <% end %>
  </li>
  <li class="tool">
    <span class="btn"><i class='icon-collapse'></i><%= t('link.more')%></span>
    <ul>
      <li>
        <% if @device.userCertificate %>
          <%= link_to revoke_certificate_device_path(@school, @device), :method => :delete do %>
            <i class="icon-cancel"></i><%= t('link.set_install_mode') %>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to select_school_device_path(@school, @device) do%>
          <i class="icon-exchange"></i><%= t('.change_school') %>
        <% end %>
      </li>
      <li>
        <%= link_to(device_path(@school, @device),
        :confirm => t('destroy_confirm', :object_name => @device.puavoHostname),
        :method => :delete ) do %>
          <i class="icon-trash"></i><%= t('link.destroy') %>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
<% end %>
