<%= render :partial => 'shared/main_information', :locals => { :device => @device} %>
<div class="dashboard">
<%= render :partial => 'shared/linux_device_information', :locals => { :device => @device} %>

<% if @device.classes.include?('puavoPrinter') %>
<%= render :partial => 'cups', :locals => { :device => @device } %>
<% end %>
</div>

<% content_for :right do %>
<div><%= link_to t('link.edit'), edit_device_path(@school, @device) %></div>
<div>
  <%= link_to( t('link.destroy'),
      device_path(@school, @device),
      :confirm => t('destroy_confirm', :object_name => @device.puavoHostname),
      :method => :delete ) %>
</div>
<% if @device.userCertificate %>
  <div><%= link_to t('link.set_install_mode'), revoke_certificate_device_path(@school, @device), :method => :delete %></div>
<% end %>
  <div>
    <%= link_to t('.change_school'), select_school_device_path(@school, @device) %>
  </div>
<% end %>
