<h1>Listing automounts</h1>

<table>
  <tr>
    <th>Cn</th>
  </tr>

<% @automounts.each do |automount| %>
  <tr>
    <td><%=h automount.cn %></td>
    <td><%= link_to 'Show', server_automount_path(@server, automount) %></td>
    <td><%= link_to 'Edit', edit_server_automount_path(@server, automount) %></td>
    <td><%= link_to 'Destroy', server_automount_path(@server, automount), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', @server %> |
<%= link_to 'New automount', new_server_automount_path(@server) %>
