<h1><%= t('.title') %></h1>

<p>
<%= t('.head') %>
</p>

<% if flash.has_key?(:notice) %>
<% if flash.has_key?(:notice_css_class) %>
<p class='<%= flash[:notice_css_class] %>'>
<% else %>
<p class="notice">
  <% end %>
  <%= flash[:notice] %>
</p>
<% end %>

<p><%= link_to t('.link_own_password'), own_password_path %></p>

<% form_for(@user, :url => password_path, :html => { :method => :put })  do |f| %>
<%= f.error_messages %>

<table>
<tr>
<td colspan="2"><h2 style="text-align: center; margin: 20px 0px 0px 0px;"><%= t('.changing_user') %></h2></td>
</tr>

<tr>
  <td><%= label :login, :uid, t('activeldap.attributes.user.uid') %></td>
  <td><%= text_field :login, :uid %></td>
</tr>

<tr>
  <td><%= label :login, :password, t('.password') %></td>
  <td><%= password_field :login, :password %></td>
</tr>

<td colspan="2"><h2 style="text-align: center; margin: 20px 0px 0px 0px;"><%=t('.changed_user') %></h2></td>
<tr>
  <td><%= f.label :uid, t('activeldap.attributes.user.uid') %></td>
  <td><%= text_field :user, :uid, :value => "" %></td>
</tr>

<tr>
  <td><%= f.label :new_password, t('activeldap.attributes.user.new_password') %></td>
  <td><%= password_field :user, :new_password, :value => "" %></td>
</tr>

<tr>
  <td><%= f.label :new_password_confirmation, t('activeldap.attributes.user.new_password_confirmation') %></td>
  <td><%= password_field :user, :new_password_confirmation, :value => "" %></td>
</tr>

<tr>
  <td></td>
  <td><%= f.submit t('link.change_password') %></td>
</tr>

</table>

<% end %>
