<% content_for :extra_password_js do %>
<%= javascript_include_tag 'password_validator', skip_pipeline: true %>
<% end %>

<% content_for :password_validator do %>
<%= setup_password_validator(@organisation_name, -1) %>
<% end %>

<% content_for :title do %><%= t('.title') %><% end %>

<% content_for :password_tabs do %>
<ul>
  <li>
    <%= link_to own_password_path(:lang => @language, :changing => @changing || ''), :id => "left" do %>
      <%= t('password.edit.link_own_password') %>
    <% end %>
  </li>

  <li><span id="right"><%= t('password.own.link_other_password') %></span></li>
</ul>
<% end %>

<p class="genericNotice"><%= t('.head') %></p>

<p class="genericWarning"><%= t('password.attempts_are_logged_other') %></p>

<% if @banner %>
<div class="genericNotice"><%= @banner.html_safe %></div>
<% end %>

<%= form_for(@user, :url => password_path, :html => { :method => :put })  do |f| %>
  <h2><%= t('.changing_user') %></h2>

  <table class="editForm">
    <tr>
      <th><%= label :login, :uid, t('activeldap.attributes.user.uid') %></th>
      <td>
        <% if @domain %>
        <div class="passwordDomainContainer">
        <%= text_field :login, :uid, :value => @changing, :autofocus => (@changing.nil? || @changing.empty?) ? true : false, :required => "required" %>
        <span><%= Array(@domain).map { |d| "<strong>#{d}</strong>" }.join(t('password.edit.domain_or')).html_safe %></span>
        </div>
        <% else %>
        <%= text_field :login, :uid, :value => @changing, :autofocus => (@changing.nil? || @changing.empty?) ? true : false, :required => "required" %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th><%= label :login, :password, t('.password') %></th>
      <td><%= password_field :login, :password, :autofocus => (@changing.nil? || @changing.empty?) ? false : true, :required => "required" %></td>
    </tr>
  </table>

  <h2><%= t('.changed_user') %></h2>

  <table class="editForm">
    <tr>
      <th><%= f.label :uid, t('activeldap.attributes.user.uid') %></th>
      <td>
        <% if @domain %>
        <div class="passwordDomainContainer">
        <%= text_field :user, :uid, :value => @changed, :required => "required" %>
        <span><%= Array(@domain).map { |d| "<strong>#{d}</strong>" }.join(t('password.edit.domain_or')).html_safe %></span>
        </div>
        <% else %>
        <%= text_field :user, :uid, :value => @changed, :required => "required" %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :new_password, t('activeldap.attributes.user.new_password') %></th>
      <td>
        <%= show_password_requirements(@organisation_name, -1) %>
        <%= password_field :user, :new_password, :value => "", :required => "required" %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :new_password_confirmation, t('activeldap.attributes.user.new_password_confirmation') %></th>
      <td><%= password_field :user, :new_password_confirmation, :value => "", :required => "required" %></td>
    </tr>

    <tr class="buttonRow">
      <td colspan="2">
        <input type="hidden" name="changing" value="<%= @changing %>"/>
        <input type="hidden" name="lang" value="<%= @language %>"/>
        <%= f.submit t('link.change_password'), class: 'btn', id: "submit" %>
      </td>
    </tr>
  </table>
<% end %>

<script>
document.getElementById("submit").addEventListener("click", function(e) {
  const login_uid = document.getElementById("login_uid").value,
        login_password = document.getElementById("login_password").value,
        user_uid = document.getElementById("user_uid").value,
        password = document.getElementById("user_new_password").value,
        password2 = document.getElementById("user_new_password_confirmation").value;

  var target = e.target;

  // Prevent the form from being submitted unless it has been fully filled out.
  // Also disable the submit button to prevent double-submissions.
  if (login_uid.length > 0 && login_password.length > 0 && user_uid.length > 0 &&
      password.length > 0 && password2.length > 0 &&
      password == password2) {
    // disable the submit button
    setTimeout(function() {
      target.value = "...";
      target.disabled = true;
    }, 0);
  } else {
    // don't send the form, not all fields are filled in
    e.preventDefault();
  }
});
</script>
