<% content_for :title do %><%= t('.title') %><% end %>

<p><%= t('.description') %></p>

<%= form_for(:forgot, :url => forgot_send_token_password_path, :html => { :method => :put })  do |f| %>
  <table class="editForm">
    <tr>
      <th><%= label :forgot, :email, t('activeldap.attributes.user.mail') %></th>
      <td><%= text_field :forgot, :email, :required => 'required' %></td>
    </tr>

    <tr class="buttonRow">
      <td colspan="2">
        <input type="hidden" name="lang" value="<%= @language %>"/>
        <%= f.submit t('link.continue'), class: 'btn' %>
      </td>
    </tr>
  </table>
<% end %>
