<% content_for :title do %>
<h1><%= t('.title') %></h1>
<% end %>

<div class="password_buttons">
<span class="active">
  <%= link_to own_password_path(:lang => @language) do%>
    <i class="icon-key"></i><%= t('password.edit.link_own_password') %>
  <% end %>
</span>
<span>
  <%= link_to password_path(:lang => @language) do %>
    <i class="icon-key"></i><%= t('password.own.link_other_password') %>
  <% end %>
</span>
</div>

<% if @expired %>
<p class="message_alert"><%= t('password.current_password_too_old') %></p>
<% end %>

<% if @password_requirements == 'Google' %>
<p class="message-info"><%= t('password.gsuite_integration_enabled') %></p>
<% elsif @password_requirements == 'SixCharsMin' %>
<p class="message-info"><%= t('password.six_chars_min') %></p>
<% end %>

<%= form_for(@user, :url => password_path, :html => { :method => :put })  do |f| %>
  <table class="editForm">
    <tr>
      <th><%= label :login, :uid, t('activeldap.attributes.user.uid') %></th>
      <td><%= text_field :login, :uid, :value => @changing || '', :autofocus => @changing.nil? ? true : false %></td>
    </tr>

    <tr>
      <th><%= label :login, :password, t('.password') %></th>
      <td><%= password_field :login, :password, :autofocus => @changing.nil? ? false : true %></td>
    </tr>

    <tr>
      <th><%= f.label :new_password, t('activeldap.attributes.user.new_password') %></th>
      <td><%= password_field :user, :new_password, :value => "" %></td>
    </tr>

    <tr>
      <th><%= f.label :new_password_confirmation, t('activeldap.attributes.user.new_password_confirmation') %></th>
      <td><%= password_field :user, :new_password_confirmation, :value => "" %></td>
    </tr>

    <tr class="buttonRow">
      <th></th>
      <td><%= f.submit t('link.change_password'), class: 'btn' %></td>
    </tr>
  </table>
<% end %>
