<% content_for :title do %>
<h1><%= t('.title') %></h1>
<% end %>
<div class="password_buttons">
<span class="active"><%= link_to t('password.edit.link_own_password'), own_password_path %></span>
<span class="change_other_pswd"><%= link_to t('password.own.link_other_password'), password_path %></span>
</div>

<% form_for(@user, :url => password_path, :html => { :method => :put })  do |f| %>
<%= f.error_messages %>

<table>
<tr>
  <td><%= label :login, :uid, t('activeldap.attributes.user.uid') %></td>
  <td><%= text_field :login, :uid %></td>
</tr>

<tr>
  <td><%= label :login, :password, t('.password') %></td>
  <td><%= password_field :login, :password %></td>
</tr>

<tr>
  <td><%= f.label :new_password, t('activeldap.attributes.user.new_password') %></td>
  <td><%= password_field :user, :new_password, :value => "" %></td>
</tr>

<tr>
  <td><%= f.label :new_password_confirmation, t('activeldap.attributes.user.new_password_confirmation') %></td>
  <td><%= password_field :user, :new_password_confirmation, :value => "" %></td>
</tr>

<tr>
  <td></td>
  <td><%= f.submit t('link.change_password') %></td>
</tr>

</table>

<% end %>
