<% page_title t('titles.organisation'), t('titles.all_users') %>

<% content_for :javascript do %>
<%= javascript_include_tag "i18n/supertable2." + I18n.locale.to_s + ".js", skip_pipeline: true %>
<%= javascript_include_tag 'filtereditor', skip_pipeline: true %>
<%= javascript_include_tag 'supertable2', skip_pipeline: true %>
<% end %>

<% @is_organisation = true %>

<h1><%= t('titles.all_users') %></h1>

<div class="superTable" id="tableUsers"></div>

<% content_for :post_load_javascript do %>
<script>
"use strict;"

<%= render :partial => 'shared/user_tables_common.js' %>

const DEFAULT_COLUMNS = ["school", "uid", "name", "role", "eid", "locked", "dnd", "rrt"];
const DEFAULT_SORTING = { column: "name", dir: SortOrder.ASCENDING };

window.onload = function(e) {
    new SuperTable(
        // Main container DIV
        document.getElementById("tableUsers"),

        // Settings
        {
            id: "orgUsers",
            csvPrefix: `<%= LdapOrganisation.current.o %>-users`,

            flags: TableFlag.ALLOW_SELECTION | TableFlag.ALLOW_FILTERING | TableFlag.ALLOW_COLUMN_CHANGES,

            locale: "<%= supertable_sorting_locale %>",

            columnDefinitions: COLUMN_DEFINITIONS,
            columnTitles: COLUMN_TITLES,
            columnOrder: COLUMN_ORDER,
            userTransforms: USER_TRANSFORM_FUNCTIONS,
            actions: userActions,

            massOperations: MASS_OPERATIONS,

            defaultColumns: DEFAULT_COLUMNS,
            defaultSorting: DEFAULT_SORTING,
            filterPresets: FILTER_PRESETS,
            initialFilters: null,
            defaultFilterColumn: "uid",

            // The URL to get the data from
            source: "/get_all_users",
        }
    );
};
</script>
<% end %>
