<% page_title t('titles.organisation'), t('titles.all_devices') %>

<% content_for :javascript do %>
<%= javascript_include_tag "i18n/supertable2." + I18n.locale.to_s + ".js", skip_pipeline: true %>
<%= javascript_include_tag 'filtereditor', skip_pipeline: true %>
<%= javascript_include_tag 'supertable2', skip_pipeline: true %>
<% end %>

<% @is_organisation = true %>
<% @is_servers = false %>

<h1><%= t('titles.all_devices') %></h1>

<div class="superTable" id="tableDevices"></div>

<% content_for :post_load_javascript do %>
<script>
"use strict;"

<%= render :partial => 'shared/device_tables_common.js' %>

const DEFAULT_COLUMNS = ["school", "hw_time", "hn", "type", "tags", "mac", "current_image", "ram", "hd", "cpu"];
const DEFAULT_SORTING = { column: "hw_time", dir: SortOrder.DESCENDING };

window.onload = function(e) {
    new SuperTable(
        // Main container DIV
        document.getElementById("tableDevices"),

        // Settings
        {
            id: "orgDevices",
            csvPrefix: `<%= LdapOrganisation.current.o %>-devices`,

            flags: TableFlag.ALLOW_SELECTION | TableFlag.ALLOW_FILTERING | TableFlag.ALLOW_COLUMN_CHANGES,

            locale: "<%= supertable_sorting_locale %>",

            columnDefinitions: COLUMN_DEFINITIONS,
            columnTitles: COLUMN_TITLES,
            columnOrder: COLUMN_ORDER,
            userTransforms: USER_TRANSFORM_FUNCTIONS,
            actions: userActions,

            massOperations: MASS_OPERATIONS,

            defaultColumns: DEFAULT_COLUMNS,
            defaultSorting: DEFAULT_SORTING,
            filterPresets: FILTER_PRESETS,
            initialFilters: null,
            defaultFilterColumn: "hn",

            // The URL to get the data from
            source: "/get_all_devices",
        }
    );
};
</script>
<% end %>
