<h1><span><%= t('.title') %></span></h1>

<%= form_for(@organisation, :url => organisation_path)  do |f| %>
<table>
  <tr>
    <td><%= f.label :o %></td>
    <td><%= f.text_field :o %></td>
  </tr>
  <tr>
    <td><%= f.label :puavoEduOrgAbbreviation %></td>
    <td><%= f.text_field :puavoEduOrgAbbreviation %></td>
  </tr>
  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_field :description %></td>
  </tr>
  <tr>
    <td><%= f.label :telephoneNumber %></td>
    <td><%= f.text_field :telephoneNumber %></td>
  </tr>
  <tr>
    <td><%= f.label :facsimileTelephoneNumber %></td>
    <td><%= f.text_field :facsimileTelephoneNumber %></td>
  </tr>
  <tr>
    <td><%= f.label :l %></td>
    <td><%= f.text_field :l %></td>
  </tr>
  <tr>
    <td><%= f.label :street %></td>
    <td><%= f.text_field :street %></td>
  </tr>
  <tr>
    <td><%= f.label :postOfficeBox %></td>
    <td><%= f.text_field :postOfficeBox %></td>
  </tr>
  <tr>
    <td><%= f.label :postalAddress %></td>
    <td><%= f.text_field :postalAddress %></td>
  </tr>
  <tr>
    <td><%= f.label :postalCode %></td>
    <td><%= f.text_field :postalCode %></td>
  </tr>
  <tr>
    <td><%= f.label :st %></td>
    <td><%= f.text_field :st %></td>
  </tr>
  <tr>
    <td><%= f.label :preferredLanguage %></td>
    <td>
      <%= f.select :preferredLanguage,
          [[t('language_default'), ""]] +
            Puavo.available_languages.map {|lang| [ t('language_' + lang), lang ] } %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :eduOrgHomePageURI %></td>
    <td><%= f.text_field :eduOrgHomePageURI %></td>
  </tr>
  <tr>
	<td class="label_td"><%= f.label :puavoDeviceAutoPowerOffMode %></td>
	<td>
	  <table id="autopoweroff">
	  <tr>
		<td class="label_td">
		  <%= f.label :puavoDeviceAutoPowerOffMode_default %>
		</td>
		<td class="label_td">
		  <%= f.label :puavoDeviceAutoPowerOffMode_off %>
		</td>
		<td class="label_td">
		  <%= f.label :puavoDeviceAutoPowerOffMode_custom %>
		</td>
	  </tr>
	  <tr>
		<td>
		  <%= f.radio_button :puavoDeviceAutoPowerOffMode, "default" %>
		</td>
		<td>
		  <%= f.radio_button :puavoDeviceAutoPowerOffMode, "off" %>
		</td>
		<td>
		  <%= f.radio_button :puavoDeviceAutoPowerOffMode, "custom" %>
		</td>
	  </tr>
	  <tr>
		<td class="label_td"><%= f.label :puavoDeviceOnHour %></td>
		<td class="label_td"><%= f.label :puavoDeviceOffHour %></td>
	  </tr>
	  <tr>
		<td>
		  <%= f.select( :puavoDeviceOnHour,
                    [[t('.select'), '']] + (1..24).each.map{ |h| [h.to_s, h.to_s] },
                    :selected => (f.object.puavoDeviceOnHour or "") ) %>
		</td>
		<td>
		  <%= f.select( :puavoDeviceOffHour,
                        [[t('.select'), '']] + ( (1..24).map{ |h| [h.to_s, h.to_s] } ),
                        :selected => (f.object.puavoDeviceOffHour or "" ) ) %>
		</td>
	  </tr>
	  </table>
	</td>
  </tr>

  <tr>
    <td>
      <%= f.label :puavoBillingInfo %>
    </td>
    <td>

    <div id="organisation_puavoBillingInfo">
      <% if Array(f.object.puavoBillingInfo).empty? %>
        <input name='ldap_organisation[puavoBillingInfo][]' type='text' />
      <% else %>
        <% Array(f.object.puavoBillingInfo).each_index do |index| %>
          <input name='ldap_organisation[puavoBillingInfo][]' type='text' value='<%= Array(f.object.puavoBillingInfo)[index] %>' />
        <% end %>
      <% end %>
    </div>
    <%= link_to t('.add_puavo_billing_info'), "#", :class => "clone_prev_input_element" %>

    </td>
  </tr>

  <tr>
    <td><%= f.submit t('link.update') %>
      <div class="cancel"><%= link_to t('link.cancel'), organisation_path, :class => 'cancel_button' %></div></td>
  </tr>
</table>
<% end %>

<% content_for :footer do %>
<ul>  
  <li class="link_header">
    <%= link_to t('layouts.application.schools'),  schools_path %> 
  </li>
  <% school_list.each do |school| %>
  <li<% if school_list.last == school %> class="last"<% end %>>
    <%= link_to school.displayName,  school_path(school) %></li>
  <% end %>
</ul>
<% end %>

<% content_tag :javascript do %>
  <%= javascript_include_tag "organisations/edit" %>
<% end %>
