<% page_title t('titles.organisation'), t('titles.all_users_marked_for_deletion') %>

<h1><span><%= t('organisations.deleted_users.title') %></span></h1>

<form id="allDeletedUsers">
  <fieldset>
    <legend><%= t('organisations.deleted_users.time_range') %></legend>
    <p><%= t('organisations.deleted_users.range_title') %></p>
    <ul>
    <% @form_dates.each do |d| %>
      <li>
      <% if d[:selected] %>
      <%= d[:title] %>
      <% else %>
      <%= link_to d[:title], find_all_users_marked_for_deletion_path(:before => d[:before], :index => d[:index]) %>
      <% end %>
      <% if d[:default] %> <%= t('organisations.deleted_users.default') %><% end %>
      </li>
    <% end %>
    </ul>
    <p><%= t('organisations.deleted_users.total', :count => @total) %></p>
  </fieldset>
</form>

<% unless @all_members.empty? %>
<%= link_to delete_all_users_marked_for_deletion_path(:before => @before), method: :delete,
            class: "btn btn-danger", data: { confirm: t('general_confirm') } do %>
  <i class='icon-trash'></i><%= t('organisations.deleted_users.delete_listed') %>
<% end %>
<% end %>

<% @all_members.each do |school| %>
<h2><%= link_to school[:school].displayName, users_path(school[:school]) %></h2>
<% members = school[:members] %>
<p><%= members.size %> <%= t('users.index.users') %></p>

<table class="list marked_for_deletion_users_list">
  <tr class="thead">
    <th><%= t('activeldap.attributes.user.displayName') %></th>
    <th><%= t('activeldap.attributes.user.uid') %></th>
    <th><%= t('activeldap.attributes.user.puavoEduPersonAffiliation') %></th>
    <th><%= t('users.show.marked_for_removal') %></th>
  </tr>
  <% members.each do |m| %>
  <tr>
    <td>
      <%= link_to "#{m.sn} #{m.givenName}", user_path(school[:school], m.id) %>
      <% if m.puavoLocked %><i class='icon-lock' title="<%= t('users.show.user_is_locked') %>"></i><% end %>
    </td>
    <td><%= h m.uid %></td>
    <td><%= h t('puavoEduPersonAffiliation_' + Array(m.puavoEduPersonAffiliation).first.to_s) %></td>
    <td><abbr title="<%= m.puavoRemovalRequestTime.localtime %>"><%= @fuzzy[m.uid] %></abbr></td>
  </tr>
  <% end %>
</table>
<% end %>
