<% page_title t('titles.organisation'), t('titles.owners') %>

<h1><%= t('.title') %></h1>

<% unless Array(@missing).empty? %>
<div class="genericWarning">
  <p><strong><%= t('.removed_owners_title') %></strong> <%= t('.removed_owners_warning') %></p>
  <ul>
  <% Array(@missing).each do |m| %>
    <li><%= m %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= start_box t('.organisation_owners') %>
  <table>
    <% Array(@owners).each do |u| %>
    <tr>
      <td><%= link_to u.displayName, user_path(u.school, u) %> (<%= u.school.displayName %>)</td>
      <td><%= link_to(t('link.remove'),
                      remove_owner_organisations_path(u),
                      method: :put,
                      id: "remove_user_#{u.id}",
                      class: 'btn btn-danger') %></td>
    </tr>
    <% end %>
  </table>
<%= end_box %>

<%= start_box t('.other_admin_users') %>
  <table>
    <% Array(@allowed_owners).each do |u| %>
    <tr>
      <td><%= link_to u.displayName, user_path(u.school, u) %> (<%= u.school.displayName %>)</td>
      <td><%= link_to(t('link.add'),
                      add_owner_organisations_path(u),
                      method: :put,
                      id: "add_user_#{u.id}",
                      class: 'btn') %></td>
    </tr>
    <% end %>
  </table>
</div>
