<% page_title t('titles.organisation'), t('titles.owners') %>

<h1><%= t('.title') %></h1>

<%= start_box t('.organisation_owners') %>
  <table id="currentOwners">
    <% Array(@owners).each do |u| %>
    <% if u.puavoRemovalRequestTime %>
    <tr class="groupUserMarkedForDeletion">
    <% else %>
    <tr>
    <% end %>
      <td>
        <%= link_to "#{u.displayName} (#{u.uid})", user_path(u.school, u) %> (<%= u.school.displayName %>)
        <% if u.puavoLocked %><i class="icon-lock"></i><% end %>
      </td>
      <td>
        <% if @logged_in_user == u.dn.to_s %>
        <span class="noOwnerSelfRemove"><%= t('organisations.owners.cant_remove_yourself') %></span>
        <% else %>
        <%= link_to(t('link.remove') + ' ►',
                      remove_owner_organisations_path(u),
                      method: :put,
                      id: "remove_user_#{u.id}",
                      class: 'btn') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<%= end_box %>

<%= start_box t('.other_admin_users') %>
  <table id="availableAdmins">
    <% Array(@allowed_owners).each do |u| %>
    <% if u.puavoRemovalRequestTime %>
    <tr class="groupUserMarkedForDeletion">
    <% else %>
    <tr>
    <% end %>
      <td>
        <%= link_to "#{u.displayName} (#{u.uid})", user_path(u.school, u) %> (<%= u.school.displayName %>)
        <% if u.puavoLocked %><i class="icon-lock"></i><% end %>
      </td>
      <td><%= link_to('◄ ' + t('link.add'),
                      add_owner_organisations_path(u),
                      method: :put,
                      id: "add_user_#{u.id}",
                      class: 'btn') %></td>
    </tr>
    <% end %>
  </table>
<%= end_box %>
