<div class="content-box">
<h3><%= t('.title') %></h3>
<table>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "o" %></td>
    <td data-title="<%=h @organisation.o %>" class="value_td"><%=h @organisation.o %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "puavoEduOrgAbbreviation" %></td>
    <td class="value_td"><%=h @organisation.puavoEduOrgAbbreviation %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "description" %></td>
    <td class="value_td"><%=h @organisation.description %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "telephoneNumber" %></td>
    <td class="value_td"><%=h @organisation.telephoneNumber %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "facsimileTelephoneNumber" %></td>
    <td class="value_td"><%= @organisation.facsimileTelephoneNumber %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "l" %></td>
    <td class="value_td"><%= @organisation.l %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "street" %></td>
    <td class="value_td"><%= @organisation.street %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "postOfficeBox" %></td>
    <td class="value_td"><%= @organisation.postOfficeBox %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "postalAddress" %></td>
    <td class="value_td"><%= @organisation.postalAddress %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "postalCode" %></td>
    <td class="value_td"><%= @organisation.postalCode %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "st" %></td>
    <td class="value_td"><%= @organisation.st %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "puavoLocale" %></td>
    <td class="value_td"><%=h language_by_locale(@organisation.puavoLocale) %></tr>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "puavoTimezone" %></td>
    <td class="value_td"><%=h @organisation.puavoTimezone %></tr>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "eduOrgHomePageURI" %></td>
    <td class="value_td"><%= @organisation.eduOrgHomePageURI %></td>
  </tr>
  <tr>
	<td class="label_td view"><%= label "ldap_organisation", "puavoDeviceAutoPowerOffMode" %></td>
	<td class="value_td">
	  <%=h t('puavoDeviceAutoPowerOffMode_' + (@organisation.puavoDeviceAutoPowerOffMode or 'default'),
      :scope => 'activeldap.attributes.ldap_organisation') %>
	</td>
  </tr>
  <tr>
	<td class="label_td view"><%= label "ldap_organisation", "puavoDeviceOnHour" %></td>
	<td class="value_td">
	  <%=h @organisation.puavoDeviceOnHour %>
	</td>
  </tr>
  <tr>
	<td class="label_td view"><%= label "ldap_organisation", "puavoDeviceOffHour" %></td>
	<td class="value_td">
	  <%=h @organisation.puavoDeviceOffHour %>
	</td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "puavoDeviceImage" %></td>
    <td class="value_td"><%= @organisation.puavoDeviceImage %></td>
  </tr>
<!--
  <tr>
    <td class="label_td view">< %= label "ldap_organisation", "puavoAllowGuest" %></td>
    <td class="value_td">< %= translate_boolean_value(@organisation.puavoAllowGuest) %></td>
  </tr>
  <tr>
    <td class="label_td view">< %= label "ldap_organisation", "puavoPersonalDevice" %></td>
    <td class="value_td">< %= translate_boolean_value(@organisation.puavoPersonalDevice) %></td>
  </tr>
-->
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "puavoBillingInfo" %></td>
    <td class="value_td">
      <% Array(@organisation.puavoBillingInfo).each do |billing_info| %>
        <div><%=h billing_info %></div>
      <% end %>
    </td>
  </tr>
</table>
</div>
<% content_for :right do %>
<div>
  <%= link_to edit_organisation_path, :class=>"btn" do%>
  <i class="icon-pencil"></i> <%= t('link.edit')%>
  <% end %>
</div>
<% end %>
