<div class="dashboard_box">
<h3><%= t('.title') %></h3>
<table>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "o" %></td>
    <td class="value_td"><%=h @organisation.o %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "puavoEduOrgAbbreviation" %></td>
    <td class="value_td"><%=h @organisation.puavoEduOrgAbbreviation %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "description" %></td>
    <td class="value_td"><%=h @organisation.description %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "telephoneNumber" %></td>
    <td class="value_td"><%=h @organisation.telephoneNumber %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "facsimileTelephoneNumber" %></td>
    <td class="value_td"><%= @organisation.facsimileTelephoneNumber %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "l" %></td>
    <td class="value_td"><%= @organisation.l %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "street" %></td>
    <td class="value_td"><%= @organisation.street %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "postOfficeBox" %></td>
    <td class="value_td"><%= @organisation.postOfficeBox %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "postalAddress" %></td>
    <td class="value_td"><%= @organisation.postalAddress %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "postalCode" %></td>
    <td class="value_td"><%= @organisation.postalCode %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "st" %></td>
    <td class="value_td"><%= @organisation.st %></td>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "preferredLanguage" %></td>
    <td class="value_td"><%=h @organisation.preferredLanguage ? t('language_' + @organisation.preferredLanguage) : "" %></tr>
  </tr>
  <tr>
    <td class="label_td view"><%= label "ldap_organisation", "eduOrgHomePageURI" %></td>
    <td class="value_td"><%= @organisation.eduOrgHomePageURI %></td>
  </tr>
  <tr>
	<td class="label_td view"><%= label "ldap_organisation", "puavoDeviceAutoPowerOffMode" %></td>
	<td class="value_td">
	  <%=h t('puavoDeviceAutoPowerOffMode_' + (@organisation.puavoDeviceAutoPowerOffMode or 'default'),
      :scope => 'activeldap.attributes.ldap_organisation') %>
	</td>
  </tr>
  <tr>
	<td class="label_td view"><%= label "ldap_organisation", "puavoDeviceOnHour" %></td>
	<td class="value_td">
	  <%=h @organisation.puavoDeviceOnHour %>
	</td>
  </tr>
  <tr>
	<td class="label_td view"><%= label "ldap_organisation", "puavoDeviceOffHour" %></td>
	<td class="value_td">
	  <%=h @organisation.puavoDeviceOffHour %>
	</td>
  </tr>
</table>
</div>
<% content_for :right do %>
<div><%= link_to t('link.edit'), edit_organisation_path %></div>
<% end %>

<% content_for :footer do %>
<ul>  
  <li class="link_header">
    <%= link_to t('layouts.application.schools'),  schools_path %> 
  </li>
  <% school_list.each do |school| %>
  <li<% if school_list.last == school %> class="last"<% end %>>
    <%= link_to school.displayName,  school_path(school) %></li>
  <% end %>
</ul>
<% end %>
