<% page_title t('titles.organisation'), t('shared.form_wlan.title_organisation') %>

<div class="formContainer">

<h1><%= t('shared.form_wlan.title_organisation') %></h1>

<p class="genericWarning"><%= t('shared.form_wlan.warning').html_safe %></p>

<%= form_for(@organisation, html: { multipart: true }, url: wlan_update_organisation_path) do |f| %>
    <%= render partial: 'shared/form_wlan', locals: { f: f } %>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag 'wlan', skip_pipeline: true %>
<% end %>

</div>
