<% content_for :javascript do %>
<script>
const SUPERTABLE_WORKER_FILE = "<%= javascript_path 'supertable3_worker' %>";
let GLOBAL_SUPERTABLE_INSTANCE = null;
</script>

<%= javascript_include_tag 'bundles/modal_popup' %>
<%= javascript_include_tag 'bundles/supertable3' %>
<%= javascript_include_tag 'i18n/supertable3' %>
<% end %>

<%= render 'shared/supertable_controls' %>
<div class="superTable" id="tableServers"></div>

<% @is_organisation = true %>
<% @is_servers = true %>

<% content_for :post_load_javascript do %>
<script>
"use strict;"

<%= render :partial => 'shared/device_tables_common.js' %>

const SERVERS = <%= raw JSON.pretty_generate(@servers) %>;

const DEFAULT_COLUMNS = ["hn", "schools", "available_images", "location", "mac", "mfer", "model", "serial", "current_image"];
const DEFAULT_SORTING = { column: "hn", dir: ST.SortOrder.ASCENDING };

document.addEventListener("DOMContentLoaded", function() {
    modalPopup.setupGlobalEvents();

    GLOBAL_SUPERTABLE_INSTANCE = new ST.SuperTable(
        // Main container DIV
        document.getElementById("tableServers"),

        // Settings
        {
            id: "servers",
            csvPrefix: `<%= LdapOrganisation.current.o %>-servers`,
            flags: ST.TableFlag.ENABLE_COLUMN_EDITING | ST.TableFlag.ENABLE_FILTERING,
            locale: "<%= supertable_sorting_locale %>",
            columnDefinitions: COLUMN_DEFINITIONS,
            columnTitles: COLUMN_TITLES,
            columnOrder: COLUMN_ORDER,
            userTransforms: USER_TRANSFORM_FUNCTIONS,
            actions: userActions,
            openCallback: openCallbackServers,
            massOperations: null,
            defaultColumns: DEFAULT_COLUMNS,
            defaultSorting: DEFAULT_SORTING,
            filterPresets: null,
            staticData: SERVERS,
        }
    );
});
</script>
<% end %>
