<img src="/images/spinner.gif" style="opacity: 0; position: absolute; left: -1000px;">
<div class="superTable" id="tableServers"></div>

<% content_for :javascript do %>
<%= javascript_include_tag "i18n/supertable2." + I18n.locale.to_s + ".js", skip_pipeline: true %>
<%= javascript_include_tag 'supertable2', skip_pipeline: true %>
<%= javascript_include_tag 'filtereditor', skip_pipeline: true %>
<% end %>

<% @is_organisation = true %>
<% @is_servers = true %>

<% content_for :post_load_javascript do %>
<script>
"use strict;"

<%= render :partial => 'shared/device_tables_common.js' %>

const DEFAULT_COLUMNS = ["hn", "schools", "available_images", "location", "mac", "mfer", "model", "serial", "current_image"];
const DEFAULT_SORTING = { column: "hn", dir: SortOrder.ASCENDING };

document.addEventListener("DOMContentLoaded", function() {

new SuperTable(
    // Main container DIV
    document.getElementById("tableServers"),

    // Settings
    {
        id: "servers",
        csvPrefix: `<%= LdapOrganisation.current.o %>-servers`,
        flags: TableFlag.ENABLE_COLUMN_EDITING | TableFlag.ENABLE_FILTERING | TableFlag.ENABLE_SELECTION | TableFlag.ENABLE_PAGINATION,
        locale: "<%= supertable_sorting_locale %>",
        columnDefinitions: COLUMN_DEFINITIONS,
        columnTitles: COLUMN_TITLES,
        columnOrder: COLUMN_ORDER,
        userTransforms: USER_TRANSFORM_FUNCTIONS,
        actions: userActions,
        openCallback: openCallbackServers,
        massOperations: null,
        defaultColumns: DEFAULT_COLUMNS,
        defaultSorting: DEFAULT_SORTING,
        filterPresets: null,
        source: "/devices/get_servers_list",
    }
);
});

</script>
<% end %>
