<h1><span><%= t('.title') %></span></h1>

<table class='list'>
  <tr class="thead">
    <th><%= t("activeldap.attributes.server.puavoHostname") %></th>
    <th><%= t('activeldap.attributes.server.puavoDeviceManufacturer') %></th>
    <th><%= t('activeldap.attributes.server.puavoDeviceModel') %></th>
    <th><%= t('activeldap.attributes.server.serialNumber') %></th>
    <th colspan="3"><%= t("actions") %></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td data-title="<%= t("activeldap.attributes.server.puavoHostname") %>"><%= link_to server.puavoHostname, server %></td>
    <td data-title="<%= t("activeldap.attributes.server.puavoDeviceManufacturer") %>"><%=h server.puavoDeviceManufacturer %></td>
    <td data-title="<%= t("activeldap.attributes.server.puavoDeviceModel") %>"><%=h server.puavoDeviceModel %></td>
    <td data-title="<%= t("activeldap.attributes.server.serialNumber") %>"><%=h server.serialNumber %></td>
    <td data-title="<%= t("actions") %>" class="table-actions">
      <%= link_to edit_server_path(server), :class => 'btn' do %>
        <i class="icon-pencil"></i><%= t('link.edit') %>
      <% end %>
    </td>
    <td class="table-actions">
      <%= link_to server, :confirm => t('destroy_confirm', :object_name => server.puavoHostname), :method => :delete, :class => 'btn btn-danger' do %>
        <i class="icon-trash"></i><%= t('link.destroy') %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
