<%= render :partial => 'shared/main_information', :locals => { :device => @server} %>
<div class="content-box">
  <table>
  <%= render :partial => 'shared/linux_device_information', :locals => { :device => @server} %>
  </table>

<div class="content-box">
  <h3><%= t('.automounts') %></h3>
  <table>
    <tr>
      <td class="label_td view"><%= label @server.class.to_s.downcase, "puavoExport" %></td>
      <td class="value_td"><%= Array(@server.puavoExport).join("<br />")  %></td>
    </tr>
  </table>
</div>

  <% if not Array(@server.puavoSchool).empty? %>
  <div class="content-box">
    <h3><%= t('servers.school_limit.title') %></h3>
    <table class="list widelist">
      <tr>
        <th><%= t('servers.school_limit.description') %></th>
      </tr>
      <% @server.forced_schools.each do |school| %>
      <tr>
        <td class="value_td view">
          <%= link_to school.displayName, school_path(school)  %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <% end %>

<% content_for :right do %>
  <div><%= link_to t('link.edit'), edit_server_path(@server) %></div>
  <% if @server.userCertificate %>
    <div><%= link_to t('link.set_install_mode'), revoke_certificate_server_path(@server), :method => :delete %></div>
  <% end %>
<% end %>
