<%= render :partial => 'shared/main_information', :locals => { :device => @server} %>
<div class="content-box">
  <table>
  <%= render :partial => 'shared/linux_device_information', :locals => { :device => @server} %>
  </table>

<div class="content-box">
  <h3><%= t('.automounts') %></h3>
  <table>
    <tr>
      <td class="label_td view"><%= label @server.class.to_s.downcase, "puavoExport" %></td>
      <td class="value_td"><%= raw Array(@server.puavoExport).join("<br />")  %></td>
    </tr>
  </table>
</div>

  <% if not Array(@server.puavoSchool).empty? %>
  <div class="content-box">
    <h3><%= t('servers.school_limit.title') %></h3>
    <table class="list widelist">
      <tr>
        <th><%= t('servers.school_limit.ltsp_description') %></th>
      </tr>
      <% @server.forced_schools.each do |school| %>
      <tr>
        <td class="value_td view">
          <%= link_to school.displayName, school_path(school)  %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <% end %>

<% content_for :right do %>
  <div>
    <%= link_to edit_server_path(@server), :class => 'btn' do %>
    <i class="icon-pencil"></i><%= t('link.edit') %>
    <% end %>
  </div>
  <% if @server.userCertificate %>
    <div>
      <%= link_to revoke_certificate_server_path(@server), :method => :delete, :class => 'btn btn-danger' do %>
      <i class="icon-cancel"></i><%= t('link.set_install_mode') %>
    <% end %>
    </div>
  <% end %>
<% end %>
