<%= form_for(@group, :url => path, :html => { :method => method } ) do |f| %>
<div class="no-table-form">
<p>
  <%= f.label :displayName %><br />
  <%= f.text_field :displayName %>
</p>
<p>
  <%= f.label :cn %><br />
  <%= f.text_field :cn %>
</p>
  <span>
  <%= f.submit submit_text %>
  <div class="cancel"><%= link_to t('link.cancel'), path, :class => 'btn btn-danger' %> </div>
</span>
</div>
<% end %>
