<%= form_for(@group, url: path, html: { method: method } ) do |f| %>
<div class="no-table-form">
<p>
  <%= f.label :displayName %><br />
  <%= f.text_field :displayName %>
</p>
<p>
  <%= f.label :cn %><br />
  <%= f.text_field :cn %>
</p>

<% if current_user.organisation_owner? %>

<p>
  <%= f.label :puavoExternalId %><br />
  <%= f.text_field :puavoExternalId %>
</p>

<% end %>

<p>
  <%= f.label :puavoEduGroupType %><br />
  <%= f.select :puavoEduGroupType, group_types_for_select %>
</p>
  <span>
  <%= f.submit submit_text, class: 'btn' %>
  <div class="cancel"><%=link_to t('link.cancel'),  path, class: 'btn btn-danger' %></div>
</span>
</div>
<% end %>
