<% form_for(@group, :url => path, :html => { :method => method } ) do |f| %>
<p>
  <%= f.label :displayName %><br />
  <%= f.text_field :displayName %>
</p>
<p>
  <%= f.label :cn %><br />
  <%= f.text_field :cn %>
</p>
  <span style="float:left">
  <%= f.submit submit_text %>
  <div class="cancel"><%= link_to t('link.cancel'), path, :class => 'cancel_button' %> </div>
</span>
<% end %>
