<img src="/images/spinner.gif" style="opacity: 0; position: absolute; left: -1000px;">
<div class="superTable" id="tableGroups"></div>

<% content_for :javascript do %>
<%= javascript_include_tag 'supertable2.' + I18n.locale.to_s %>
<%= javascript_include_tag 'supertable2' %>
<%= javascript_include_tag 'filtereditor' %>
<% end %>

<% content_for :post_load_javascript do %>
<script>
"use strict;"

<%= render :partial => 'shared/group_tables_common.js' %>

const DEFAULT_COLUMNS = ["name", "abbr", "type", "members_count", "eid"];
const DEFAULT_SORTING = { column: "name", dir: SortOrder.ASCENDING };

document.addEventListener("DOMContentLoaded", function() {

new SuperTable(
    // Main container DIV
    document.getElementById("tableGroups"),

    // Settings
    {
        id: "orgGroups",
        csvPrefix: `<%= LdapOrganisation.current.o %>-<%= @school.cn %>-groups`,
        flags: TableFlag.ENABLE_COLUMN_EDITING | TableFlag.ENABLE_FILTERING | TableFlag.ENABLE_SELECTION | TableFlag.ENABLE_PAGINATION,
        locale: "<%= supertable_sorting_locale %>",
        columnDefinitions: COLUMN_DEFINITIONS,
        columnTitles: COLUMN_TITLES,
        columnOrder: COLUMN_ORDER,
        userTransforms: USER_TRANSFORM_FUNCTIONS,
        actions: userActions,
        openCallback: openCallback,
        massSelects: MASS_SELECTS,
        massOperations: MASS_OPERATIONS,
        defaultColumns: DEFAULT_COLUMNS,
        defaultSorting: DEFAULT_SORTING,
        dynamicData: "/users/<%= @school.id %>/get_school_groups_list",
    }
);

});

</script>
<% end %>

<% content_for :tools do %>
<ul>
  <li>
    <%= link_to new_group_path(@school), class: 'btn' do %>
      <i class='icon-plus'></i><%= t('link.new_group') %>
    <% end %>
  </li>
</ul>
<% end %>
