<div class="superTable" id="tableGroups"></div>

<% content_for :javascript do %>
<%= javascript_include_tag "i18n/supertable2." + I18n.locale.to_s + ".js", skip_pipeline: true %>
<%= javascript_include_tag 'filtereditor', skip_pipeline: true %>
<%= javascript_include_tag 'supertable2', skip_pipeline: true %>
<% end %>

<% content_for :post_load_javascript do %>
<script>
"use strict;"

// Table column definitions
const COLUMN_DEFINITIONS = {
    id: {
        key: "id",
        type: ColumnType.INTEGER,
        flags: ColumnFlag.SORTABLE,
        defaultOperator: FilterOperator.EQU,
    },

    name: {
        key: "name",
        type: ColumnType.STRING,
        flags: ColumnFlag.SORTABLE | ColumnFlag.USER_TRANSFORM,
        defaultOperator: FilterOperator.EQU,
    },

    abbr: {
        key: "abbr",
        type: ColumnType.STRING,
        flags: ColumnFlag.SORTABLE,
        defaultOperator: FilterOperator.EQU,
    },

    type: {
        key: "type",
        type: ColumnType.STRING,
        flags: ColumnFlag.SORTABLE | ColumnFlag.USER_TRANSFORM,
        defaultOperator: FilterOperator.EQU,
    },

    eid: {
        key: "eid",
        type: ColumnType.STRING,
        flags: ColumnFlag.SORTABLE,
        defaultOperator: FilterOperator.EQU,
    },

    created: {
        key: "created",
        type: ColumnType.UNIXTIME,
        flags: ColumnFlag.SORTABLE,
        defaultOperator: FilterOperator.GTE,
    },

    modified: {
        key: "modified",
        type: ColumnType.UNIXTIME,
        flags: ColumnFlag.SORTABLE,
        defaultOperator: FilterOperator.LTE,
    },
};

// Localized column titles. The keys must be same as in the keys in the column
// definitions object above.
const COLUMN_TITLES = {
    id: "<%= t('columns.puavoid') %>",
    name: "<%= t('columns.groups.name') %>",
    abbr: "<%= t('columns.groups.abbreviation') %>",
    eid: "<%= t('columns.groups.eid') %>",
    type: "<%= t('columns.groups.type') %>",
    created: "<%= t('columns.created') %>",
    modified: "<%= t('columns.modified') %>",
};

// Localized group types
const GROUP_TYPES = {
    "teaching group": "<%= t('group_type.teaching group') %>",
    "course group": "<%= t('group_type.course group') %>",
    "year class": "<%= t('group_type.year class') %>",
    "administrative group": "<%= t('group_type.administrative group') %>",
    "archive users": "<%= t('group_type.archive users') %>",
    "other groups": "<%= t('group_type.other groups') %>",
};

const DEFAULT_COLUMNS = ["name", "abbr", "type", "eid"];
const DEFAULT_SORTING = { column: "name", dir: SortOrder.ASCENDING };

// The default order for columns. "DEFAULT_COLUMNS" above does not have to be in this order.
const COLUMN_ORDER = [
    "id",
    "name",
    "abbr",
    "type",
    "eid",
    "created",
    "modified",
];

const USER_TRANSFORM_FUNCTIONS = {
    name: function(entry) {
        return [
            `<a href="${entry.link}">${escapeHTML(entry.name)}</a> (${entry.members})`,
            entry.name
        ];
    },

    type: function(entry) {
        return [
            entry.type in GROUP_TYPES ? GROUP_TYPES[entry.type] : "?",
            entry.type
        ];
    },
};

class MassGroupDeletion extends MassOperation {
    constructor(parent, container)
    {
        super(parent, container);
    }

    canProceed()
    {
        return true;
    }

    start()
    {
    }

    finish()
    {
    }

    processItem(item)
    {
        return doPOST(
            "/users/<%= @school.id %>/mass_op_group_delete",
            { id: item.id[0] }
        );
    }
};

// JavaScript class fields support is so poor that I can't really
// define titles, IDs and other things in classes, they must be here
const MASS_OPERATIONS = [
    {
        id: "delete",
        title: "<%= t('groups.index.mass_operations.delete.title') %>",
        flags: 0,
        cls: MassGroupDeletion
    },
];

function userActions(item)
{
    let html = "";

    html += `<a href="${item['link']}/edit" class="btn"><%= t('link.edit') %></a> `;

    let message = "<%= t('general_confirm') %>";

    html += `<a href="${item['link']}" data-method="delete" data-confirm="${message}" rel="nofollow" class="btn btn-danger"><%= t('link.destroy') %></a>`

    return html;
}

window.onload = function(e) {

new SuperTable(
    // Main container DIV
    document.getElementById("tableGroups"),

    // Settings
    {
        id: "groups",
        csvPrefix: `<%= LdapOrganisation.current.o %>-<%= @school.cn %>-groups`,

<% if @is_owner %>
        flags: TableFlag.ALLOW_SELECTION | TableFlag.ALLOW_FILTERING | TableFlag.ALLOW_COLUMN_CHANGES,
<% else %>
        flags: TableFlag.ALLOW_FILTERING | TableFlag.ALLOW_COLUMN_CHANGES,
<% end %>

        locale: "<%= supertable_sorting_locale %>",

        columnDefinitions: COLUMN_DEFINITIONS,
        columnTitles: COLUMN_TITLES,
        columnOrder: COLUMN_ORDER,
        userTransforms: USER_TRANSFORM_FUNCTIONS,
        actions: userActions,

<% if @is_owner %>
        massOperations: MASS_OPERATIONS,
<% end %>

        defaultColumns: DEFAULT_COLUMNS,
        defaultSorting: DEFAULT_SORTING,
        initialFilters: null,
        defaultFilterColumn: "name",

        // The URL to get the data from
        source: "/users/<%= @school.id %>/get_school_groups_list",
    }
);

};

</script>
<% end %>

<% content_for :tools do %>
<ul>
  <li>
    <%= link_to new_group_path(@school), class: 'btn' do %>
      <i class='icon-plus'></i><%= t('link.new_group') %>
    <% end %>
  </li>

  <li>
    <%= link_to find_groupless_users_path(@school), class: 'btn' do %>
      <i class='icon-search'></i><%= t('link.find_groupless_users') %>
    <% end %>
  </li>
</ul>
<% end %>
