<div class="content-box-new"><header><%= t('.title') %> (<%= @members.count %>)</header><div class="contents">
<table>
  <% @members.sort{|a, b| a["cn"].downcase <=> b["cn"].downcase }.each do |member| %>
  <% if member.puavoRemovalRequestTime %>
  <tr class="marked_for_deletion_group">
  <% else %>
  <tr>
  <% end %>
    <td>
      <%= link_to member.displayName, user_path(@school, member) %>
      <%= "(#{ member.uid })" %>
      <% if member.puavoLocked %><i class='icon-lock' title="<%= t('users.show.user_is_locked') %>"></i><% end %>
    </td>

    <td>
      <%= link_to(t('.remove'),
                    remove_user_group_path(school_id: member.school.id,
                                           id: @group.puavoId,
                                           :user_id => member.puavoId),
                    remote: true,
                    method: :put,
                    class: "btn") %>
    </td>
  </tr>
  <% end %>
</table>
</div></div>
