<% page_title t('titles.schools'), @school.displayName, t('titles.groups'), t('titles.groupless_users') %>

<h1><%= t('groups.groupless_users.title') %></h1>

<p><%= t('groups.groupless_users.count', :count => @users.count) %></p>

<% unless @users.empty? %>
<table class="list">
  <tr class="thead">
    <th><%= t('activeldap.attributes.user.displayName') %></th>
    <th><%= t('activeldap.attributes.user.uid') %></th>
    <th><%= t('activeldap.attributes.user.puavoEduPersonAffiliation') %></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td data-title="<%= t('activeldap.attributes.user.displayName') %>">
      <%= link_to "#{user.givenName} #{user.sn}", user_path(@school, user.puavoId) %>
      <% if user.puavoLocked %><i class='icon-lock' title="<%= t('users.show.user_is_locked') %>"></i><% end %>
    </td>
    <td data-title="<%= t('activeldap.attributes.user.uid')%>"><%= user.uid %></td>
    <td data-title="<%= t('activeldap.attributes.user.puavoEduPersonAffiliation')%>"><%= t('puavoEduPersonAffiliation_' + (user.puavoEduPersonAffiliation.class == Array ? user.puavoEduPersonAffiliation.first : user.puavoEduPersonAffiliation).to_s) %></td>
  </tr>
  <% end %>
</table>

<% unless @users.empty? %>
<% content_for :tools do %>
<ul>
  <li>
    <%= link_to mark_groupless_users_for_deletion_path(@school), class: 'btn btn', data: { confirm: t('general_confirm') }, method: :put do %>
      <i class="icon-flag"></i><%= t('groups.groupless_users.mark_for_deletion') %>
    <% end %>
  </li>
</ul>
<% end %>
<% end %>

<% end %>
