<table class="list">
  <tr class="thead">
    <th><%= t('activeldap.attributes.group.displayName') %></th>
    <th><%= t('activeldap.attributes.group.cn') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td data-title="<%=t('activeldap.attributes.group.displayName')%>">
      <%= link_to group.displayName, group_path(@school, group) %>
      <%= " (#{Array(group.memberUid).count})" %>
    </td>
    <td data-title="<%=t('activeldap.attributes.group.cn')%>">
      <%= group.cn %>
    </td>
    <td data-title="<%=t('.actions')%>" class="table-actions">
      <%= link_to edit_group_path(@school, group), :class=> "btn" do%>
        <i class='icon-pencil'></i><%= t('link.edit') %>
      <% end %>
    </td>
    <td class="table-actions">
      <%= link_to group_path(@school, group), :confirm => t('general_confirm'), :method => :delete, :class=> "btn btn-danger" do%>
        <i class='icon-trash'></i><%= t('link.destroy')%>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<% content_for :right do %>
<div>
  <%= link_to new_group_path(@school), :class => 'btn' do%>
  <i class='icon-plus'></i><%= t('link.new_group') %>
  <% end %>
</div>
<% end %>