<table class="list">
  <tr>
    <th><%= t('activeldap.attributes.group.displayName') %></th>
    <th><%= t('activeldap.attributes.group.cn') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td>
      <%= link_to group.displayName, group_path(@school, group) %>
      <%= " (#{group.memberUid.to_a.count})" %>
    </td>
    <td>
      <%= group.cn %>
    </td>
    <td><%= link_to t('link.edit'), edit_group_path(@school, group), :class => "btn" %></td>
    <td><%= link_to t('link.destroy'), group_path(@school, group), :class => "btn btn-danger", :confirm => t('general_confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<% content_for :right do %>
<div><%= link_to t('link.new_group'), new_group_path(@school) %></div>
<% end %>

<% content_for :footer do %>
<ul>
  <li class="link_header">
    <% link_to school_path(@school) do %>
    <span><%= t('layouts.application.schools') %></span>
    <% end %>
  </li>
  <% school_list.each do |school| %>
  <li<% if school_list.last == school %> class="last"<% end %>>
    <%= link_to school.displayName,  school_path(school) %>
  </li>
  <% end %>
</ul>
<ul>
<li class="link_header"><%= @school.displayName %></li>
<li><% link_to users_path(@school) do %>
  <span><%= t('layouts.application.users') %></span>
<% end %>
</li>
  <li><%= link_to t('link.groups'), groups_path(@school) %></li>
  <li><%= link_to t('link.roles'), roles_path(@school) %></li>
  <li><a href="/devices/<%= @school.id%>/devices"><span><%= t('layouts.application.devices') %></span></a></li>
</ul>
<% end %>
