<% page_title t('titles.schools'), @school.displayName, t('titles.groups'), @group.displayName %>

<% if new_group_management?(@school) %>

<% if @group.puavoEduGroupType == "course group" %>
<p class="courseWarning"><%= t('groups.edit.course_group_warning') %>
<% end %>

<div class="content-box" style="float: none;">
  <h3><%= t('.title') %></h3>
  <table>
    <tr>
      <th><%= t('activeldap.attributes.group.displayName') %></th>
      <td><%=h @group.displayName %></td>
    </tr>

    <tr>
      <th><%= t('activeldap.attributes.group.cn') %></th>
      <td><%=h @group.cn %></td>
    </tr>

    <tr>
      <th><%= t('activeldap.attributes.group.gidNumber') %></th>
      <td><%=h @group.gidNumber %></td>
    </tr>

    <tr>
      <th><%= t('activeldap.attributes.group.puavoEduGroupType') %></th>
      <td>
        <% if @group.puavoEduGroupType.nil? %>
          <span class="missingData"><%= t('missing_data') %></span>
        <% else %>
          <%= h humanize_group_type(@group.puavoEduGroupType) %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th><%= t('activeldap.attributes.group.puavoExternalId') %></th>
      <td><%= @group['puavoExternalId'].nil? ? t('missing_data') : @group['puavoExternalId'] %> </td>
    </tr>

    <tr>
      <th><%= t('ldap_create_time') %></th>
      <td><%= @group['createTimestamp'] %></td>
    </tr>

    <tr>
      <th><%= t('ldap_modify_time') %></th>
      <td><%= @group['modifyTimestamp'] %></td>
    </tr>
  </table>
</div>

<div class="content-box members">
  <%= render :partial => "members" %>
</div>

<div class="content-box">
  <h3><%= t('.add_user_title') %></h3>
  <table>
    <tr>
      <td><%= t('.description') %></td>
    </tr>
    <tr>
      <td>
      <div class="column_1">
        <%= text_field_tag( "user_search",
            nil,
            class: "user_search",
            size: 50,
            placeholder: t('.placeholder_for_search') ) %>
      </td>
    </tr>
  </table>
</div>

<% else %>

<p>
  <b><%= t('activeldap.attributes.group.displayName') %>:</b>
  <%=h @group.displayName %>
</p>

<p>
  <b><%= t('activeldap.attributes.group.cn') %>:</b>
  <%=h @group.cn %>
</p>

<p>
  <b><%= t('activeldap.attributes.group.gidNumber') %>:</b>
  <%=h @group.gidNumber %>
</p>

<p>
  <b><%= t('.roles_and_members') %>:</b><br />
  <span id="roles_and_members">
    <% @roles.each do |p| %>
      <%= "#{p.displayName} (#{p.school.displayName})" %>
      <%= link_to t('link.remove'), delete_role_group_path(@school, @group, p), method: :put, id: "remove_role_#{p.id}" %>
      <ul>
        <% p.members.each do |m| %>
          <li><%= link_to m.displayName, user_path(@school, m) %></li>
        <% end %>
      </ul>
    <% end %>
  </span>
</p>

<p>
  <b><%= t('.other_roles') %>:</b><br />
  <span id="other_roles">
  <% @other_roles.each do |r| %>
    <%= "#{r.displayName} (#{r.school.displayName})" %>
    <%= link_to t('link.add'), add_role_group_path(@school, @group, r), method: :put, id: "add_role_#{r.id}" %>
    <br />
  <% end %>
  </span>
</p>

<% end %>

<% content_for :right do %>
<ul class="sub-tools">
  <li>
    <%= link_to edit_group_path(@school, @group), class: 'btn' do %>
      <i class="icon-pencil"></i><%= t('link.edit') %>
    <% end %>
  </li>

  <li class="tool">
    <span class="btn">
        <i class="icon-collapse"></i> <%=t('link.more')%>
    </span>
    <ul>
      <li>
        <%= link_to new_group_path(@school) do %>
          <i class="icon-plus"></i><%= t('link.new_group') %>
        <% end %>
      </li>

      <% if @group.members.count > 0 %>
      <li>
        <%= link_to create_username_list_from_group_path(@school, @group), data: { confirm: t('group_username_list_confirm') }, method: :put do %>
          <i class="icon-plus"></i><%= t('link.create_username_list_from_group') %>
        <% end %>
      </li>

      <li>
        <%= link_to mark_group_members_for_deletion_path(@school, @group), data: { confirm: t('general_confirm') }, method: :put do %>
          <i class="icon-plus"></i><%= t('link.mark_group_members_for_deletion') %>
        <% end %>
      </li>

      <li>
        <%= link_to unmark_group_members_deletion_path(@school, @group), data: { confirm: t('general_confirm') }, method: :put do %>
          <i class="icon-minus"></i><%= t('link.unmark_group_members_deletion') %>
        <% end %>
      </li>
      <% end %>

      <li>
        <%= link_to group_path(@school, @group), data: { confirm: t('general_confirm') }, method: :delete  do %>
          <i class="icon-trash"></i><%= t('link.destroy') %>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
<% end %>

<% if new_group_management?(@school) %>
  <% content_for :javascript do %>
    <%= javascript_tag "window.USER_SEARCH_URLS = {'group-users-serach': '#{ @group.puavoId }/user_search?words='}" %>
  <% end %>
<% end %>
