<p>
  <b><%= t('activeldap.attributes.group.displayName') %>:</b>
  <%=h @group.displayName %>
</p>

<p>
  <b><%= t('activeldap.attributes.group.cn') %>:</b>
  <%=h @group.cn %>
</p>

<p>
  <b><%= t('activeldap.attributes.group.gidNumber') %>:</b>
  <%=h @group.gidNumber %>
</p>

<p>
  <b><%= t('.roles_and_members') %>:</b><br />
  <span id="roles_and_members">
    <% @roles.each do |p| %>
      <%= "#{p.displayName} (#{p.school.displayName})" %>
      <%= link_to t('link.remove'), delete_role_group_path(@school, @group, p), :method => :put, :id => "remove_role_#{p.id}" %>
      <ul>
        <% p.members.each do |m| %>
          <li><%= link_to m.displayName, user_path(@school, m) %></li>
        <% end %>
      </ul>
    <% end %>
  </span>
</p>

<p>
  <b><%= t('.other_roles') %>:</b><br />
  <span id="other_roles">
  <% @other_roles.each do |p| %>
    <%= "#{p.displayName} (#{p.school.displayName})" %>
    <%= link_to t('link.add'), add_role_group_path(@school, @group, p), :method => :put, :id => "add_role_#{p.id}" %>
    <br />
  <% end %>
  </span>
</p>

<% content_for :right do %>
<ul class="sub-tools">
  <li>
    <%= link_to edit_group_path(@school, @group), :class => 'btn' do %>
      <i class="icon-pencil"></i><%= t('link.edit') %>
    <% end %>
  </li>
  <li class="tool">
    <span class="btn"><i class="icon-collapse"></i> <%=t('link.more')%></span>
  <ul>
    <li>
      <%= link_to new_group_path(@school) do %>
        <i class="icon-plus"></i><%= t('link.new_group') %>
      <% end %>
    </li>
    <li>
      <%= link_to group_path(@school, @group), :confirm => t('general_confirm'), :method => :delete  do %>
      <i class="icon-trash"></i><%= t('link.destroy') %>
      <% end %>
    </li>
  </ul>
</ul>
<% end %>