<p class='required_info'><%= t('layouts.forms.required_field')%></p>
<%= form_for(@user, :url => path, :html => { :method => method, :multipart => true })  do |f| %>

  <table>
    <tr>
      <td class='required'><%= f.label :givenName %></td>
      <td><%= f.text_field :givenName, :disabled => @user.read_only? %></td>
    </tr>
    <tr>
      <td class='required'><%= f.label :sn %></td>
      <td><%= f.text_field :sn, :disabled => @user.read_only? %></td>
    </tr>
    <tr>
      <td class='required'><%= f.label :uid %></td>
      <td><%= f.text_field :uid, :disabled => @user.read_only? %></td>
    </tr>
    <tr>
      <td class="label_for_input_text_list"><%= f.label :mail, :for => "user_mail_0" %></td>
      <td>
    <div id="user_mail_list">
      <% if Array(@user.mail).empty? %>
        <input name='user[mail][]' type='text' id='user_mail_0' <%= @user.read_only? ? 'disabled="disabled"' : "" %> />
      <% else %>
        <% Array(@user.mail).each_index do |index| %>
          <input  id='<%= "user_mail_#{index}" %>' name='user[mail][]' type='text' value='<%= Array(@user.mail)[index] %>' <%= @user.read_only? ? 'disabled="disabled"' : "" %> />
        <% end %>
      <% end %>
    </div>
    <%= link_to "#", :class => "clone_prev_input_element btn" do %>
      <i class="icon-plus"></i><%= t('.add_email') %>
    <% end %>

    <p>
    <%= field_error_text(f.object, :mail) %>
    </p>
  </td></tr>
  <tr>
    <td class="label_for_input_text_list"><%= f.label :telephoneNumber %></td>
    <td><span id="user_telephoneNumber_list">
      <% if Array(@user.telephoneNumber).empty? %>
        <input name='user[telephoneNumber][]' type='text' <%= @user.read_only? ? 'disabled="disabled"' : "" %> />
      <% else %>
        <% Array(@user.telephoneNumber).each_index do |index| %>
          <input name='user[telephoneNumber][]' type='text' value='<%= Array(@user.telephoneNumber)[index] %>' <%= @user.read_only? ? 'disabled="disabled"' : "" %> />
        <% end %>
      <% end %>
    </span>

    <%= link_to "#", :class => "clone_prev_input_element btn" do %>
      <i class="icon-plus"></i> <%= t('.add_telephone_number') %>
    <% end %>
</td>
</tr>
    <tr>
      <% if new_group_management? %>
      <td class="label_for_checkbox_list required"><%= f.label :puavoEduPersonAffiliation %></td>
      <% else %>
      <td class="label_for_checkbox_list required"><%= f.label :puavoEduPersonAffiliationDeprecated %></td>
      <% end %>
      <td>
        <% User.puavoEduPersonAffiliation_list.map do |a| %>
        <div>
          <label>
            <input <%= @edu_person_affiliation.include?(a) ? ' checked="checked"' : "" %> id="puavoEduPersonAffiliation_<%= a %>" name="user[puavoEduPersonAffiliation][]" type="checkbox" value="<%= a %>" <%= @user.read_only? ? 'disabled="disabled"' : "" %> />
            <%=h t('puavoEduPersonAffiliation_' + a) %>
          </label>
        </div>
        <% end %>
        <%= field_error_text(f.object, :puavoEduPersonAffiliation) %>
      </td>
    </tr>

    <% unless new_group_management? %>
    <tr>
      <td class="label_for_checkbox_list required_role required"><%= f.label :role_ids %></td>
      <td>
      <% @roles.each do |p| %>
        <div>
          <label><input<%= @user_roles.include?(p) ? ' checked="checked"' : "" %> id="role_<%= p.displayName.to_s.downcase.gsub(/ /, '_') %>" name="user[role_ids][]" type="checkbox" value="<%= p.id %>"  /><%=h p.displayName %></label>
        </div>
      <% end %>
      <%= field_error_text(f.object, :role_ids) %>
      </td>
    </tr>
    <% end %>

  <tr>
    <td><%= f.label :puavoLocale %></td>
    <td>
      <%= f.select :puavoLocale,
          locales_for_select, {}, { :disabled => @user.read_only? } %>
    </td>
  </tr>

  <tr>
    <td><%= f.label :puavoAllowRemoteAccess %></td>
    <td>
      <%= f.radio_button :puavoAllowRemoteAccess, "true" %>
      <%= label(:user,
                :puavoAllowRemoteAccess_true,
                :for => "user_puavoAllowRemoteAccess_true",
                :value => "true") %>
      <%= f.radio_button :puavoAllowRemoteAccess, "false" %>
      <%= label(:user,
                :puavoAllowRemoteAccess_false,
                :for => "user_puavoAllowRemoteAccess_false",
                :value => "false") %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :puavoEduPersonPersonnelNumber %></td>
    <td><%= f.text_field :puavoEduPersonPersonnelNumber %></td>
  </tr>

  <tr>
    <td><%= f.label :image %></td>
    <td><%= f.file_field :image %></td>
  </tr>

  <tr>
    <td><%= f.label :puavoLocked %></td>
    <td><%= f.check_box :puavoLocked %></td>
  </tr>

  <% if current_user.organisation_owner? %>
    <tr>
      <td><%= f.label :puavoSshPublicKey %></td>
      <td><%= f.text_area :puavoSshPublicKey, cols: 80, rows: 10 %></td>
    </tr>
  <% end %>

  <tr>
    <td class='required'><%= f.label :new_password %></td>
    <td><%= f.password_field :new_password, :value => @user.new_password  %></td>
  </tr>

  <tr>
    <td class='required'><%= f.label :new_password_confirmation %></td>
    <td><%= f.password_field :new_password_confirmation, :value => @user.new_password_confirmation  %></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= f.submit submit_text, :class=>'btn' %>
      <div class="cancel"><%=link_to t('link.cancel'),  path, :class => 'btn btn-danger' %>
    </td>
  </tr>
</table>
<% end %>

