<% if theme!="gray"%><p class='required_info'><%= t('layouts.forms.required_field')%></p><%end%>
<% form_for(@user, :url => path, :html => { :method => method, :multipart => true })  do |f| %>

  <table>
    <tr>
      <td><%= f.label :givenName %></td>
      <td class='required'><%= f.text_field :givenName %></td>
    </tr>
    <tr>
      <td><%= f.label :sn %></td>
      <td class='required'><%= f.text_field :sn %></td>
    </tr>
    <tr>
      <td><%= f.label :uid %></td>
      <td class='required'><%= f.text_field :uid %></td>
    </tr>
    <tr>
      <td class="label_for_input_text_list"><%= f.label :mail %></td>
      <td>
    <div id="user_mail_list">
      <% if Array(@user.mail).empty? %>
      <input name='user[mail][]' size='30' type='text' />
      <% else %>
      <% Array(@user.mail).each_index do |index| %>
      <input name='user[mail][]' size='30' type='text' value='<%= Array(@user.mail)[index] %>' />
      <% end %>
      <% end %>
    </div>
    <%= link_to t('.add_email'), "#", :class => "clone_prev_input_element" %>
  </td></tr>
  <tr>
    <td class="label_for_input_text_list"><%= f.label :telephoneNumber %></td>
    <td><span id="user_telephoneNumber_list">
      <% if Array(@user.telephoneNumber).empty? %>
      <input name='user[telephoneNumber][]' size='30' type='text' />
      <% else %>
      <% Array(@user.telephoneNumber).each_index do |index| %>
      <input name='user[telephoneNumber][]' size='30' type='text' value='<%= Array(@user.telephoneNumber)[index] %>' />
      <% end %>
      <% end %>
    </span>

    <%= link_to t('.add_telephone_number'), "#", :class => "clone_prev_input_element" %>
</td>
</tr>
    <tr>
      <td><%= f.label :puavoEduPersonAffiliation %></td>
      <td class='required'>
        <%= f.select :puavoEduPersonAffiliation,
           [[t('default_select_value'), ""]] +
             User.puavoEduPersonAffiliation_list.map {|a| [ t('puavoEduPersonAffiliation_' + a), a ] } %>
      </td>
    </tr>
    <tr>
      <td class="label_for_checkbox_list required_role required"><%= f.label :role_ids %></td>
      <td>
    <% @roles.each do |p| %>
    <div>
      <label><input<%= @user_roles.include?(p) ? ' checked="checked"' : "" %> id="role_<%= p.displayName.to_s.downcase.gsub(/ /, '_') %>" name="user[role_ids][]" type="checkbox" value="<%= p.id %>" /><%=h p.displayName %></label>
  </div>
    <% end %>
    <%= field_error_text(f.object, :role_ids) %>
  </td>
  </tr>

  <tr>
    <td><%= f.label :preferredLanguage %></td>
    <td>
      <%= f.select :preferredLanguage,
          [[t('language_default'), ""]] +
            Puavo.available_languages.map {|lang| [ t('language_' + lang), lang ] } %>
    </td>
  </tr>

  <tr>
    <td><%= f.label :puavoAllowRemoteAccess %></td>
    <td>
      <%= f.radio_button :puavoAllowRemoteAccess, "true" %>
      <%= label(:user,
                :puavoAllowRemoteAccess_true,
                :for => "user_puavoAllowRemoteAccess_true",
                :value => "true") %>
      <%= f.radio_button :puavoAllowRemoteAccess, "false" %>
      <%= label(:user,
                :puavoAllowRemoteAccess_false,
                :for => "user_puavoAllowRemoteAccess_false",
                :value => "false") %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :puavoEduPersonPersonnelNumber %></td>
    <td><%= f.text_field :puavoEduPersonPersonnelNumber %></td>
  </tr>

  <tr>
    <td><%= f.label :image %></td>
    <td><%= f.file_field :image %></td>
  </tr>
</table>

<table>
  <tr>
    <td><%= f.label :new_password %></td>
    <td><%= f.password_field :new_password %></td>
  </tr>

  <tr>
    <td><%= f.label :new_password_confirmation %></td>
    <td><%= f.password_field :new_password_confirmation %></td>
  </tr>

  <tr>
    <td>
      <%= f.submit submit_text %><div class="cancel"><%=link_to t('link.cancel'),  path, :class => 'cancel_button' %> 
      </div></td>
  </tr>
</table>
<% end %>
