<% content_for :javascript do %>
<%= javascript_include_tag 'passwordValidator' %>
<% end %>

<p class="required_info"><%= t('layouts.forms.required_field')%></p>

<% read_only = @user.read_only? %>

<% if read_only %>
<div class="genericWarning"><%= t('.read_only_warning') %></div>
<% end %>

<%= form_for(@user, url: path, html: { method: method, multipart: true })  do |f| %>
  <table class="editForm">
    <tr>
      <th class="required"><%= f.label :givenName %></th>
      <td><%= f.text_field :givenName, disabled: read_only %></td>
    </tr>

    <tr>
      <th class="required"><%= f.label :sn %></th>
      <td><%= f.text_field :sn, disabled: read_only %></td>
    </tr>

    <tr>
      <th class="required"><%= f.label :uid %></th>
      <td><%= f.text_field :uid, disabled: read_only %></td>
    </tr>

    <tr>
      <th><%= f.label :mail, nil, for: "user_mail_0" %></th>
      <td>
        <div id="user_mail_list">
        <% if Array(@user.mail).empty? %>
          <input name='user[mail][]' type='text' id='user_mail_0' <%= read_only ? 'disabled="disabled"' : "" %> />
        <% else %>
          <% Array(@user.mail).each_index do |index| %>
          <input  id='<%= "user_mail_#{index}" %>' name='user[mail][]' type='text' value='<%= Array(@user.mail)[index] %>' <%= read_only ? 'disabled="disabled"' : "" %> />
          <% end %>
        <% end %>
        </div>
        <% unless read_only %>
        <%= link_to "#", class: "clone_prev_input_element btn" do %>
        <i class="icon-plus"></i><%= t('.add_email') %>
        <% end %>
        <% end %>
        <%= field_error_text_span(f.object, :mail) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :telephoneNumber, nil, for: "user_telephone_0" %></th>
      <td>
        <span id="user_telephoneNumber_list">
        <% if Array(@user.telephoneNumber).empty? %>
          <input name='user[telephoneNumber][]' id='user_telephone_0' type='text' <%= read_only ? 'disabled="disabled"' : "" %> />
        <% else %>
          <% Array(@user.telephoneNumber).each_index do |index| %>
          <input id='<%= "user_telephone_#{index}" %>' name='user[telephoneNumber][]' type='text' value='<%= Array(@user.telephoneNumber)[index] %>' <%= read_only ? 'disabled="disabled"' : "" %> />
          <% end %>
        <% end %>
        </span>
        <% unless read_only %>
        <%= link_to "#", class: "clone_prev_input_element btn" do %>
          <i class="icon-plus"></i><%= t('.add_telephone_number') %>
        <% end %>
        <% end %>
        <%= field_error_text_span(f.object, :telephoneNumber) %>
      </td>
    </tr>

    <tr>
      <th class="required">
      <% if new_group_management?(@school) %>
        <%= f.label :puavoEduPersonAffiliation %>
      <% else %>
        <%= f.label :puavoEduPersonAffiliationDeprecated %>
      <% end %>
      </th>
      <td>
        <% User.puavoEduPersonAffiliation_list.map do |a| %>
          <input <%= @edu_person_affiliation.include?(a) ? ' checked="checked"' : "" %> id="puavoEduPersonAffiliation_<%= a %>" name="user[puavoEduPersonAffiliation][]" type="checkbox" value="<%= a %>"/>
          <label for="puavoEduPersonAffiliation_<%= a %>"><%= h t('puavoEduPersonAffiliation_' + a) %></label><br>
        <% end %>
        <%= field_error_text_span(f.object, :puavoEduPersonAffiliation) %>
      </td>
    </tr>

    <%= render :partial => "teaching_group", :locals => { :f => f } %>

    <%= render :partial => "administrative_groups", :locals => { :f => f } %>

    <% unless new_group_management?(@school) %>
    <tr>
      <th class="required"><%= f.label :role_ids %></th>
      <td>
        <% @roles.each do |p| %>
        <div>
          <label><input<%= @user_roles.include?(p) ? ' checked="checked"' : "" %> id="role_<%= p.displayName.to_s.downcase.gsub(/ /, '_') %>" name="user[role_ids][]" type="checkbox" value="<%= p.id %>"  /><%=h p.displayName %></label>
        </div>
        <% end %>
        <%= field_error_text_span(f.object, :role_ids) %>
      </td>
    </tr>
    <% end %>

    <tr>
      <th><%= f.label :puavoLocale %></th>
      <td><%= f.select :puavoLocale, locales_for_select %></td>
    </tr>

    <tr>
      <th><%= f.label :puavoAllowRemoteAccess %></th>
      <td>
        <%= f.radio_button :puavoAllowRemoteAccess, "true" %>
        <%= label(:user,
                  t('activeldap.attributes.user.puavoAllowRemoteAccess_true'),
                  :for => "user_puavoAllowRemoteAccess_true",
                  :value => "true") %>
        <br>
        <%= f.radio_button :puavoAllowRemoteAccess, "false" %>
        <%= label(:user,
                  t('activeldap.attributes.user.puavoAllowRemoteAccess_false'),
                  :for => "user_puavoAllowRemoteAccess_false",
                  :value => "false") %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :puavoEduPersonPersonnelNumber %></th>
      <td><%= f.text_field :puavoEduPersonPersonnelNumber %></td>
    </tr>

    <tr>
      <th><%= f.label :image %></th>
      <td><%= f.file_field(:image, accept: 'image/*') %></td>
    </tr>

    <tr>
      <th><%= f.label :puavoLocked %></th>
      <td><%= f.check_box :puavoLocked %></td>
    </tr>

    <% if current_user.organisation_owner? %>
    <tr class="ownersOnly">
      <th><%= f.label :puavoSshPublicKey %></th>
      <td><%= f.text_area :puavoSshPublicKey, cols: 80, rows: 10 %></td>
    </tr>
    <% end %>

    <tr>
      <th><%= f.label :puavoExternalId %></th>
      <td><%= f.text_field :puavoExternalId %></td>
    </tr>

    <tr>
      <th class="required"><%= f.label :new_password %></th>
      <td><%= f.password_field :new_password, value: @user.new_password  %></td>
    </tr>

    <tr>
      <th class="required"><%= f.label :new_password_confirmation %></th>
      <td><%= f.password_field :new_password_confirmation, value: @user.new_password_confirmation  %></td>
    </tr>

    <tr class="buttonRow">
      <th></th>
      <td>
        <%= f.submit submit_text, class: 'btn' %>
        <div class="cancel"><%=link_to t('link.cancel'),  path, class: 'btn btn-danger' %></div>
      </td>
    </tr>
  </table>
<% end %>

<% content_for :post_load_javascript do %>
<%= setup_password_validator(@password_requirements) %>
<% end %>
