<% if !@synchronised_deletions.empty? %>
<p class="genericWarning"><%= t('users.index.synchronised_deletions', :systems => @synchronised_deletions.join(', ')) %></p>
<% end %>

<div class="superTable" id="tableUsers"></div>

<% content_for :javascript do %>
<%= javascript_include_tag "i18n/supertable2." + I18n.locale.to_s + ".js", skip_pipeline: true %>
<%= javascript_include_tag 'filtereditor', skip_pipeline: true %>
<%= javascript_include_tag 'supertable2', skip_pipeline: true %>
<% end %>

<% @is_organisation = false %>

<% content_for :post_load_javascript do %>
<script>
"use strict;"

<%= render :partial => 'shared/user_tables_common.js' %>

const DEFAULT_COLUMNS = ["uid", "name", "role", "eid"];
const DEFAULT_SORTING = { column: "name", dir: SortOrder.ASCENDING };

window.onload = function(e) {

new SuperTable(
    // Main container DIV
    document.getElementById("tableUsers"),

    // Settings
    {
        id: "users",
        csvPrefix: `<%= LdapOrganisation.current.o %>-<%= @school.cn %>-users`,

        flags: TableFlag.ALLOW_SELECTION | TableFlag.ALLOW_FILTERING | TableFlag.ALLOW_COLUMN_CHANGES,

        locale: "<%= supertable_sorting_locale %>",

        columnDefinitions: COLUMN_DEFINITIONS,
        columnTitles: COLUMN_TITLES,
        columnOrder: COLUMN_ORDER,
        userTransforms: USER_TRANSFORM_FUNCTIONS,
        actions: userActions,
        massOperations: MASS_OPERATIONS,
        defaultColumns: DEFAULT_COLUMNS,
        defaultSorting: DEFAULT_SORTING,
        filterPresets: FILTER_PRESETS,
        initialFilters: null,
        defaultFilterColumn: "uid",

        // The URL to get the data from
        source: "/users/<%= @school.id %>/get_school_users_list",
    }
);
};

</script>

<% content_for :tools do %>
<ul>
  <li>
    <%= link_to new_user_path, class: 'btn' do %>
      <i class='icon-plus'></i><%= t('link.new_user')%>
    <% end %>
  </li>
</ul>
<% end %>

<% end %>
