<ul>
  <li <%= ["users", "import"].include?(controller_name) ? "class='current'" : "" %>><%= link_to t('link.users'), users_path(@school) %></li>
  <li <%= controller_name == "groups" ? "class='current'" : "" %>><%= link_to t('link.groups'), groups_path(@school) %></li>
  <li <%= controller_name == "roles" ? "class='current'" : "" %>><%= link_to t('link.roles'), roles_path(@school) %></li>
</ul>
