<% page_title t('titles.schools'), @school.displayName, t('titles.users'), @user.displayName, t('titles.new_users_groups') %>

<div class="formContainer">

<%= form_for("user", url: add_group_user_path, html: { method: :put, multipart: true })  do |f| %>
  <table class="editForm">
    <%= render :partial => "teaching_group", :locals => { :f => f } %>

    <%= render :partial => "administrative_groups", :locals => { :f => f } %>

    <tr class="buttonRow">
      <td colspan="2">
        <%= f.submit t('link.save'), class: 'btn' %>
        <div class="cancel">
          <%=link_to t('link.cancel'),  user_path(@school, @user), class: 'btn btn-danger' %>
        </div>
      </td>
    </tr>
  </table>
<% end %>

</div>
