<table class="list full-width-list">
  <tr>
    <th><%= t('activeldap.attributes.user.displayName') %></th>
    <th><%= t('activeldap.attributes.user.uid') %></th>
    <th><%= t('activeldap.attributes.user.puavoEduPersonAffiliation') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to "#{user['sn']} #{user['givenName']}", user_path(@school, user["puavoId"]) %></td>
    <td><%=h user["uid"] %></td>
    <td><%=h t('puavoEduPersonAffiliation_' + user["puavoEduPersonAffiliation"].to_s) %></td>
    <td class="user_actions"><%= link_to t('link.edit'), edit_user_path(@school, user["puavoId"]), :class => "btn" %></td>
    <td class="user_actions"><%= link_to( t('link.destroy'),
            user_path(@school, user["puavoId"]), :class => "btn btn-danger",
            :confirm => t('destroy_confirm', :object_name => "#{user['sn']} #{user['givenName']}"),
            :method => :delete ) %></td>
  </tr>
<% end %>
</table>
    
<% content_for :right do %>
<div><%= link_to t('link.new_user'), new_user_path %></div>
<div><%= link_to t('link.user_mass_import.new'), new_users_import_path %></div>
<% end %>
<% content_for :footer do %>
<ul>
  <li class="link_header">
    <% link_to school_path(@school) do %>
    <span><%= t('layouts.application.schools') %></span>
    <% end %>
  </li>
  <% school_list.each do |school| %>
  <li<% if school_list.last == school %> class="last"<% end %>>
    <%= link_to school.displayName,  school_path(school) %>
  </li>
  <% end %>
</ul>
<ul>
<li class="link_header"><%= @school.displayName %></li>
<li><% link_to users_path(@school) do %>
  <span><%= t('layouts.application.users') %></span>
<% end %>
</li>
  <li><%= link_to t('link.groups'), groups_path(@school) %></li>
  <li><%= link_to t('link.roles'), roles_path(@school) %></li>
  <li><a href="/devices/<%= @school.id%>/devices"><span><%= t('layouts.application.devices') %></span></a></li>
</ul>
<% end %>
