<% page_title t('titles.schools'), @school.displayName, t('titles.users') %>

<% unless @users_marked_for_deletion.empty? %>

<h3 id="marked"><%= t('.users_marked_for_deletion_title') %> [ <a href="#normal"><%= t('.jump_to_normal') %></a> ]</h3>

<%= render :partial => 'users_list', :locals => {
  :table_id => 'markedForDeletionUsers',
  :source => @users_marked_for_deletion,
  :table_classes => "list usersMarkedForDeletion",
  :is_deleted => true
} %>

<hr><br>
<h3 id="normal"><%= t('.normal_users_title') %> [ <a href="#marked"><%= t('.jump_to_marked') %></a> ]</h3>
<% end %>

<%= render :partial => 'users_list', :locals => {
  :table_id => 'normalUsers',
  :source => @users,
  :table_classes => "list",
  :is_deleted => false
} %>

<% content_for :tools do %>
<ul>
  <li>
    <%= link_to new_user_path, class: 'btn' do %>
      <i class='icon-plus'></i><%= t('link.new_user')%>
    <% end %>
  </li>

  <% if !@users_marked_for_deletion.empty? && current_user.organisation_owner? %>
  <li class="ownersOnly">
    <%= link_to delete_marked_users_path, data: { confirm: t('delete_marked_users', count: @users_marked_for_deletion.count) }, method: :delete, class: 'btn btn-danger' do %>
      <i class='icon-trash'></i><%= t('link.delete_users_marked_for_deletion')%>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>

<% unless @users_marked_for_deletion.empty? && @users.empty? %>

<% content_for :javascript do %>
<%= javascript_include_tag 'sortableTable' %>
<% end %>

<script>
$(document).ready(function() {
    new SortableTable(
        "normalUsers",
        [
            [ COLUMN_TYPE_STRING, COLUMN_FLAG_HTML ],   // name
            [ COLUMN_TYPE_STRING, 0 ],                  // username
            [ COLUMN_TYPE_STRING, 0 ],                  // role
            [ COLUMN_TYPE_STRING, COLUMN_FLAG_HTML | COLUMN_FLAG_DONT_SORT ],    // actions
        ],
        "fi",
        "<%= "#{@school.id.to_s}-users" %>"
    );

  <% unless @users_marked_for_deletion.empty? %>
    new SortableTable(
        "markedForDeletionUsers",
        [
            [ COLUMN_TYPE_STRING, COLUMN_FLAG_HTML ],   // name
            [ COLUMN_TYPE_STRING, 0 ],                  // username
            [ COLUMN_TYPE_STRING, 0 ],                  // role
            [ COLUMN_TYPE_INTEGER, COLUMN_FLAG_HTML ],  // timestamp
            [ COLUMN_TYPE_STRING, COLUMN_FLAG_HTML | COLUMN_FLAG_DONT_SORT ],   // actions
        ],
        "fi",
        "<%= "#{@school.id.to_s}-delusers" %>"
    );
  <% end %>
});
</script>

<% end %>
