<% page_title t('titles.schools'), @school.displayName, t('titles.users') %>

<% unless @users_marked_for_deletion.empty? %>

<strong><%= t('.users_marked_for_deletion_title') %></strong>

<%= render :partial => 'users_list', :locals => {
  :source => @users_marked_for_deletion,
  :table_classes => "list marked_for_deletion_users_list",
  :is_deleted => true
} %>

<hr><br>
<strong><%= t('.normal_users_title') %></strong>
<% end %>

<%= render :partial => 'users_list', :locals => {
  :source => @users,
  :table_classes => "list",
  :is_deleted => false
} %>

<% content_for :right do %>
<div>
  <%= link_to new_user_path, class: 'btn' do %>
    <i class='icon-user'></i><%=t('link.new_user')%>
  <% end %>
</div>
<% end %>
