<table>
  <tr>
    <td>
      <%= image_tag( @user.jpegPhoto.nil? ? "anonymous.png" : image_user_path(@school, @user),
                     :class => "image" ) %>
    </td>
    <td>
      <p>
      <h1><%=h @user.displayName %></h1>
      </p>
          <% if @user.puavoLocked == true %>
            <p class="notice_text">
                  <%= t('.user_is_locked') %>
            </p>
          <% end %>
      <p>
        <%= label "user", 'uid' %><br />
        <%=h @user.uid %>
      </p>
      <p>
      <%= label "user", 'puavoEduPersonAffiliation' %><br />
      <%=h t('puavoEduPersonAffiliation_' + @user.puavoEduPersonAffiliation) %>
      </p>
      <p>
      <%= label "user", 'roles' %><br />
      <%=h @user.roles.map{ |r| r.displayName }.join(", ") %>
      </p>
    </td>
  </tr>
</table>
<div class="show_user">
<div class="user_box">
<h3><%= t('.contact_information') %></h3>
<table class="list full-width-list">
  <tr>
  <td class="label_td view"><%= label "user", "mail" %></td>
  <td class="value_td"><%= Array(@user.mail).map{ |mail| mail_to mail }.join(", ") %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "telephoneNumber" %></td>
    <td class="value_td">
      <%=h Array(@user.telephoneNumber).map{ |telephoneNumber| telephoneNumber }.join(", ") %>
    </td>
  </tr>
</table>
</div>
<div class="user_box">
<h3><%= t('.system_information') %></h3>
<table class="list full-width-list">
  <tr>
    <td class="label_td view"><%= label "user", "homeDirectory" %></td>
    <td class="value_td"><%=h @user.homeDirectory %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "uidNumber" %></td>
    <td class="value_td"><%=h @user.uidNumber %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "groups" %></td>
    <td class="value_td">
      <span id="groups_by_roles">
      <% @user.groups.each do |p| %>
        <%=h p.displayName %><br />
      <% end %>
      </span>
    </td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "preferredLanguage" %></td>
    <td class="value_td"><%=h @user.preferredLanguage ? t('language_' + @user.preferredLanguage) : "" %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoAllowRemoteAccess" %></td>
    <td class="value_td"><%=h t("activeldap.attributes.user.puavoAllowRemoteAccess_#{@user.puavoAllowRemoteAccess}") %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoEduPersonReverseDisplayName" %></td>
    <td class="value_td"><%=h @user.puavoEduPersonReverseDisplayName %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoEduPersonPersonnelNumber" %></td>
    <td class="value_td"><%=h @user.puavoEduPersonPersonnelNumber %></td>
  </tr>

</table>
</div>
</div>
<% content_for :right do %>

<ul class="tools_ul">
<li>
<%= link_to t('link.edit'), edit_user_path(@school, @user) %>
</li>
<li class="tool">
<span><%= t('link.more') %></span>
<ul>
<li>
<%= link_to t('.change_school'), select_school_user_path(@school, @user) %>
</li>
<li>
<%= link_to( t('link.destroy'),
                  user_path(@school, @user),
                  :confirm => t('destroy_confirm', :object_name => @user.displayName),
                  :method => :delete ) %>
</li>
</ul>
</li>
</ul>
<% end %>

<% content_for :footer do %>
  <ul>
    <li class="link_header">
      <% link_to school_path(@school) do %>
        <span><%= t('layouts.application.schools') %></span>
      <% end %>
    </li>
    <% school_list.each do |school| %>
    <li<% if school_list.last == school %> class="last"<% end %>>
      <%= link_to school.displayName,  school_path(school) %>
    </li>
    <% end %>
  </ul>
  <ul>
  <li class="link_header"><%= @school.displayName %></li>
  <li>
  <% link_to users_path(@school) do %>
    <span><%= t('layouts.application.users') %></span>
  <% end %>
  </li>
    <li><%= link_to t('link.groups'), groups_path(@school) %></li>
    <li><%= link_to t('link.roles'), roles_path(@school) %></li>
    <li><a href="/devices/<%= @school.id%>/devices"><span><%= t('layouts.application.devices') %></span></a></li>
  </ul>
<% end %>
