<table>
  <tr>
    <td>
      <%= link_to( image_tag("anonymous.png") ) %>
    </td>
    <td>
      <p>
      <h1><%=h @user.displayName %></h1>
      </p>

      <p>
	<%= label "user", 'uid' %><br />
	<%=h @user.uid %>
      </p>
      <p>
      <%= label "user", 'puavoEduPersonAffiliation' %><br />
      <%=h t('puavoEduPersonAffiliation_' + @user.puavoEduPersonAffiliation) %>
      </p>
      <p>
      <%= label "user", 'roles' %><br />
      <%=h @user.roles.map{ |r| r.displayName }.join(", ") %>
      </p>
    </td>
  </tr>
</table>

<h2><%= t('.contact_information') %></h2>
<table>
  <tr>
  <td class="label_td view"><%= label "user", "mail" %></td>
  <td class="value_td"><%= Array(@user.mail).map{ |mail| mail_to mail }.join(", ") %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "telephoneNumber" %></td>
    <% Array(@user.telephoneNumber).each do |telephoneNumber| %>
    <td class="value_td"><%=h telephoneNumber %></td>
    <% end %>
  </tr>
</table>

<h2><%= t('.system_information') %></h2>
<table>
  <tr>
    <td class="label_td view"><%= label "user", "homeDirectory" %></td>
    <td class="value_td"><%=h @user.homeDirectory %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "uidNumber" %></td>
    <td class="value_td"><%=h @user.uidNumber %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "groups" %></td>
    <td class="value_td">
      <span id="groups_by_roles">
      <% @user.groups.each do |p| %>
      <%=h p.displayName %><br />
      <% end %>
      </span>
    </td>
  </tr>
</table>

<% content_for :right do %>
<div><%= link_to t('link.edit'), edit_user_path(@school, @user) %></div>
<div><%= link_to t('link.destroy'), user_path(@school, @user), :confirm => t('general_confirmation'), :method => :delete %></div>
<% end %>
