<table class="basic-info">
  <tr>
    <td>
      <%= image_tag(
            default_image_or_user_image_path(
              image_user_path(@user.school.id, @user),
              @user ),
            :class => "image" ) %>
    </td>
    <td>
      <h1><%=h @user.displayName %></h1>
          <% if @user.puavoLocked == true %>
            <p class="notice_text">
                  <%= t('.user_is_locked') %>
            </p>
          <% end %>

      <p>
        <%= label "user", 'uid' %><br />
        <%=h @user.uid %>
      </p>
      <p>
      <%= label "user", 'puavoEduPersonAffiliation' %><br />
      <%= Array(@user.puavoEduPersonAffiliation).map { |value| t('puavoEduPersonAffiliation_' + value) }.join(", ") %>
      </p>

      <% if new_group_management? %>
      <p>
      <%= label "user", 'groups' %><br />
      <%=h @user.groups.map{ |r| r.displayName }.join(", ") %>
      </p>
      <% else %>
      <p>
      <%= label "user", 'roles' %><br />
      <%=h @user.roles.map{ |r| r.displayName }.join(", ") %>
      </p>
      <% end %>
    </td>
  </tr>
</table>
<div class="show_user clearfix">
<div class="content-box">
<h3><%= t('.contact_information') %></h3>
<table class="user-information">
  <tr>
  <td class="label_td view"><%= label "user", "mail" %></td>
  <td class="value_td"><%= Array(@user.mail).map{ |mail| mail }.join(", ") %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "telephoneNumber" %></td>
    <td class="value_td">
      <%=h Array(@user.telephoneNumber).map{ |telephoneNumber| telephoneNumber }.join(", ") %>
    </td>
  </tr>
</table>
</div>
<div class="content-box">
<h3><%= t('.system_information') %></h3>
<table class="user-information">
  <tr>
    <td class="label_td view"><%= label "user", "homeDirectory" %></td>
    <td class="value_td"><%=h @user.homeDirectory %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "uidNumber" %></td>
    <td class="value_td"><%=h @user.uidNumber %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "groups" %></td>
    <td class="value_td">
      <span id="groups_by_roles">
      <% @user.groups.each do |p| %>
        <%=h p.displayName %><br />
      <% end %>
      </span>
    </td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoLocale" %></td>
    <td class="value_td"><%=h language_by_locale(@user.puavoLocale) %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoAllowRemoteAccess" %></td>
    <td class="value_td"><%=h t("activeldap.attributes.user.puavoAllowRemoteAccess_#{@user.puavoAllowRemoteAccess}") %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoEduPersonReverseDisplayName" %></td>
    <td class="value_td"><%=h @user.puavoEduPersonReverseDisplayName %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoEduPersonPersonnelNumber" %></td>
    <td class="value_td"><%=h @user.puavoEduPersonPersonnelNumber %></tr>
  </tr>

  <% if current_user.organisation_owner? %>
  <tr>
    <td class="label_td view"><%= label "user", "puavoSshPublicKey" %></td>
    <td class="value_td"><%= fingerprint @user.puavoSshPublicKey %></tr>
  </tr>
  <% end %>

  <tr>
    <td class="label_td view"><%= label "user", "puavoExternalId" %></td>
    <td class="value_td"><%= h @user.puavoExternalId %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label_tag t('.user_devices') %></td>
    <td class="value_td">
      <% @user_devices.each do |device| %>
      <%= link_to device.puavoHostname, device_path(device.school.puavoId, device) %><br />
      <% end %>
    </td>
  </tr>


</table>
</div>
</div>
<% content_for :right do %>

<ul class="sub-tools">
<li>
  <%= link_to edit_user_path(@school, @user), :class => 'btn' do %>
  <i class='icon-pencil'></i><%=t('link.edit')%>
  <% end %>
</li>
<li class="tool">
<span class="btn"><i class='icon-collapse'></i><%= t('link.more')%></span>
<ul>
<li>
<%= link_to select_school_user_path(@school, @user) do %>
  <i class='icon-exchange'></i><%=t('.change_school')%>
  <% end %>
</li>
<li>
  <%= link_to( user_path(@school, @user.puavoId), :confirm => t('destroy_confirm', :object_name => @user.displayName), :method => :delete) do %>
    <i class='icon-trash'></i><%=t('link.destroy')%>
  <% end %>
</li>
</ul>
</li>
</ul>
<% end %>
