<h1><%=h @user.displayName %></h1>
<table>
  <tr>
    <td>

      <p>
	<%= label "user", 'uid' %><br />
	<%=h @user.uid %>
      </p>
      <p>
      <%= label "user", 'puavoEduPersonAffiliation' %><br />
      <%=h t('puavoEduPersonAffiliation_' + @user.puavoEduPersonAffiliation) %>
      </p>
      <p>
      <%= label "user", 'roles' %><br />
      <%=h @user.roles.map{ |r| r.displayName }.join(", ") %>
      </p>
    </td>
    <td>
      <%= image_tag( @user.jpegPhoto.nil? ? "anonymous.png" : image_user_path(@school, @user),
                     :class => "image" ) %>
    </td>
  </tr>
</table>

<h2><%= t('.contact_information') %></h2>
<table>
  <tr>
  <td class="label_td view"><%= label "user", "mail" %></td>
  <td class="value_td"><%= Array(@user.mail).map{ |mail| mail_to mail }.join(", ") %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "telephoneNumber" %></td>
    <td class="value_td">
      <%=h Array(@user.telephoneNumber).map{ |telephoneNumber| telephoneNumber }.join(", ") %>
    </td>
  </tr>
</table>

<h2><%= t('.system_information') %></h2>
<table>
  <tr>
    <td class="label_td view"><%= label "user", "homeDirectory" %></td>
    <td class="value_td"><%=h @user.homeDirectory %></td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "uidNumber" %></td>
    <td class="value_td"><%=h @user.uidNumber %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "groups" %></td>
    <td class="value_td">
      <span id="groups_by_roles">
      <% @user.groups.each do |p| %>
      <%=h p.displayName %><br />
      <% end %>
      </span>
    </td>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "preferredLanguage" %></td>
    <td class="value_td"><%=h @user.preferredLanguage ? t('language_' + @user.preferredLanguage) : "" %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoAllowRemoteAccess" %></td>
    <td class="value_td"><%=h t("activeldap.attributes.user.puavoAllowRemoteAccess_#{@user.puavoAllowRemoteAccess}") %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoEduPersonReverseDisplayName" %></td>
    <td class="value_td"><%=h @user.puavoEduPersonReverseDisplayName %></tr>
  </tr>

  <tr>
    <td class="label_td view"><%= label "user", "puavoEduPersonPersonnelNumber" %></td>
    <td class="value_td"><%=h @user.puavoEduPersonPersonnelNumber %></tr>
  </tr>

</table>

<% content_for :right do %>
<div><%= link_to t('link.edit'), edit_user_path(@school, @user) %></div>
<div><%= link_to t('link.destroy'), user_path(@school, @user), :confirm => t('general_confirmation'), :method => :delete %></div>
<div><%= link_to t('.change_school'), select_school_user_path(@school, @user) %></div>
<% end %>
