<% page_title t('titles.schools'), @school.displayName, t('titles.users'), t('titles.users_import') %>

<% content_for :javascript do %>
<script>
// Needed by new_import.js, but it has no access to the Rails' asset pipeline
const CSV_PARSER_PATH = "<%= javascript_path 'csv_parser' %>",
      IMPORT_WORKER_PATH = "<%= javascript_path 'import_worker' %>";
</script>

<%= javascript_include_tag 'bundles/import_tool' %>
<%= javascript_include_tag 'i18n/import_tool' %>
<% end %>

<h1><%= t('new_import.title') %></h1>

<% unless @can_create_users %>
<p class="genericWarning"><%= t('new_import.cant_create_users') %></p>
<% end %>

<!-- The main container. Everything in the importer MUST be inside this DIV! -->
<div id="import">

<!-- Tabs -->
<nav>
    <button id="page1" class="tab"><%= t('new_import.source_tab') %></button>
    <button id="page2" class="tab"><%= t('new_import.import_tab') %></button>
</nav>

<!-- The source page -->
<section id="page1" class="hidden">

<p class="line-height-125p"><%= t('new_import.source_help') %></p>

<div class="flex-rows gap-10px">
    <div class="flex-cols gap-10px">
        <select id="source" class="padding-5px width-25p">
            <option value="manual"><%= t('new_import.manual_title') %></option>
            <option value="upload"><%= t('new_import.upload_title') %></option>
            <option value="unl"><%= t('new_import.unl_title') %></option>
        </select>

        <button id="downloadTemplate" class="btn popupToggle" data-template="downloadTemplatePopup">
            <%= t('new_import.buttons.download_template') %>... ▼
        </button>
    </div>

    <div class="sourceContents">
        <div id="manual" class="hidden">
            <p class="margin-0"><strong><%= t('new_import.manual_help') %></strong></p>
            <textarea rows="15" class="width-100p padding-5px"></textarea>
        </div>

        <div id="upload" class="hidden">
            <p class="margin-0"><strong><%= t('new_import.upload_help') %></strong></p>
            <input type="file" id="fileUpload" class="margin-top-5px">
        </div>

        <div id="unl" class="hidden">
            <% if @lists.empty? %>
            <p class="margin-0"><strong><%= t('new_import.unl_no_lists') %></strong></p>
            <% else %>
            <p class="margin-0 line-height-125p"><%= t('new_import.unl_help').html_safe %></p>

            <%
            created_by = t('new_import.unl_created_by')
            created_at = t('new_import.unl_created_at')
            members = t('new_import.unl_members')
            description = t('new_import.unl_description')
            %>

            <select class="margin-top-5px">
                <% @lists.each do |l| %>
                <%
                parts = [
                    "#{created_by}: #{l.creator}",
                    "#{created_at}: #{Time.at(l.created_at).strftime('%Y-%m-%d %H:%M:%S')}",
                    "#{members}: #{l.users.count}"
                ]

                unless l.description.nil? || l.description.empty?
                    parts << "#{description}: \"#{l.description}\""
                end
                %>
                <option value="<%= l.uuid %>"><%= parts.join('; ') %></option>
                <% end %>
            </select>
            <br><button id="loadUNL" class="margin-top-5px"><%=t('new_import.unl_load') %></button>
            <br><textarea rows="15" cols="50" class="padding-5px"></textarea>
            <% end %>
        </div>
    </div>

    <!-- Parser settings popup. The summary is filled in later. -->
    <details id="settings">
        <summary></summary>

        <div class="flex-rows gap-10px margin-left-20px margin-top-5px margin-bottom-20px">
            <div class="settingRow">
              <input type="checkbox" id="inferTypes">
              <label for="inferTypes"><%= t('new_import.infer_columns') %></label>
            </div>

            <div class="settingRow">
                <details class="margin-left-20px">
                    <summary class=""><%= t('new_import.buttons.show_infers') %></summary>
                    <p><%= t('new_import.infer_explanation') %></p>
                    <table class="inferTable margin-top-10px">
                        <thead><tr><th><%= t('new_import.infer_left') %></th><th><%= t('new_import.infer_right') %></th></tr></thead>
                        <tbody></tbody>
                    </table>
                </details>
            </div>

            <div class="settingRow">
                <input type="checkbox" id="trimValues" checked>
                <label for="trimValues"><%= t('new_import.trim') %></label>
            </div>

            <div class="settingRow">
                <fieldset class="margin-0"><legend><%= t('new_import.separator') %></legend>
                    <p class="margin-5px padding-0 padding-bottom-5px"><%= t('new_import.separator_help') %></p>
                    <input type="radio" name="separator" id="comma"><label for="comma"><%= t('new_import.comma') %></label><br>
                    <input type="radio" name="separator" id="semicolon"><label for="semicolon"><%= t('new_import.semicolon') %></label><br>
                    <input type="radio" name="separator" id="tab" checked><label for="tab"><%= t('new_import.tab') %></label>
                </fieldset>
            </div>
        </div>
    </details>

    <!-- Live preview -->
    <p class="margin-0"><strong><%= t('new_import.preview') %>:</strong></p>
    <div id="preview"></div>

    <div>
        <button id="readData" class="btn width-100p"><%= t('new_import.buttons.read_data') %></button>
    </div>
</div>

</section>

<!-- The data manipulation and import table -->
<section id="page2" class="hidden">

<template id="template_selectExistingUIDsPopup">
    <div class="popupContainer">
        <button id="selectDupesAll"><%= t('new_import.buttons.everyone') %></button>
        <button id="selectDupesThisSchool"><%= t('new_import.buttons.everyone_in_this_school') %></button>
        <button id="selectDupesOtherSchools"><%= t('new_import.buttons.everyone_in_other_schools') %></button>
    </div>
</template>

<template id="template_selectRowsPopup">
    <div class="popupContainer">
        <button id="selectAll"><%= t('new_import.buttons.select_all') %></button>
        <button id="deselectAll"><%= t('new_import.buttons.deselect_all') %></button>
        <button id="invertSelection"><%= t('new_import.buttons.invert_selection') %></button>
        <label class="margin-top-10px"><%= t('new_import.need_to_import_first') %>:</label>
        <button id="selectIdle"><%= t('new_import.buttons.select_unprocessed_rows') %></button>
        <button id="selectSuccessfull"><%= t('new_import.buttons.select_successfull_rows') %></button>
        <button id="selectPartiallySuccessfull"><%= t('new_import.buttons.select_partially_successfull_rows') %></button>
        <button id="selectFailed"><%= t('new_import.buttons.select_failed_rows') %></button>
    </div>
</template>

<template id="template_analyzePopup">
    <div class="popupContainer">
        <button id="analyzeDuplicates"><%= t('new_import.buttons.compare_attributes') %></button>
    </div>
</template>

<template id="template_exportPopup">
    <div class="popupContainer">
        <fieldset class="margin-0 padding-5px"><legend><%= t('new_import.tools.export.target') %></legend>
            <div class="flex-rows">
                <span><input type="radio" name="type" id="all" checked><label for="all"><%= t('new_import.tools.export.all_rows') %></label></span>
                <span><input type="radio" name="type" id="selected"><label for="selected"><%= t('new_import.tools.export.selected_rows') %></label></span>
                <span><input type="radio" name="type" id="unselected"><label for="unselected"><%= t('new_import.tools.export.unselected_rows') %></label></span>
            </div>
        </fieldset>

        <p class="margin-0 margin-top-10px"><%= t('new_import.tools.export.pdf_warning') %></p>

        <button id="exportCSV">CSV</button>
        <button id="exportPDF">PDF</button>
        <button id="exportPDFWithPasswords"><%= t('new_import.buttons.export_pdf_with_passwords') %></button>
    </div>
</template>

<template id="template_usernameListPopup">
    <div class="popupContainer">
        <span><input type="checkbox" id="onlySelection" checked><label for="onlySelection"><%= t('new_import.tools.username_list.selection_only') %></label></span>
        <label for="unlDescription"><%= t('new_import.tools.username_list.list_title') %>:</label>
        <input type="text" maxlength="100" id="unlDescription">
        <button id="doIt" class="margin-top-10px"><%= t('new_import.tools.username_list.create_list') %></button>
    </div>
</template>

<template id="template_downloadTemplatePopup">
    <div class="popupContainer">
        <p class="margin-0 margin-top-10px"><%= t('new_import.tools.download_template.title') %></p>

        <fieldset class="margin-0 padding-5px"><legend><%= t('new_import.tools.download_template.columns') %></legend>
            <div class="flex-cols gap-10px">
                <div class="flex-rows">
                    <span><input type="checkbox" id="first" checked><label for="first"><%= t('new_import.columns.first') %></label></span>
                    <span><input type="checkbox" id="last" checked><label for="last"><%= t('new_import.columns.last') %></label></span>
                    <span><input type="checkbox" id="uid" checked><label for="uid"><%= t('new_import.columns.uid') %></label></span>
                    <span><input type="checkbox" id="role" checked><label for="role"><%= t('new_import.columns.role') %></label></span>
                    <span><input type="checkbox" id="password" checked><label for="password"><%= t('new_import.columns.password') %></label></span>
                    <span><input type="checkbox" id="eid"><label for="eid"><%= t('new_import.columns.eid') %></label></span>
                </div>

                <div class="flex-rows">
                    <span><input type="checkbox" id="rawgroup"><label for="rawgroup"><%= t('new_import.columns.rawgroup') %></label></span>
                    <span><input type="checkbox" id="group" checked><label for="group"><%= t('new_import.columns.group') %></label></span>
                    <span><input type="checkbox" id="phone"><label for="phone"><%= t('new_import.columns.phone') %></label></span>
                    <span><input type="checkbox" id="email"><label for="email"><%= t('new_import.columns.email') %></label></span>
                    <span><input type="checkbox" id="pnumber"><label for="pnumber"><%= t('new_import.columns.pnumber') %></label></span>
                </div>
            </div>
        </fieldset>

        <fieldset class="margin-0 padding-5px"><legend><%= t('new_import.separator') %></legend>
            <div class="flex-rows">
                <span><input type="radio" name="template_separator" id="template_comma" checked><label for="template_comma"><%= t('new_import.comma') %> (CSV)</label></span>
                <span><input type="radio" name="template_separator" id="template_semicolon"><label for="template_semicolon"><%= t('new_import.semicolon') %> (CSV)</label></span>
                <span><input type="radio" name="template_separator" id="template_tab"><label for="template_tab"><%= t('new_import.tab') %> (TSV)</label></span>
            </div>
        </fieldset>

        <button><%= t('new_import.buttons.download_template_file') %></button>
    </div>
</template>

<div class="flex-rows gap-10px margin-top-10px ">
    <!-- Control buttons -->
    <div id="controls">
        <div class="row">
            <button id="selectRows" class="btn popupToggle" data-template="selectRowsPopup">
                <%= t('new_import.buttons.select_rows') %>... ▼
            </button>

            <button id="analyze" class="btn popupToggle" data-template="analyzePopup">
                <%= t('new_import.buttons.analyze') %>... ▼
            </button>

            <button id="selectExistingUIDs" class="btn popupToggle" data-template="selectExistingUIDsPopup">
                <%= t('new_import.buttons.select_existing_uids') %>... ▼
            </button>

            <button id="export" class="btn popupToggle" data-template="exportPopup">
                <%= t('new_import.buttons.export') %>... ▼
            </button>

            <button id="unl" class="btn popupToggle" data-template="usernameListPopup">
                <%= t('new_import.buttons.username_list') %>... ▼
            </button>

            <button id="deleteSelectedRows" class="btn btn-danger"><%= t('new_import.buttons.delete_selected_rows') %></button>

        </div>

        <div class="row">
            <button id="beginImport" class="btn"><%= t('new_import.buttons.begin') %></button>
            <!--<button id="beginImportSelected" class="btn"><%= t('new_import.buttons.begin_selected') %></button>//-->
            <button id="retryFailed" class="btn"></i><%= t('new_import.buttons.begin_failed') %></button>
            <button id="stopImport" class="btn" disabled><%= t('new_import.buttons.stop') %></button>

            <div class="margin-left-10px">
                <label for="mode"><%= t('new_import.mode.label') %>:</label>
                <select id="mode">
                    <% if @can_create_users %>
                    <option value="0"><%= t('new_import.mode.create_new_update_existing') %></option>
                    <option value="1"><%= t('new_import.mode.create_new_skip_existing') %></option>
                    <% else %>
                    <option value="0" disabled><%= t('new_import.mode.create_new_update_existing') %></option>
                    <option value="1" disabled><%= t('new_import.mode.create_new_skip_existing') %></option>
                    <% end %>
                    <option value="2"><%= t('new_import.mode.skip_new_update_existing') %></option>
                </select>
            </div>
        </div>

        <!--
        <div class="row">
            <span><input type="checkbox" id="checkOnlySelectedRows"><label for="checkOnlySelectedRows">Tarkista vain valitut rivit virheiden ja ongelmien varalta</label></span>
            <button id="detectProblemsNow" class="btn">Tarkista nyt</button>
        </div>
        //-->
    </div>

    <!-- Errors and warnings -->
    <div id="problems"></div>

    <!-- Status message, progress bar -->
    <div id="status">
        <div id="rowCounts">...</div>
        <div class="flex-rows gap-5px flex-grow-2">
            <div id="message" class="hidden"></div>
            <progress max="0" value="0" class="hidden"></progress>
        </div>
    </div>

    <!-- The import table -->
    <div id="output"><p><%= t('new_import.no_data') %></p></div>
</div>
</section>

</div>  <!-- the main import container div -->

<!-- Templates -->
<template id="template_importTable">
    <table class="importTable">
        <thead>
            <tr class="stickyTop">
                <th></th>
                <th class="state">
                    <span id="legendToggle"><%= t('new_import.table.row_state') %></span>
                    <div id="legend">
                        <ul>
                            <li><div class="idle"></div> <%= t('new_import.table.legend.idle') %></li>
                            <li><div class="processing"></div> <%= t('new_import.table.legend.processing') %></li>
                            <li><div class="success"></div> <%= t('new_import.table.legend.success') %></li>
                            <li><div class="partialSuccess"></div> <%= t('new_import.table.legend.partial_success') %></li>
                            <li><div class="failed"></div> <%= t('new_import.table.legend.failed') %></li>
                        </ul>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</template>

<template id="template_tableRow">
    <tr>
        <th class="checkbox"><input type="checkbox" title="<%= t('new_import.table.select_row') %>"></th>
        <th class="state"></th>
    </tr>
</template>

<template id="template_columnHeader">
    <th class="stickyTop">
        <div class="flex-cols flex-vcenter">
            <select id="type" title="<%= t('new_import.column_title') %>" class="flex-grow-2">
                <option value=""><%= t('new_import.columns.skip') %></option>
                <option value="first"><%= t('new_import.columns.first') %></option>
                <option value="last"><%= t('new_import.columns.last') %></option>
                <option value="uid"><%= t('new_import.columns.uid') %></option>
                <option value="role"><%= t('new_import.columns.role') %></option>
                <option value="password"><%= t('new_import.columns.password') %></option>
                <option value="eid"><%= t('new_import.columns.eid') %></option>
                <option value="group"><%= t('new_import.columns.group') %></option>
                <option value="rawgroup"><%= t('new_import.columns.rawgroup') %></option>
                <option value="phone"><%= t('new_import.columns.phone') %></option>
                <option value="email"><%= t('new_import.columns.email') %></option>
                <option value="pnumber"><%= t('new_import.columns.pnumber') %></option>
            </select>

            <button id="controls" class="controls" title="<%= t('new_import.column_tools') %>">&#xe822;</button>
        </div>
    </th>
</template>

<!-- A variant of the template above, used in preview tables -->
<template id="template_previewColumnHeader">
    <th>
        <div class="colType"><%= t('new_import.columns.skip') %></div>
    </th>
</template>

<template id="template_columnMenu">
    <div class="columnMenu">
        <ul>
            <!-- List all menu entries here, unused ones are removed before the menu is displayed -->
            <li><a id="fill_column"><i class="icon icon-pencil margin-right-5px"></i><%= t('new_import.menu.fill_column') %></a></li>
            <li><a id="fill_selection"><i class="icon icon-pencil margin-right-5px"></i><%= t('new_import.menu.fill_selection') %></a></li>
            <li><a id="set_role"><i class="icon icon-pencil margin-right-5px"></i><%= t('new_import.menu.set_role') %></a></li>
            <li><a id="generate_usernames"><i class="icon icon-pencil margin-right-5px"></i><%= t('new_import.menu.generate_usernames') %></a></li>
            <li><a id="parse_groups"><i class="icon icon-pencil margin-right-5px" id="parse_groups"></i><%= t('new_import.menu.parse_groups') %></a></li>
            <li><a id="generate_passwords"><i class="icon icon-pencil margin-right-5px"></i><%= t('new_import.menu.generate_passwords') %></a></li>
            <li><a id="add_to_group"><i class="icon icon-pencil margin-right-5px"></i><%= t('new_import.menu.add_to_group') %></a></li>
            <li><a id="clear_column"><i class="icon icon-cancel margin-right-5px"></i><%= t('new_import.menu.clear_column') %></a></li>
            <li><a id="clear_selection"><i class="icon icon-cancel margin-right-5px"></i><%= t('new_import.menu.clear_selection') %></a></li>
            <li class="separator"></li>
            <li><a id="insert_column"><i class="icon icon-plus margin-right-5px"></i><%= t('new_import.menu.insert_column') %></a></li>
            <li class="separator"></li>
            <li><a id="delete_column" class="danger"><i class="icon icon-trash margin-right-5px"></i><%= t('new_import.menu.delete_column') %></a></li>
        </ul>
    </div>
</template>

<template id="template_directCellEdit">
    <div class="flex-rows gap-5px">
        <div id="contents"></div>
        <div class="directButtons">
            <button id="save">OK (Enter)</button>
            <button id="close"><%= t('new_import.buttons.close') %></button>
        </div>
    </div>
</template>

<template id="template_directCellEditText">
    <input type="text" class="cellEdit width-100p">
</template>

<template id="template_selectRole">
    <label for="role"><%= t('new_import.tools.set_role.help') %></label>
    <select id="role" class="width-100p">
        <!-- The "admin" role has been omitted on purpose. Admins aren't meant to be mass-imported. -->
        <option value="student"><%= t('puavoEduPersonAffiliation_student') %></option>
        <option value="teacher"><%= t('puavoEduPersonAffiliation_teacher') %></option>
        <option value="staff"><%= t('puavoEduPersonAffiliation_staff') %></option>
        <option value="parent"><%= t('puavoEduPersonAffiliation_parent') %></option>
        <option value="visitor"><%= t('puavoEduPersonAffiliation_visitor') %></option>
        <option value="testuser"><%= t('puavoEduPersonAffiliation_testuser') %></option>
    </select>
</template>

<template id="template_selectGroup">
    <label for="abbr"><%= t('new_import.tools.set_group.help') %></label>
    <div class="flex-rows gap-5px">
        <select id="abbr"></select>   <!-- Filled in dynamically -->
        <button id="reload"><%= t('new_import.buttons.reload_groups') %></button>
    </div>
</template>

<template id="template_fillDialogCommon">
    <!-- List all possible headers and fill buttons. The unused are removed before the dialog is shown. -->
    <header data-for="set_role"><%= t('new_import.tools.set_role.title') %></header>
    <header data-for="set_group"><%= t('new_import.tools.set_group.title') %></header>
    <header data-for="generate_usernames"><%= t('new_import.tools.generate_usernames.title') %></header>
    <header data-for="parse_groups"><%= t('new_import.tools.parse_groups.title') %></header>
    <header data-for="generate_passwords"><%= t('new_import.tools.generate_passwords.title') %></header>
    <header data-for="fill_column"><%= t('new_import.tools.fill.title_column') %></header>
    <header data-for="fill_selection"><%= t('new_import.tools.fill.title_selection') %></header>
    <div id="columnDialog">
        <div id="contents"></div>
        <span><input type="checkbox" id="overwrite" checked><label for="overwrite"><%= t('new_import.buttons.overwrite_existing') %></label></span>
        <div class="buttons">
            <button id="fill" data-for="set"><%= t('new_import.buttons.set') %></button>
            <button id="fill" data-for="add"><%= t('new_import.buttons.add') %></button>
            <button id="fill" data-for="generate"><%= t('new_import.buttons.generate') %></button>
            <button id="fill" data-for="fill"><%= t('new_import.buttons.fill') %></button>
            <button id="close"><%= t('new_import.buttons.close') %></button>
        </div>
    </div>
</template>

<template id="template_genericFill">
    <label for="value" id="column"><%= t('new_import.tools.fill.help_column') %></label>
    <label for="value" id="selection"><%= t('new_import.tools.fill.help_selection') %></label>
    <input type="text" id="value" class="margin-top-5px" value="">
</template>

<template id="template_generateUsernames">
    <label><%= t('new_import.tools.generate_usernames.help') %></label>
    <div class="flex-rows gap-5px margin-top-10px">
        <span><input type="radio" name="method" id="drop"><label for="drop">ä → a, ö → o, ü → u</label></span>
        <span><input type="radio" name="method" id="replace"><label for="replace">ä → ae, ö → oe, ü → ue</label></span>
        <span><input type="checkbox" id="first_first_only"><label for="first_first_only" title="<%= t('new_import.tools.generate_usernames.first_first_name_only_help') %>"><%= t('new_import.tools.generate_usernames.first_first_name_only') %></label></span>
    </div>
</template>

<template id="template_parseGroups">
    <label><%= t('new_import.tools.parse_groups.help') %></label>
    <div id="parseGroupsTable">
        <table>
            <tbody></tbody>     <!-- Filled in dynamically -->
        </table>
    </div>
</template>

<template id="template_generatePasswords">
    <span class="margin-left-15px"><input type="radio" name="method" id="fixed"><label for="fixed"><%= t('new_import.tools.generate_passwords.fixed') %>:</label><input type="text" class="margin-left-5px font-monospace" id="fixedPassword"></span>

    <fieldset class="margin-top-5px margin-bottom-0">
        <legend>
            <span><input type="radio" name="method" id="random" checked><label for="random"><%= t('new_import.tools.generate_passwords.random') %>:</label></span>
        </legend>

        <div class="flex-rows gap-5px margin-top-5px">
            <span><input type="checkbox" id="uppercase"><label for="uppercase"><%= t('new_import.tools.generate_passwords.uppercase') %></label></span>
            <span><input type="checkbox" id="lowercase"><label for="lowercase"><%= t('new_import.tools.generate_passwords.lowercase') %></label></span>
            <span><input type="checkbox" id="numbers"><label for="numbers"><%= t('new_import.tools.generate_passwords.numbers') %></label></span>
            <span><input type="checkbox" id="punctuation"><label for="punctuation"><%= t('new_import.tools.generate_passwords.punct') %></label></span>
            <div class="flex-cols flex-vcenter"><label><%= t('new_import.tools.generate_passwords.length') %>:</label><input type="range" id="length" class="flex-grow-2 margin-left-5px"><div id="lengthValue" class="padding-5px"></div></div>
        </div>
    </fieldset>
</template>

<template id="template_errors">
    <div class="problems errors">
        <p><%= t('new_import.problems.errors_title') %></p>
        <ul></ul>       <!-- Filled in dynamically -->
    </div>
</template>

<template id="template_warnings">
    <div class="problems warnings">
        <p><%= t('new_import.problems.warnings_title') %></p>
        <ul></ul>       <!-- Filled in dynamically -->
    </div>
</template>

<script>
"use strict;"

document.addEventListener('DOMContentLoaded', function() {

// The importer JavaScript file is not an ERB template; it has no access to t() and I don't want
// to duplicate everything in the JS translation file, so I'll pass some of the strings this way.

const LOCALIZED_COLUMN_TITLES = {
    first: "<%= t('new_import.columns.first') %>",
    last: "<%= t('new_import.columns.last') %>",
    uid: "<%= t('new_import.columns.uid') %>",
    role: "<%= t('new_import.columns.role') %>",
    password: "<%= t('new_import.columns.password') %>",
    eid: "<%= t('new_import.columns.eid') %>",
    group: "<%= t('new_import.columns.group') %>",
    rawgroup: "<%= t('new_import.columns.rawgroup') %>",
    phone: "<%= t('new_import.columns.phone') %>",
    email: "<%= t('new_import.columns.email') %>",
    pnumber: "<%= t('new_import.columns.pnumber') %>",
};

const LOCALIZED_GROUP_TYPES = {
    "teaching group": "<%= t('group_type.teaching group') %>",
    "course group": "<%= t('group_type.course group') %>",
    "year class": "<%= t('group_type.year class') %>",
    "administrative group": "<%= t('group_type.administrative group') %>",
    "archive users": "<%= t('group_type.archive users') %>",
    "other groups": "<%= t('group_type.other groups') %>",
};

const INITIAL_GROUPS = <%= raw JSON.pretty_generate(@initial_groups) %>;

const COMMON_PASSWORDS = "<%= raw Puavo::COMMON_PASSWORDS %>";

initializeImporter({
    container: document.getElementById("import"),
    columnTitles: LOCALIZED_COLUMN_TITLES,
    groupTypes: LOCALIZED_GROUP_TYPES,
    groups: INITIAL_GROUPS,
    organisationName: "<%= LdapOrganisation.current.cn %>",
    schoolId: <%= @school.id.to_i %>,
    schoolName: "<%= @school.cn %>",
    currentUserName: "<%= current_user.givenName %> <%= current_user.sn %> (<%= current_user.uid %>)",
    <% if @automatic_email_addresses %>
    automaticEmails: true,
    <% else %>
    automaticEmails: false,
    <% end %>
    <% if @can_create_users %>
    permitUserCreation: true,
    <% else %>
    permitUserCreation: false,
    <% end %>
    commonPasswords: COMMON_PASSWORDS,
});

});
</script>
