<!-- shared/_auto_power_off_settings starts -->
<tr>
  <th><%= t("activeldap.attributes.#{object.class.human_name}.puavoDeviceAutoPowerOffMode") %></th>
  <td><%= h t('puavoDeviceAutoPowerOffMode_' + (object.puavoDeviceAutoPowerOffMode or 'default'),
              :scope => "activeldap.attributes.#{ object.class.human_name }") %>
  </td>
</tr>

<tr>
  <th><%= t("activeldap.attributes.#{object.class.human_name}.puavoDeviceOnHour") %></th>
  <td><%= h object.puavoDeviceOnHour %></td>
</tr>

<tr>
  <th><%= t("activeldap.attributes.#{object.class.human_name}.puavoDeviceOffHour") %></th>
  <td><%= h object.puavoDeviceOffHour %></td>
</tr>
<!-- shared/_auto_power_off_settings ends -->
