// Table column definitions
const COLUMN_DEFINITIONS = {
    abitti_version: {
        key: "abitti_version",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },

    allow_guest: {
        key: "allow_guest",
        type: ColumnType.BOOL,
    },

    audio_sink: {
        key: "audio_sink",
        type: ColumnType.STRING,
        export_name: "audio_out",
    },

    audio_src: {
        key: "audio_src",
        type: ColumnType.STRING,
        export_name: "audio_in",
    },

    auto_updates: {
        key: "auto_updates",
        type: ColumnType.BOOL,
    },

    autopower_mode: {
        key: "autopower_mode",
        type: ColumnType.STRING,
    },

    autopower_on: {
        key: "autopower_on",
        type: ColumnType.NUMERIC,
    },

    autopower_off: {
        key: "autopower_off",
        type: ColumnType.NUMERIC,
    },

<% if @is_servers %>
    available_images: {
        key: "available_images",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },
<% end %>

    bat_cap: {
        key: "bat_cap",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.DESCENDING_DEFAULT,
    },

    bat_pcnt: {
        key: "bat_pcnt",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.DESCENDING_DEFAULT,
    },

    bat_volts: {
        key: "bat_volts",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.DESCENDING_DEFAULT,
    },

    bat_serial: {
        key: "bat_serial",
        type: ColumnType.STRING,
    },

    bat_vendor: {
        key: "bat_vendor",
        type: ColumnType.STRING,
    },

    bios_date: {
        key: "bios_date",
        type: ColumnType.STRING,
    },

    bios_vendor: {
        key: "bios_vendor",
        type: ColumnType.STRING,
    },

    bios_version: {
        key: "bios_version",
        type: ColumnType.STRING,
    },

    conf: {
        key: "conf",
        type: ColumnType.STRING,
        flags: ColumnFlag.ARRAY,
        alias: ["puavo_conf", "puavoconf"],
        export_name: "puavoconf",
    },

    cpu: {
        key: "cpu",
        type: ColumnType.STRING,
    },

    created: {
        key: "created",
        type: ColumnType.UNIXTIME,
        flags: ColumnFlag.DESCENDING_DEFAULT,
    },

    current_image: {
        key: "current_image",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },

    default_printer: {
        key: "default_printer",
        type: ColumnType.STRING,
    },

    desc: {
        key: "desc",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
        alias: ["description"],
    },

    df_home: {
        key: "df_home",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.USER_TRANSFORM | ColumnFlag.DESCENDING_DEFAULT | ColumnFlag.F_STORAGE,
    },

    df_images: {
        key: "df_images",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.USER_TRANSFORM | ColumnFlag.DESCENDING_DEFAULT | ColumnFlag.F_STORAGE,
    },

    df_state: {
        key: "df_state",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.USER_TRANSFORM | ColumnFlag.DESCENDING_DEFAULT | ColumnFlag.F_STORAGE,
    },

    df_tmp: {
        key: "df_tmp",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.USER_TRANSFORM | ColumnFlag.DESCENDING_DEFAULT | ColumnFlag.F_STORAGE,
    },

    df_imageoverlays: {
        key: "df_imageoverlays",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.USER_TRANSFORM | ColumnFlag.DESCENDING_DEFAULT | ColumnFlag.F_STORAGE,
    },

    hd: {
        key: "hd",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.USER_TRANSFORM | ColumnFlag.DESCENDING_DEFAULT | ColumnFlag.F_STORAGE,
        alias: ["hard_drive"],
    },

    hd_ssd: {
        key: "hd_ssd",
        type: ColumnType.BOOL,
    },

    hn: {
        key: "hn",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
        alias: ["hostname"],
        export_name: "hostname",
    },

    hw_time: {
        key: "hw_time",
        type: ColumnType.UNIXTIME,
        flags: ColumnFlag.DESCENDING_DEFAULT,
    },

    have_smart: {
        key: "have_smart",
        type: ColumnType.BOOL,
    },

    id: {
        key: "id",
        type: ColumnType.NUMERIC,
    },

    image: {
        key: "image",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },

    image_series: {
        key: "image_series",
        type: ColumnType.STRING,
    },

    krn_args: {
        key: "krn_args",
        type: ColumnType.STRING,
        alias: ["kernel_args"],
        export_name: "kernel_args",
    },

    krn_ver: {
        key: "krn_ver",
        type: ColumnType.STRING,
        alias: ["kernel_version"],
        export_name: "kernel_version",
    },

    location: {
        key: "location",
        type: ColumnType.STRING,
        flags: ColumnFlag.ARRAY,
    },

    loc_lat: {
        key: "loc_lat",
        type: ColumnType.STRING,
    },

    loc_lon: {
        key: "loc_lon",
        type: ColumnType.STRING,
    },

    lspci: {
        key: "lspci",
        type: ColumnType.STRING,
        flags: ColumnFlag.ARRAY,
    },

    lsusb: {
        key: "lsusb",
        type: ColumnType.STRING,
        flags: ColumnFlag.ARRAY,
    },

    mac: {
        key: "mac",
        type: ColumnType.STRING,
        flags: ColumnFlag.ARRAY,
    },

    mfer: {
        key: "mfer",
        type: ColumnType.STRING,
        alias: ["manufacturer"],
        export_name: "manufacturer",
    },

    model: {
        key: "model",
        type: ColumnType.STRING,
    },

    modified: {
        key: "modified",
        type: ColumnType.UNIXTIME,
        flags: ColumnFlag.DESCENDING_DEFAULT,
    },

    monitors_xml: {
        key: "monitors_xml",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },

<% if @is_organisation %>
    school: {
        key: "school",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },
<% end %>

<% if @is_servers %>
    schools: {
        key: "schools",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },
<% end %>

    user: {
        key: "user",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },

    personal_admin: {
        key: "personal_admin",
        type: ColumnType.BOOL,
        export_name: "personally_administered",
    },

    personal_device: {
        key: "personal_device",
        type: ColumnType.BOOL,
    },

    printer_uri: {
        key: "printer_uri",
        type: ColumnType.STRING,
    },

    purchase_date: {
        key: "purchase_date",
        type: ColumnType.UNIXTIME,
        flags: ColumnFlag.USER_TRANSFORM,
    },

    purchase_loc: {
        key: "purchase_loc",
        type: ColumnType.STRING,
    },

    purchase_support: {
        key: "purchase_support",
        type: ColumnType.STRING,
        export_name: "support_contract",
    },

    purchase_url: {
        key: "purchase_url",
        type: ColumnType.STRING,
    },

    purchase_warranty: {
        key: "purchase_warranty",
        type: ColumnType.UNIXTIME,
        flags: ColumnFlag.USER_TRANSFORM,
        export_name: "warranty_ends",
    },

    ram: {
        key: "ram",
        type: ColumnType.NUMERIC,
        flags: ColumnFlag.USER_TRANSFORM | ColumnFlag.DESCENDING_DEFAULT | ColumnFlag.F_STORAGE,
    },

    serial: {
        key: "serial",
        type: ColumnType.STRING,
    },

    status: {
        key: "status",
        type: ColumnType.STRING,
    },

    tags: {
        key: "tags",
        type: ColumnType.STRING,
        flags: ColumnFlag.ARRAY,
    },

    type: {
        key: "type",
        type: ColumnType.STRING,
    },

    wifi: {
        key: "wifi",
        type: ColumnType.STRING,
    },

    windows_license: {
        key: "windows_license",
        type: ColumnType.BOOL,
    },

    xrandr: {
        key: "xrandr",
        type: ColumnType.STRING,
        flags: ColumnFlag.ARRAY,
    },

    xserver: {
        key: "xserver",
        type: ColumnType.STRING,
    },
};

// Localized column titles
const COLUMN_TITLES = {
    abitti_version: "<%= t('columns.devices.abitti_version') %>",
    allow_guest: "<%= t('columns.devices.allow_guest') %>",
    audio_sink: "<%= t('columns.devices.audio_sink') %>",
    audio_src: "<%= t('columns.devices.audio_src') %>",
    auto_updates: "<%= t('columns.devices.auto_updates') %>",
    autopower_mode: "<%= t('columns.devices.autopower_mode') %>",
    autopower_on: "<%= t('columns.devices.autopower_on') %>",
    autopower_off: "<%= t('columns.devices.autopower_off') %>",
    available_images: "<%= t('columns.servers.available_images') %>",
    bat_cap: "<%= t('columns.devices.bat_cap') %>",
    bat_pcnt: "<%= t('columns.devices.bat_pcnt') %>",
    bat_volts: "<%= t('columns.devices.bat_volts') %>",
    bat_serial: "<%= t('columns.devices.bat_serial') %>",
    bat_vendor: "<%= t('columns.devices.bat_vendor') %>",
    bios_date: "<%= t('columns.devices.bios_date') %>",
    bios_vendor: "<%= t('columns.devices.bios_vendor') %>",
    bios_version: "<%= t('columns.devices.bios_version') %>",
    conf: "<%= t('columns.puavoconf') %>",
    cpu: "<%= t('columns.devices.cpu') %>",
    created: "<%= t('columns.created') %>",
    current_image: "<%= t('columns.devices.current_image') %>",
    default_printer: "<%= t('columns.devices.default_printer') %>",
    desc: "<%= t('columns.devices.description') %>",
    df_home: "<%= t('columns.devices.df_home') %>",
    df_images: "<%= t('columns.devices.df_images') %>",
    df_state: "<%= t('columns.devices.df_state') %>",
    df_tmp: "<%= t('columns.devices.df_tmp') %>",
    df_imageoverlays: "<%= t('columns.devices.df_imageoverlays') %>",
    have_smart: "<%= t('columns.devices.have_smart') %>",
    hd: "<%= t('columns.devices.hwinfo_hd_size') %>",
    hd_ssd: "<%= t('columns.devices.hwinfo_is_ssd') %>",
    hn: "<%= t('columns.devices.hostname') %>",
    hw_time: "<%= t('columns.devices.hwinfo_time') %>",
    id: "<%= t('columns.puavoid') %>",
    image: "<%= t('columns.devices.image') %>",
    image_series: "<%= t('columns.devices.image_series') %>",
    krn_args: "<%= t('columns.devices.kernel_args') %>",
    krn_ver: "<%= t('columns.devices.kernel_version') %>",
    location: "<%= t('columns.devices.location') %>",
    loc_lat: "<%= t('columns.devices.loc_lat') %>",
    loc_lon: "<%= t('columns.devices.loc_lon') %>",
    lspci: "<%= t('columns.devices.lspci') %>",
    lsusb: "<%= t('columns.devices.lsusb') %>",
    mac: "<%= t('columns.devices.mac') %>",
    mfer: "<%= t('columns.devices.manufacturer') %>",
    model: "<%= t('columns.devices.model') %>",
    modified: "<%= t('columns.modified') %>",
    monitors_xml: "<%= t('columns.devices.monitors_xml') %>",
<% if @is_organisation %>
    school: "<%= t('columns.school') %>",
<% end %>
<% if @is_servers %>
    schools: "<%= t('columns.servers.schools') %>",
<% end %>
    status: "<%= t('columns.devices.status') %>",
    user: "<%= t('columns.devices.primary_user') %>",
    personal_admin: "<%= t('columns.devices.personal_admin') %>",
    personal_device: "<%= t('columns.devices.personal_device') %>",
    printer_uri: "<%= t('columns.devices.printer_uri') %>",
    purchase_date: "<%= t('columns.devices.purchase_date') %>",
    purchase_loc: "<%= t('columns.devices.purchase_loc') %>",
    purchase_support: "<%= t('columns.devices.purchase_support') %>",
    purchase_url: "<%= t('columns.devices.purchase_url') %>",
    purchase_warranty: "<%= t('columns.devices.purchase_warranty') %>",
    ram: "<%= t('columns.devices.hwinfo_ram_size') %>",
    serial: "<%= t('columns.devices.serial') %>",
    tags: "<%= t('columns.devices.tags') %>",
    type: "<%= t('columns.devices.type') %>",
    wifi: "<%= t('columns.devices.wifi') %>",
    windows_license: "<%= t('columns.devices.has_windows_license') %>",
    xrandr: "<%= t('columns.devices.xrandr') %>",
    xserver: "<%= t('columns.devices.xserver') %>",
};

// The default order for columns
const COLUMN_ORDER = [
<% if @is_organisation %>
    "school",
    "hw_time",
<% end %>
    "id",
    "hn",
<% if !@is_organisation || @is_servers %>
    "hw_time",
<% end %>
<% if @is_servers %>
    "schools",
    "available_images",
    "location",
    "mac",
<% end %>
    "type",
    "tags",
<% unless @is_servers %>
    "mac",
<% end %>
    "mfer",
    "model",
    "serial",
    "status",
    "desc",
    "image",
    "current_image",
    "image_series",
    "krn_args",
    "krn_ver",
    "created",
    "modified",
    "conf",
    "user",
    "ram",
    "hd",
    "hd_ssd",
    "have_smart",
    "df_home",
    "df_imageoverlays",
    "df_images",
    "df_state",
    "df_tmp",
    "cpu",
    "bios_vendor",
    "bios_version",
    "bios_date",
    "bat_vendor",
    "bat_serial",
    "bat_cap",
    "bat_pcnt",
    "bat_volts",
    "wifi",
    "xrandr",
    "xserver",
    "monitors_xml",
    "lspci",
    "lsusb",
    "abitti_version",
    "windows_license",
    "purchase_date",
    "purchase_warranty",
    "purchase_loc",
    "purchase_url",
    "purchase_support",
<% unless @is_servers %>
    "location",
<% end %>
    "loc_lat",
    "loc_lon",
    "default_printer",
    "printer_uri",
    "audio_src",
    "audio_sink",
    "allow_guest",
    "personal_admin",
    "personal_device",
    "auto_updates",
    "autopower_mode",
    "autopower_on",
    "autopower_off",
];

function doStorage(value)
{
    return [(value / 1048576).toFixed(0), value];
}

function doImage(image)
{
    let display = "",
        value = image.file,
        filter = "";

    if (image.release) {
        // Display the release name nicely
        display = `${image.file} <span class="releaseName">(${image.release})</span>`;
        filter = `${image.file} (${image.release})`;
    } else {
        display = image.file;
        filter = image.file;
    }

    return [display, value, filter];
}

const USER_TRANSFORM_FUNCTIONS = {
    abitti_version: function(entry) {
        const v = entry.abitti_version;
        return [v, v, v];
    },

<% if @is_servers %>
    available_images: function(entry) {
        let display = [],
            value = [],
            filter = [];

        for (const i of entry.available_images) {
            if (i.release) {
                display.push(`${i.file} <span class="releaseName">(${i.release})</span>`);
                filter.push(`${i.file} ${i.release}`);
            } else {
                display.push(i.file);
                filter.push(i.file);
            }

            value.push(i.file);
        }

        return [display.join('<br>'), value.join(','), filter.join(',')];
    },
<% end %>

    ram: function(entry) {
        return doStorage(entry.ram);
    },

    hd: function(entry) {
        return doStorage(entry.hd);
    },

    df_home: function(entry) {
        return doStorage(entry.df_home);
    },

    df_state: function(entry) {
        return doStorage(entry.df_state);
    },

    df_images: function(entry) {
        return doStorage(entry.df_images);
    },

    df_tmp: function(entry) {
        return doStorage(entry.df_tmp);
    },

    df_imageoverlays: function(entry) {
        return doStorage(entry.df_imageoverlays);
    },

    current_image: function(entry) {
        return doImage(entry.current_image);
    },

    desc: function(entry) {
        return [
            escapeHTML(entry.desc),
            entry.desc,
        ]
    },

    hn: function(entry) {
        return [
            `<a href="${entry.link}">${escapeHTML(entry.hn)}</a>`,
            entry.hn
        ];
    },

    image: function(entry) {
        return doImage(entry.image);
    },

    purchase_date: function(entry) {
        const ts = convertTimestampDateOnly(entry.purchase_date);

        return [
            ts[0] === true ? ts[1] : "?",
            entry.purchase_date
        ];
    },

    purchase_warranty: function(entry) {
        const ts = convertTimestampDateOnly(entry.purchase_warranty);

        return [
            ts[0] === true ? ts[1] : "?",
            entry.purchase_warranty
        ];
    },

    school: function(entry) {
        // Makes filtering by school name work as expected, but the exported CSV
        // will contain display names. Can't have everything.
        return [
            entry.school[1],
            entry.school[1]
        ];
    },

<% if @is_servers %>
    schools: function(entry) {
        let display = [],
            value = [];

        for (const sch of entry.schools) {
            if (sch.valid) {
                display.push(`<a href="${sch.link}">${sch.title}</a>`);
                value.push(sch.title);
            } else {
                display.push(`<span class="missingData">${sch.dn}</span>`);
                value.push('?');
            }
        }

        return [display.join("<br>"), value.join(','), value.join(',')];
    },
<% end %>

    user: function(entry) {
        if (entry.user.valid) {
            return [
                `<a href="${entry.user.link}">${entry.user.title}</a>`,
                entry.user.title,
                entry.user.title
            ]
        } else {
            return [
                `<span class="missingData">${entry.user.dn}</span>`,
                entry.user.dn,
                entry.user.dn
            ]
        }
    },

    monitors_xml: function(entry) {
        // It's actually XML, but HTML escaping can handle it
        return ["<pre>" + escapeHTML(entry.monitors_xml[0]) + "</pre>", entry.monitors_xml];
    },
};

const FILTER_PRESETS = [
    // Traditional
    [
        {
            title: "<%= t('devices.index.filters.uses_stretch') %>",
            id: "uses_stretch",
            filters: [
                [1,"current_image","=","stretch"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.uses_buster') %>",
            id: "uses_buster",
            filters: [
                [1,"current_image","=","buster"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.uses_bullseye') %>",
            id: "uses_bullseye",
            filters: [
                [1,"current_image","=","bullseye"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.have_monitors_xml') %>",
            id: "has_monitors_xml",
            filters: [
                [1,"monitors_xml","!=","^$"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.have_xrandr') %>",
            id: "has_xrandr",
            filters: [
                [1,"xrandr","!=","^$"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.have_hwinfo') %>",
            id: "has_hwinfo",
            filters: [
                [1,"hw_time",">=","2010"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.has_primary_user') %>",
            id: "has_primary_user",
            filters: [
                [1,"user","!=","^$"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.has_invalid_primary_user') %>",
            id: "has_invalid_primary_user",
            filters: [
                [1,"user","=","puavoId="],
            ],
        },

        {
            title: "<%= t('devices.index.filters.hdd_500g') %>",
            id: "hdd_500g",
            filters: [
                [1,"hd",">=","500G"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.ram_atleast_16g') %>",
            id: "ram_atleast_16g",
            filters: [
                [1,"ram",">=","16G"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.ram_lt_4g') %>",
            id: "ram_lt_4g",
            filters: [
                [1,"ram","<","4G"],
            ],
        },

        {
            title: "<%= t('devices.index.filters.poor_battery') %>",
            id: "poor_battery",
            filters: [
                [1,"bat_cap","<=","70"],
            ],
        },
    ],

    // Advanced
    {
        uses_stretch: {
            title: "<%= t('devices.index.filters.uses_stretch') %>",
            filter: "current_image = /stretch/",
        },

        uses_buster: {
            title: "<%= t('devices.index.filters.uses_buster') %>",
            filter: "current_image = /buster/",
        },

        uses_bullseye: {
            title: "<%= t('devices.index.filters.uses_bullseye') %>",
            filter: "current_image = /bullseye/",
        },

        has_monitors_xml: {
            title: "<%= t('devices.index.filters.have_monitors_xml') %>",
            filter: "monitors_xml",
        },

        has_xrandr: {
            title: "<%= t('devices.index.filters.have_xrandr') %>",
            filter: `xrandr != ""`
        },

        has_hwinfo: {
            title: "<%= t('devices.index.filters.have_hwinfo') %>",
            filter: "hw_time > 2010"
        },

        maybe_unused: {
            title: "<%= t('devices.index.filters.maybe_unused') %>",
            filter: `hw_time && hw_time < -1y`,
        },

        has_primary_user: {
            title: "<%= t('devices.index.filters.has_primary_user') %>",
            filter: `user && user != /^puavoId/`,
        },

        has_invalid_primary_user: {
            title: "<%= t('devices.index.filters.has_invalid_primary_user') %>",
            filter: `user && user = /^puavoId/`,
        },

        hdd_500g: {
            title: "<%= t('devices.index.filters.hdd_500g') %>",
            filter: `hd >= 500G`,
        },

        ram_atleast_16g: {
            title: "<%= t('devices.index.filters.ram_atleast_16g') %>",
            filter: `ram >= 16G`,
        },

        ram_lt_4g: {
            title: "<%= t('devices.index.filters.ram_lt_4g') %>",
            filter: `ram < 4G`,
        },

        home_5g: {
            title: "<%= t('devices.index.filters.home_5g') %>",
            filter: `df_home <= 5G`,
        },

        poor_battery: {
            title: "<%= t('devices.index.filters.poor_battery') %>",
            filter: `bat_cap <= 70%`,
        },
    }
];

<% unless @is_servers %>
class MassDeviceSetFieldValue extends MassOperation {
    constructor(parent, container)
    {
        super(parent, container);

        this.items = [
            { title: "<%= t('devices.index.mass_operations.set_field.desktop_image') %>", key: "image", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.kernel_args') %>", key: "kernelargs", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.kernel_version') %>", key: "kernelversion", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.puavoconf_replace') %>", key: "puavoconf", type: "json" },
            { title: "<%= t('devices.index.mass_operations.set_field.tags_replace') %>", key: "tags", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.manufacturer') %>", key: "manufacturer", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.model') %>", key: "model", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.serial') %>", key: "serial", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.primary_user') %>", key: "primary_user", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.description') %>", key: "description", type: "ms" },
            { title: "<%= t('devices.index.mass_operations.set_field.status') %>", key: "status", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.location') %>", key: "location", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.latitude') %>", key: "latitude", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.longitude') %>", key: "longitude", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.allow_guest') %>", key: "allow_guest", type: "tfd" },
            { title: "<%= t('devices.index.mass_operations.set_field.automatic_updates') %>", key: "automatic_updates", type: "tfd" },
            { title: "<%= t('devices.index.mass_operations.set_field.personal_device') %>", key: "personal_device", type: "tfd" },
            { title: "<%= t('devices.index.mass_operations.set_field.personally_administered') %>", key: "personally_administered", type: "tfd" },
            { title: "<%= t('devices.index.mass_operations.set_field.automatic_poweroff') %>", key: "automatic_poweroff", type: "autopoweroff" },
            { title: "<%= t('devices.index.mass_operations.set_field.daytime_start') %>", key: "day_start", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.daytime_end') %>", key: "day_end", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.audio_source') %>", key: "audio_source", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.audio_sink') %>", key: "audio_sink", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.printer_uri') %>", key: "printer_uri", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.default_printer') %>", key: "default_printer", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.image_source_url') %>", key: "image_source_url", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.xserver') %>", key: "xserver", type: "s" },
            { title: "<%= t('devices.index.mass_operations.set_field.monitors_xml') %>", key: "monitors_xml", type: "ms" },
        ];
    }

    buildInterface()
    {
        let html = "";

        html +=
`<form>
<table class="settingsChild"><tr>
<th><label for="mass_device_set_field_name"><%= t('devices.index.mass_operations.set_field.field') %></label></th>
<td><select id="mass_device_set_field_name">`;

        // List the possible fields in alphabetical order
        let sorted = [];

        for (let i = 0; i < this.items.length; i++)
            sorted.push([this.items[i].title, i]);

        sorted.sort((a, b) => { return a[0].localeCompare(b[0]) });

        for (const s of sorted) {
            const item = this.items[s[1]];
            html += `<option value="${s[1]}">${item.title}</option>`;
        }

        html +=
`</select></td></tr>
<tr>
<th><label for="mass_device_set_field_value"><%= t('devices.index.mass_operations.set_field.value') %></label></th>
<td><div id="uiChild"></div></td></tr></table></form>`;

        this.container.innerHTML = html;

        this.container.querySelector("select#mass_device_set_field_name").addEventListener("change",
            (e) => this.buildChildUI(e.target.selectedOptions[0].value));

        this.currentUI = -1;
        this.buildChildUI(sorted[0][1]);
    }

    canProceed()
    {
        if (this.items[this.currentUI].type == "json") {
            // Does the textarea contain valid JSON? This is the only time we can validate the value.
            const v = this.getValue();

            if (v.length == 0) {
                // Empty strings are not valid JSON, but we still let them through
                // because then the database field can be cleared
                return true;
            }

            try {
                const o = JSON.parse(v);

                if (!o || typeof(o) !== "object")
                    throw new Error("");        // just display the error message below
            } catch (e) {
                window.alert("<%= t('devices.index.mass_operations.set_field.invalid_json') %>");
                return false;
            }
        }

        return true;
    }

    buildChildUI(index)
    {
        const stringWarning = `<p class="validityWarning"><%= t('devices.index.mass_operations.set_field.validity_warning_string') %></p>`,
              jsonWarning = `<p class="validityWarning"><%= t('devices.index.mass_operations.set_field.validity_warning_json') %></p>`;

        const item = this.items[index];

        let ui = "";

        switch (item.type) {
            case "s":           // String
            default:
                ui = `<input type="text" id="mass_device_set_field_value" size="40">${stringWarning}`;
                break;

            case "ms":          // Multiline string
                ui = `<textarea id="mass_device_set_field_value" rows="5" cols="80"></textarea>${stringWarning}`;
                break;

            case "json":        // Same as multiline string, but displays a note about the JSON
                ui = `<textarea id="mass_device_set_field_value" rows="5" cols="80"></textarea>${jsonWarning}`;
                break;

            case "tfd":         // Tri-state true/false/default "boolean"
                ui =
`<input type="radio" name="value-radio" id="value-radio-default" checked><label for="value-radio-default"><%= t('devices.index.mass_operations.set_field.default') %></label><br>
<input type="radio" name="value-radio" id="value-radio-yes"><label for="value-radio-yes"><%= t('devices.index.mass_operations.set_field.yes') %></label><br>
<input type="radio" name="value-radio" id="value-radio-no"><label for="value-radio-no"><%= t('devices.index.mass_operations.set_field.no') %></label>`;
                break;

            case "autopoweroff":    // Custom UI for the automatic poweroff setting
                ui =
`<input type="radio" name="value-radio" id="value-radio-default" checked><label for="value-radio-default"><%= t('devices.index.mass_operations.set_field.default') %></label><br>
<input type="radio" name="value-radio" id="value-radio-off"><label for="value-radio-off"><%= t('devices.index.mass_operations.set_field.off') %></label><br>
<input type="radio" name="value-radio" id="value-radio-custom"><label for="value-radio-custom"><%= t('devices.index.mass_operations.set_field.custom') %></label>`;
                break;
        }

        this.container.querySelector("div#uiChild").innerHTML = ui;
        this.currentUI = index;
    }

    processItem(item)
    {
        return doPOST(
            `/devices/${item.school_id}/mass_op_device_set_field`,
            {
                id: item.id[INDEX_FILTERABLE],
                field: this.items[this.currentUI].key,
                value: this.getValue()
            }
        );
    }

    getValue()
    {
        const ui = this.container.querySelector("div#uiChild");

        // Retrieve the value. There are no event handlers, so dig it from
        // the DOM directly.
        switch (this.items[this.currentUI].type) {
            case "s":
            default:
                return ui.querySelector("input").value;

            case "ms":
            case "json":
                return ui.querySelector("textarea").value;

            case "tfd":
                if (ui.querySelector("input#value-radio-yes").checked)
                    return 1;
                else if (ui.querySelector("input#value-radio-no").checked)
                    return 0;

                // "default"
                return -1;

            case "autopoweroff":
                if (ui.querySelector("input#value-radio-custom").checked)
                    return "custom";
                else if (ui.querySelector("input#value-radio-off").checked)
                    return "off";

                return "default";
        }
    }
};

class MassDevicePurchaseInfo extends MassOperation {
    constructor(parent, container)
    {
        super(parent, container);
    }

    buildInterface()
    {
        this.container.innerHTML = `
<form>
<p style="margin: 0; padding: 10px; font-weight: bold;"><%= t('devices.index.mass_operations.purchase_info.validity_warning') %></p>
<table class="settingsChild">
<tr>
    <th>
        <input type="checkbox" id="mass_device_purchase_info_purchase_date">
        <label for="mass_device_purchase_info_purchase_date"><%= t('activeldap.attributes.device.puavoPurchaseDate') %>:</label>
    </th>
    <td><input type="date" id="mass_device_purchase_info_purchase_date_value" min="2000-01-01" max="2050-12-31"></td>
</tr>
<tr>
    <th>
        <input type="checkbox" id="mass_device_purchase_info_warranty_end_date">
        <label for="mass_device_purchase_info_warranty_end_date"><%= t('activeldap.attributes.device.puavoWarrantyEndDate') %>:</label>
    </th>
    <td><input type="date" id="mass_device_purchase_info_warranty_end_date_value" min="2000-01-01" max="2050-12-31"></td>
</tr>
<tr>
    <th>
        <input type="checkbox" id="mass_device_purchase_info_purchase_location">
        <label for="mass_device_purchase_info_purchase_location"><%= t('activeldap.attributes.device.puavoPurchaseLocation') %>:</label>
    </th>
    <td><input type="text" id="mass_device_purchase_info_purchase_location_value"></td>
</tr>
<tr>
    <th>
        <input type="checkbox" id="mass_device_purchase_info_purchase_url">
        <label for="mass_device_purchase_info_purchase_url"><%= t('activeldap.attributes.device.puavoPurchaseURL') %>:</label>
    </th>
    <td><input type="text" id="mass_device_purchase_info_purchase_url_value"></td>
</tr>
<tr>
    <th>
        <input type="checkbox" id="mass_device_purchase_info_contact">
        <label for="mass_device_purchase_info_contact"><%= t('activeldap.attributes.device.puavoSupportContract') %>:</label>
    </th>
    <td><input type="text" id="mass_device_purchase_info_contact_value"></td>
</tr>
</table>
</form>`;

        // current form data
        this.data = {
            "purchaseDate": {
                checked: false,
                value: null
            },
            "purchaseWarranty": {
                "checked": false,
                "value": null
            },
            "purchaseLocation": {
                "checked": false,
                "value": null
            },
            "purchaseUrl": {
                "checked": false,
                "value": null
            },
            "purchaseSupport": {
                "checked": false,
                "value": null
            }
        };

        // setup event handling
        this.container.querySelector("#mass_device_purchase_info_purchase_date")
            .addEventListener("click", event => this.checkboxClicked(event, "purchaseDate"));

        this.container.querySelector("#mass_device_purchase_info_warranty_end_date")
            .addEventListener("click", event => this.checkboxClicked(event, "purchaseWarranty"));

        this.container.querySelector("#mass_device_purchase_info_purchase_location")
            .addEventListener("click", event => this.checkboxClicked(event, "purchaseLocation"));

        this.container.querySelector("#mass_device_purchase_info_purchase_url")
            .addEventListener("click", event => this.checkboxClicked(event, "purchaseUrl"));

        this.container.querySelector("#mass_device_purchase_info_contact")
            .addEventListener("click", event => this.checkboxClicked(event, "purchaseSupport"));

        this.container.querySelector("#mass_device_purchase_info_purchase_date_value")
            .addEventListener("input", event => this.dateChanged(event, "purchaseDate"));

        this.container.querySelector("#mass_device_purchase_info_warranty_end_date_value")
            .addEventListener("input", event => this.dateChanged(event, "purchaseWarranty"));

        this.container.querySelector("#mass_device_purchase_info_purchase_location_value")
            .addEventListener("input", event => this.textChanged(event, "purchaseLocation"));

        this.container.querySelector("#mass_device_purchase_info_purchase_url_value")
            .addEventListener("input", event => this.textChanged(event, "purchaseUrl"));

        this.container.querySelector("#mass_device_purchase_info_contact_value")
            .addEventListener("input", event => this.textChanged(event, "purchaseSupport"));
    }

    checkboxClicked(event, name)
    {
        this.data[name].checked = event.target.checked;
    }

    textChanged(event, name)
    {
        this.data[name].value = event.target.value.trim();

        if (this.data[name].value.length == 0)
            this.data[name].value = null;
    }

    dateChanged(event, name)
    {
        this.data[name].value = event.target.value;

        if (this.data[name].value.length == 0)
            this.data[name].value = null;
    }

    // I'm not sure if this function is really needed, but
    // JS's type coercions and comparisons are horrible and
    // I will not take any chances with them
    hasChanged(a, b)
    {
        let a2, b2;

        if (a === undefined || a === null || a == "")
            a2 = null;
        else a2 = a;

        if (b === undefined || b === null || b == "")
            b2 = null;
        else b2 = b;

        return a2 !== b2;
    }

    processItem(item)
    {
        // gather up changed values
        let mustSendRequest = false;
        let params = {};

        if (this.data["purchaseDate"].checked) {
            const date = item.purchase_date ? convertTimestampDateOnly(item.purchase_date) : null;

            if (this.hasChanged(date, this.data["purchaseDate"].value)) {
                mustSendRequest = true;
                params.purchase_date = this.data["purchaseDate"].value;
            }
        }

        if (this.data["purchaseWarranty"].checked) {
            const date = item.purchase_warranty ? convertTimestampDateOnly(item.purchase_warranty) : null;

            if (this.hasChanged(date, this.data["purchaseWarranty"].value)) {
                mustSendRequest = true;
                params.purchase_warranty = this.data["purchaseWarranty"].value;
            }
        }

        if (this.data["purchaseLocation"].checked &&
            this.hasChanged(item.purchase_loc, this.data["purchaseLocation"].value)) {
            mustSendRequest = true;
            params.purchase_loc = this.data["purchaseLocation"].value;
        }

        if (this.data["purchaseUrl"].checked &&
            this.hasChanged(item.purchase_url, this.data["purchaseUrl"].value)) {
            mustSendRequest = true;
            params.purchase_url = this.data["purchaseUrl"].value;
        }

        if (this.data["purchaseSupport"].checked &&
            this.hasChanged(item.purchase_support, this.data["purchaseSupport"].value)) {
            mustSendRequest = true;
            params.purchase_support = this.data["purchaseSupport"].value;
        }

        if (!mustSendRequest) {
            // nothing actually changed (or nothing was checked?)
            return itemProcessedStatus(true);
        }

        return doPOST(
            `/devices/${item.school_id}/mass_op_device_purchase_info`,
            {
                id: item.id[INDEX_FILTERABLE],
                purchase_params: params
            }
        );
    }
};

class MassDevicePuavoconfEditor extends MassOperation {
    constructor(parent, container)
    {
        super(parent, container);
    }

    buildInterface()
    {
        this.container.innerHTML =
`<p><%= t('devices.index.mass_operations.puavoconf.json_warning').html_safe %></p>
<form>
<table class="settingsChild">
<tr>
    <th><label for="mass_device_pc_key"><%= t('devices.index.mass_operations.puavoconf.key') %></label></th>
    <td>
        <div class="mobileTitle"><%= t('devices.index.mass_operations.puavoconf.key') %></div>
        <input type="text" id="mass_device_pc_key" size="50">
    </td>
</tr>
<tr>
    <th><label for="mass_device_pc_value"><%= t('devices.index.mass_operations.puavoconf.value') %></label></th>
    <td>
        <div class="mobileTitle"><%= t('devices.index.mass_operations.puavoconf.value') %></div>
        <input type="text" id="mass_device_pc_value" size="50">
        <p class="validityWarning"><%= t('devices.index.mass_operations.puavoconf.validity_warning') %></p>
    </td>
</tr>
<tr>
    <th><%= t('devices.index.mass_operations.puavoconf.type') %></th>
    <td>
        <div class="mobileTitle"><%= t('devices.index.mass_operations.puavoconf.type') %></div>
        <input type="radio" name="mass_device_pc_type" id="mass_device_pc_type_string" checked>
        <label for="mass_device_pc_type_string"><%= t('devices.index.mass_operations.puavoconf.type_string') %></label>
        <input type="radio" name="mass_device_pc_type" id="mass_device_pc_type_int">
        <label for="mass_device_pc_type_int"><%= t('devices.index.mass_operations.puavoconf.type_int') %></label>
        <input type="radio" name="mass_device_pc_type" id="mass_device_pc_type_bool">
        <label for="mass_device_pc_type_bool"><%= t('devices.index.mass_operations.puavoconf.type_bool') %></label>
    </td>
</tr>
<tr>
    <th><%= t('devices.index.mass_operations.puavoconf.action') %></th>
    <td>
        <div class="mobileTitle"><%= t('devices.index.mass_operations.puavoconf.action') %></div>
        <input type="radio" name="mass_device_pc_action" id="mass_device_pc_action_add" checked>
        <label for="mass_device_pc_action_add"><%= t('devices.index.mass_operations.puavoconf.add') %></label><br>
        <input type="radio" name="mass_device_pc_action" id="mass_device_pc_action_remove">
        <label for="mass_device_pc_action_remove"><%= t('devices.index.mass_operations.puavoconf.remove') %></label>
    </td>
</tr>
</table>
</form>`;

        this.key = this.container.querySelector("#mass_device_pc_key");
        this.value = this.container.querySelector("#mass_device_pc_value");
        this.action = 0;
        this.type = "string";

        this.container.querySelector("#mass_device_pc_action_add")
            .addEventListener("click", event => this.setAction(event, 0));
        this.container.querySelector("#mass_device_pc_action_remove")
            .addEventListener("click", event => this.setAction(event, 1));

        this.container.querySelector("#mass_device_pc_type_string")
            .addEventListener("click", event => this.setType(event, "string"));
        this.container.querySelector("#mass_device_pc_type_int")
            .addEventListener("click", event => this.setType(event, "int"));
        this.container.querySelector("#mass_device_pc_type_bool")
            .addEventListener("click", event => this.setType(event, "bool"));
    }

    setAction(event, action)
    {
        this.action = action;
    }

    setType(event, type)
    {
        this.type = type;
    }

    canProceed()
    {
        if (this.key.value.length == 0 || this.key.value.trim().length == 0) {
            window.alert("<%= t('devices.index.mass_operations.puavoconf.empty_key') %>");
            return false;
        }

        return true;
    }

    processItem(item)
    {
        return doPOST(
            `/devices/${item.school_id}/mass_op_device_edit_puavoconf`,
            {
                id: item.id[INDEX_FILTERABLE],
                key: this.key.value,
                value: this.value.value,
                type: this.type,
                action: this.action
            }
        );
    }
};

class MassDeviceChangeSchool extends MassOperation {
    constructor(parent, container)
    {
        super(parent, container);
    }

    buildInterface()
    {
        let html =
        <% if @school_list.empty? %>
        `<p class="genericWarning"><%= t('devices.index.mass_operations.change_school.no_other_schools') %></p>`;
        <% else %>
`<form>
<table class="settingsChild">
<tr>
    <th><label for="mass_device_change_school"><%= t('devices.index.mass_operations.change_school.school_title') %></label></th>
    <td>
        <div class="mobileTitle"><%= t('devices.index.mass_operations.change_school.school_title') %></div>
        <select id="mass_device_change_school">
<% @school_list.each do |s| %>
            <option data-dn="<%= s[0] %>"><%= s[1] %> (<%= s[2] %>)</option>
<% end%>
        </select>
    </td>
</tr>
</table>
</form>`;
        <% end %>

        this.container.innerHTML = html;

        this.haveSchools = <%= !@school_list.empty? %>;

        <% unless @school_list.empty? %>
        this.newSchoolDN = "<%= @school_list.first[0] %>";

        this.container.querySelector("#mass_device_change_school")
            .addEventListener("change", event => this.changeNewSchool(event));
        <% end %>
    }

    changeNewSchool(event)
    {
        this.newSchoolDN = event.target.children[event.target.selectedIndex].dataset.dn;
    }

    canProceed()
    {
        if (!this.haveSchools)
            window.alert("<%= t('devices.index.mass_operations.change_school.no_other_schools_alert') %>");

        return this.haveSchools;
    }

    processItem(item)
    {
        return doPOST(
            `/devices/${item.school_id}/mass_op_device_change_school`,
            {
                id: item.id[INDEX_FILTERABLE],
                school_dn: this.newSchoolDN
            }
        );
    }
};

class MassDeviceDeletion extends MassOperation {
    constructor(parent, container)
    {
        super(parent, container);
    }

    processItem(item)
    {
        return doPOST(
            `/devices/${item.school_id}/mass_op_device_delete`,
            { id: item.id[INDEX_FILTERABLE] }
        );
    }
};

const MASS_OPERATIONS = [
    {
        id: "set_field",
        title: "<%= t('devices.index.mass_operations.set_field.title') %>",
        flags: MassOperationFlags.HAVE_SETTINGS,
        cls: MassDeviceSetFieldValue
    },

    {
        id: "purchase_info",
        title: "<%= t('devices.index.mass_operations.purchase_info.title') %>",
        flags: MassOperationFlags.HAVE_SETTINGS,
        cls: MassDevicePurchaseInfo
    },

    {
        id: "puavoconf_edit",
        title: "<%= t('devices.index.mass_operations.puavoconf.title') %>",
        flags: MassOperationFlags.HAVE_SETTINGS,
        cls: MassDevicePuavoconfEditor
    },

    {
        id: "change_school",
        title: "<%= t('devices.index.mass_operations.change_school.title') %>",
        flags: MassOperationFlags.HAVE_SETTINGS,
        cls: MassDeviceChangeSchool
    },

    {
        id: "delete",
        title: "<%= t('devices.index.mass_operations.delete.title') %>",
        cls: MassDeviceDeletion
    },
];

<% end %>

function userActions(item)
{
    let html = "";

<% if @is_servers %>
    const link = `/devices/servers/${item.id[INDEX_FILTERABLE]}`;
<% else %>
    const link = `/devices/${item.school_id}/devices/${item.id[INDEX_FILTERABLE]}`;
<% end %>

    html += `<a href="${link}/edit" class="btn"><%= t('link.edit') %></a> `;

    let message = "<%= t('general_confirm') %>";

    html += `<a href="${link}" data-method="delete" data-confirm="${message}" rel="nofollow" class="btn btn-danger"><%= t('link.destroy') %></a>`

    return html;
}

function openCallback(item)
{
    return `/devices/${item.school_id}/devices/${item.id[INDEX_DISPLAYABLE]}`;
}

function openCallbackServers(item)
{
    return `/devices/servers/${item.id[INDEX_DISPLAYABLE]}`;
}

const MASS_SELECTS = [
    ["hn", "<%= t('columns.devices.hostname') %>"],
    ["id", "<%= t('columns.puavoid') %>"],
];
