<!-- shared/_external_services starts -->
<h1><%= t("external_services.title") %></h1>

<p><%= t("external_services.description") %></p>

<%= form_tag(put_path, :method => :put) do %>
  <% @external_services.each do |external_service| %>
    <% if is_disabled?(external_service) %>
    <div class="disabledExternalService">
    <% end %>
    <h2 class="margin-0 padding-0"><%= external_service.cn %></h2>

    <% if is_disabled?(external_service) %>
      <p class="genericNotice">
      <% if @is_owner %>
      <%= t("external_services.disabled_description",
            :organisation => link_to(t("external_services.organisation"), organisation_external_services_path)).html_safe %>
      <% else %>
      <%= t("external_services.disabled_description_no_link") %>
      <% end %>
      </p>
    <% end %>

    <p><%= external_service.description %></p>

    <% if external_service.puavoServiceDescriptionURL %>
    <p><a href="<%= external_service.puavoServiceDescriptionURL %>" target="_new"><%= t("external_services.additional_info") %></a></p>
    <% end %>

    <table class="editForm">
      <tr>
        <th>Domain</th>
        <td><%= external_service.puavoServiceDomain %></td>
      </tr>

      <tr>
        <th><%= t("external_services.email") %></th>
        <td><%= external_service.mail  %></td>
      </tr>

      <tr>
        <th><%= t("external_services.path_prefix") %></th>
        <td><%= external_service.puavoServicePathPrefix %></td>
      </tr>

      <tr>
        <th><%= t("external_services.active") %></th>
        <td>
          <%= check_box_tag("puavoActiveService[]",
                            external_service.dn,
                            is_checked?(external_service),
                            :disabled => is_disabled?(external_service))
          %>
        </td>
      </tr>
    </table>

    <% if is_disabled?(external_service) %>
    </div>
    <% end %>

    <br>
  <% end %>

  <br>

  <table class="editForm">
    <tr class="buttonRow">
      <td>
        <%= submit_tag t("external_services.save"), class: 'btn' %>
      </td>
    </tr>
  </table>
<% end %>
<!-- shared/_external_services ends -->
