<!-- shared/_form_main_information starts -->
<table class="editForm">
  <tr>
    <th class="requiredField"><%= f.label :puavoHostname %></th>
    <td>
      <% if f.object.userCertificate %>
      <%= f.object.puavoHostname %>
      <% else %>
      <%= f.text_field :puavoHostname, :required => 'required' %>
      <%= f.object.userCertificate.to_s %>
      <% end %>
    </td>
  </tr>

  <% if is_device_change_allowed f %>
  <tr>
    <th><%= f.label :puavoDeviceType %></th>
    <td><%= device_type f  %></td>
  </tr>
  <% end %>

  <tr>
    <th><%= f.label :puavoTag %></th>
    <td><%= f.text_field :puavoTag %></td>
  </tr>

  <%= render( :partial => 'shared/form_puavoconf', :locals => { :f => f } ) %>

  <% unless f.object.classes.include?('puavoPrinter') ||  f.object.classes.include?('puavoOtherDevice') %>
  <tr>
    <th><%= f.label :puavoDeviceStatus %></th>
    <td><%= f.text_field :puavoDeviceStatus %></td>
  </tr>
  <% end %>

  <tr>
    <th><%= f.label :image %></th>
    <td><%= f.file_field(:image, accept: 'image/*') %></td>
  </tr>
</table>
<!-- shared/_form_main_information ends -->
