<!-- shared/_form_purchase_information starts -->
<h2><%= t('shared.purchase_information') %></h2>
<table class="editForm">
  <tr>
    <th><%= f.label :puavoPurchaseDate %></th>
    <td class="devicePurchaseDate"><%= f.date_select :puavoPurchaseDate, :include_blank => true, :order => [:year, :month, :day] %></td>
  </tr>

  <tr>
    <th><%= f.label :puavoWarrantyEndDate %></th>
    <td class="devicePurchaseDate"><%= f.date_select :puavoWarrantyEndDate, :include_blank => true, :order => [:year, :month, :day] %></td>
  </tr>

  <tr>
    <th><%= f.label :puavoPurchaseLocation %></th>
    <td><%= f.text_field :puavoPurchaseLocation %></td>
  </tr>

  <tr>
    <th><%= f.label :puavoPurchaseURL %></th>
    <td><%= f.text_field :puavoPurchaseURL %></td>
  </tr>

  <tr>
    <th><%= f.label :puavoSupportContract %></th>
    <td><%= f.text_field :puavoSupportContract %></td>
  </tr>
</table>
<!-- shared/_form_purchase_information ends -->
