<tr>
  <th><%= f.label :puavoAllowGuest %></th>
  <td>
    <label><%= f.radio_button :puavoAllowGuest, "" %><%= t("helpers.default") %></label><br>
    <label><%= f.radio_button :puavoAllowGuest, true %><%= t("helpers.boolean_true") %></label><br>
    <label><%= f.radio_button :puavoAllowGuest, false %><%= t("helpers.boolean_false") %></label><br>
  </td>
</tr>

<% if [School, LdapOrganisation].include?(f.object.class) || ( f.object.class == Device && f.object.puavoDeviceType == "laptop" ) %>
<tr>
  <th><%= f.label :puavoPersonalDevice %></th>
  <td>
    <label><%= f.radio_button :puavoPersonalDevice, "" %><%= t("helpers.default") %></label><br>
    <label><%= f.radio_button :puavoPersonalDevice, true %><%= t("helpers.boolean_true") %></label><br>
    <label><%= f.radio_button :puavoPersonalDevice, false %><%= t("helpers.boolean_false") %></label><br>
  </td>
</tr>
<% end %>
