<tr>
  <th class="label_td"><%= f.label :puavoDeviceAutoPowerOffMode %></th>
  <td>
    <!-- TODO: use proper translation IDs for these -->
    <label><%= f.radio_button :puavoDeviceAutoPowerOffMode, "default" %><%= t("activeldap.attributes.school.puavoDeviceAutoPowerOffMode_default") %></label><br>
    <label><%= f.radio_button :puavoDeviceAutoPowerOffMode, "off" %><%= t("activeldap.attributes.school.puavoDeviceAutoPowerOffMode_off") %></label><br>
    <label><%= f.radio_button :puavoDeviceAutoPowerOffMode, "custom" %><%= t("activeldap.attributes.school.puavoDeviceAutoPowerOffMode_custom") %></label><br>

    <!-- TODO: style these labels properly and nicely -->
    <br>
    <%= f.label :puavoDeviceOnHour %>:
    <%= f.select( :puavoDeviceOnHour,
                 [[t('.select'), '']] + (1..24).each.map{ |h| [h.to_s, h.to_s] },
                 :selected => (f.object.puavoDeviceOnHour or "") ) %>

    <br>
    <%= f.label :puavoDeviceOffHour %>:
    <%= f.select( :puavoDeviceOffHour,
                 [[t('.select'), '']] + ( (1..24).map{ |h| [h.to_s, h.to_s] } ),
                 :selected => (f.object.puavoDeviceOffHour or "" ) ) %>
  </td>
</tr>
