<tr>
  <th><%= f.label attribute %></th>
  <td>
    <label><%= f.radio_button attribute, "" %><%= t("helpers.default") %></label><br>
    <label><%= f.radio_button attribute, true %><%= t("helpers.boolean_true") %></label><br>
    <label><%= f.radio_button attribute, false %><%= t("helpers.boolean_false") %></label><br>
  </td>
</tr>
