<h2><%= t('.wireless_access_point_setup') %></h2>
<table>

  <tr>
    <td class="label_td"><%= f.label :puavoWlanChannel %></td>
    <td><%= f.select( :puavoWlanChannel,
	              [ [t('.default'), ""],
	                [t('.channel_random'), "random"] ] +
                      (1..13).map{ |i| [i.to_s,i.to_s] } )%></td>
  </tr>
</table>

<h2><%= t('.wireless_network_setup') %></h2>

<table>
  <tr>
    <td class="label_td">
      <%= label_tag "wlan_name[#{ 0 }]", t('.wlan_name') %>
    </td>
    <td>
      <%= text_field_tag "wlan_name[#{ 0 }]", f.object.wlan_name ? f.object.wlan_name[0] : "" %>
    </td>
  </tr>

  <tr>
    <td class="label_td">
      <%= label_tag "wlan_type[#{ 0 }]", t('.wlan_type') %>
    </td>
    <td>
      <%= select_tag( "wlan_type[#{ 0 }]",
                      options_for_select([ [t('.select_value_open'), "open"],
                                           [t('.select_value_psk'), "psk"] ], :selected => f.object.wlan_type ? f.object.wlan_type[0] : "" ) )%>
    </td>
  </tr>

  <tr>
    <td class="label_td">
      <%= label_tag "wlan_password[#{ 0 }]", t('.wlan_password') %>
    </td>
    <td>
      <%= text_field_tag "wlan_password[#{ 0 }]", f.object.wlan_password ? f.object.wlan_password[0] : "" %>
      <%= hidden_field_tag "wlan_ap[#{ 0 }]", "enabled" %>
    </td>
  </tr>

</table>

<h2><%= t('.other_wireless_network_setup') %></h2>

<table>
  <% (1..4).each do |index| %>

  <tr><td><h3><%= t('.wireless_network_title', :index => index) %></h3></td></tr>
  <tr>
    <td class="label_td">
      <%= label_tag "wlan_name[#{ index }]", t('.wlan_name') %>
    </td>
    <td>
      <%= text_field_tag "wlan_name[#{ index }]", f.object.wlan_name ? f.object.wlan_name[index] : "" %>
    </td>
  </tr>

  <tr>
    <td class="label_td">
      <%= label_tag "wlan_type[#{ index }]", t('.wlan_type') %>
    </td>
    <td>
      <%= select_tag( "wlan_type[#{ index }]",
                      options_for_select([ [t('.select_value_open'), "open"],
                                           [t('.select_value_psk'), "psk"] ], :selected => f.object.wlan_type ? f.object.wlan_type[index] : "" ) )%>
    </td>
  </tr>

  <tr>
    <td class="label_td">
      <%= label_tag "wlan_password[#{ index }]", t('.wlan_password') %>
    </td>
    <td>
      <%= text_field_tag "wlan_password[#{ index }]", f.object.wlan_password ? f.object.wlan_password[index] : "" %>
      <%= hidden_field_tag "wlan_ap[#{ index }]", "disable" %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><%= f.submit t('link.update'), :class => 'btn' %></td>
  </tr>
</table>
