// Table column definitions
const COLUMN_DEFINITIONS = {
    abbr: {
        key: "abbr",
        type: ColumnType.STRING,
    },

    created: {
        key: "created",
        type: ColumnType.UNIXTIME,
        flags: ColumnFlag.DESCENDING_DEFAULT,
    },

    eid: {
        key: "eid",
        type: ColumnType.STRING,
    },

    id: {
        key: "id",
        type: ColumnType.NUMERIC,
    },

    modified: {
        key: "modified",
        type: ColumnType.UNIXTIME,
        flags: ColumnFlag.DESCENDING_DEFAULT,
    },

    members_count: {
        key: "members_count",
        type: ColumnType.NUMERIC,
    },

    name: {
        key: "name",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },

<% if @is_organisation %>
    school: {
        key: "school",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
    },
<% end %>

    type: {
        key: "type",
        type: ColumnType.STRING,
        flags: ColumnFlag.USER_TRANSFORM,
        missing: {
            display: `<span class="missingData"><%= t('missing_data') %></span>`,
            sort: "",
            filter: "",
        }
    },
};

// Localized column titles. The keys must be same as in the keys in the column
// definitions object above.
const COLUMN_TITLES = {
    abbr: "<%= t('columns.groups.abbreviation') %>",
    created: "<%= t('columns.created') %>",
    eid: "<%= t('columns.groups.eid') %>",
    id: "<%= t('columns.puavoid') %>",
    modified: "<%= t('columns.modified') %>",
    members_count: "<%= t('columns.groups.members_count') %>",
    name: "<%= t('columns.groups.name') %>",
<% if @is_organisation %>
    school: "<%= t('columns.school') %>",
<% end %>
    type: "<%= t('columns.groups.type') %>",
};

// Localized group types
const GROUP_TYPES = {
    "teaching group": "<%= t('group_type.teaching group') %>",
    "course group": "<%= t('group_type.course group') %>",
    "year class": "<%= t('group_type.year class') %>",
    "administrative group": "<%= t('group_type.administrative group') %>",
    "archive users": "<%= t('group_type.archive users') %>",
    "other groups": "<%= t('group_type.other groups') %>",
};

// The default order for columns. "DEFAULT_COLUMNS" above does not have to be in this order.
const COLUMN_ORDER = [
<% if @is_organisation %>
    "school",
<% end %>
    "id",
    "name",
    "abbr",
    "type",
    "members_count",
    "eid",
    "created",
    "modified",
];

const USER_TRANSFORM_FUNCTIONS = {
    name: function(entry) {
        return [
            `<a href="${entry.link}">${escapeHTML(entry.name)}</a>`,
            entry.name
        ];
    },

    type: function(entry) {
        return [
            entry.type in GROUP_TYPES ? GROUP_TYPES[entry.type] : `<span class="missingData"><%= t('missing_data') %></span>`,
            entry.type
        ];
    },

    school: function(entry) {
        // Makes filtering by school name work as expected, but the exported CSV
        // will contain display names. Can't have everything.
        return [
            entry.school[1],
            entry.school[1]
        ];
    },
};

class MassGroupDeletion extends MassOperation {
    constructor(parent, container)
    {
        super(parent, container);
    }

    canProceed()
    {
        return true;
    }

    start()
    {
    }

    finish()
    {
    }

    processItem(item)
    {
        return doPOST(
            `/users/${item.school_id}/mass_op_group_delete`,
            { id: item.id[INDEX_FILTERABLE] }
        );
    }
};

class MassGroupClear extends MassOperation {
    constructor(parent, container)
    {
        super(parent, container);
    }

    canProceed()
    {
        return true;
    }

    start()
    {
    }

    finish()
    {
    }

    processItem(item)
    {
        return doPOST(
            `/users/${item.school_id}/mass_op_group_clear`,
            { id: item.id[INDEX_FILTERABLE] }
        );
    }
};

// JavaScript class fields support is so poor that I can't really
// define titles, IDs and other things in classes, they must be here
const MASS_OPERATIONS = [
    {
        id: "clear",
        title: "<%= t('link.remove_all_members_from_group') %>",
        flags: 0,
        cls: MassGroupClear
    },
    {
        id: "delete",
        title: "<%= t('link.delete_group') %>",
        flags: 0,
        cls: MassGroupDeletion
    },
];

function userActions(item)
{
    let html = "";

    const link = `/users/${item.school_id}/groups/${item.id[INDEX_FILTERABLE]}`;

    html += `<a href="${link}/edit" class="btn"><%= t('link.edit') %></a> `;

    let message = "<%= t('general_confirm') %>";

    html += `<a href="${link}" data-method="delete" data-confirm="${message}" rel="nofollow" class="btn btn-danger"><%= t('link.destroy') %></a>`

    return html;
}

function openCallback(item)
{
    return `/users/${item.school_id}/groups/${item.id[INDEX_DISPLAYABLE]}`;
}

const MASS_SELECTS = [
    ["name", "<%= t('columns.groups.name') %>"],
    ["abbr", "<%= t('columns.groups.abbreviation') %>"],
    ["eid", "<%= t('columns.groups.eid') %>"],
    ["id", "<%= t('columns.puavoid') %>"],
];
