<!-- shared/_main_information starts -->
<div class="basicInfo">
  <div class="basicInfoImage">
    <% path = device.class == Server ? image_server_path(device) : image_device_path(@school, device) %>
    <%= image_tag( device.jpegPhoto.nil? ? "computer.png" : path, class: "image", skip_pipeline: true ) %>
  </div>

  <div class="basicInfoDetails">
    <h1><%= h device.puavoHostname %> <span class="fqdn">(<%= h @fqdn %> <button id="copyFQDN">Kopioi</button>)</span></h1>

    <% if controller_name == "devices" %>
    <p class="infoTitle"><%= t('activeldap.attributes.device.puavoDeviceType') %></p>
    <p class="infoValue"><%= Puavo::CONFIG["device_types"][device.puavoDeviceType]["label"][I18n.locale.to_s] %></p>
    <% end %>

    <% unless device.puavoTag.empty? %>
    <p class="infoTitle"><%= t('activeldap.attributes.device.puavoTag') %></p>
    <p class="infoValue"><%= h device.puavoTag %></p>
    <% end %>

    <% unless device.puavoConf.nil? || device.puavoConf.empty? %>
    <div class="flex-cols flex-vcenter gap-10px">
      <p class="infoTitle"><%= t('activeldap.attributes.device.puavoConf') %></p>
      <button id="copyPuavoconf"><%= t('link.copy_to_clipboard') %></button>
    </div>
    <%= render :partial => 'shared/puavoconf',
               :locals  => { :object => device.puavoConf } %>
    <% end %>

    <% if @puavomenu_data %>
    <p class="infoTitle"><%= t('activeldap.attributes.puavoMenuDataPreview') %></p>
    <ul class="infoValue">
      <% if @puavomenu_data[:categories] %>
      <li><strong><%= t('puavomenu_editor.preview.categories_title') %>:</strong> <%= @puavomenu_data[:categories].join(', ') %></li>
      <% end %>
      <% if @puavomenu_data[:menus] %>
      <li><strong><%= t('puavomenu_editor.preview.menus_title') %>:</strong> <%= @puavomenu_data[:menus].join(', ') %></li>
      <% end %>
      <% if @puavomenu_data[:programs] %>
      <li><strong><%= t('puavomenu_editor.preview.programs_title') %>:</strong> <%= @puavomenu_data[:programs].join(', ') %></li>
      <% end %>
    </ul>
    <% end %>

    <% unless device.classes.include?('puavoPrinter') ||  device.classes.include?('puavoOtherDevice') %>
    <% unless device.puavoDeviceStatus.nil? %>
    <p class="infoTitle"><%= t('activeldap.attributes.device.puavoDeviceStatus') %></p>
    <p class="infoValue"><%= h device.puavoDeviceStatus %></p>
    <% end %>
    <% end %>

    <% if @reset %>
    <%= render partial: 'shared/reset' %>
    <% end %>
  </div>
</div>

<!-- shared/_main_information ends -->
