<!-- shared/_mountpoint starts -->
<%= start_box t('.title'), extraClass="fullWidth" %>
  <% if Array(object.puavoMountpoint).empty? %>
  <p class="empty"><%= t('.no_mount_points') %></p>
  <% else %>
  <table>
    <tr class="tableHeading">
      <th><%= t('.filesystem') %></th>
      <th><%= t('.path') %></th>
      <th><%= t('.mountpoint') %></th>
      <th><%= t('.options') %></th>
    </tr>

    <% Array(object.puavoMountpoint).each_index do |index| %>
    <tr>
      <td class="value_td"><%= h object.fs[index] %></td>
      <td class="value_td"><%= h object.path[index] %></td>
      <td class="value_td"><%= h object.mountpoint[index] %></td>
      <td class="value_td"><%= h object.options[index] %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
<%= end_box %>
<!-- shared/_mountpoint ends -->
