<!-- shared/_purchase_information starts -->
<%= start_box t('shared.purchase_information') %>
  <table>
    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.puavoPurchaseDate") %></th>
      <td><% if device.puavoPurchaseDate %><abbr class="messedUpDate"><%= device.puavoPurchaseDate.strftime('%Y-%m-%d') %></abbr><% end %></td>
    </tr>

    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.puavoWarrantyEndDate") %></th>
      <td><% if device.puavoWarrantyEndDate %><abbr class="messedUpDate"><%= device.puavoWarrantyEndDate.strftime('%Y-%m-%d') %></abbr><% end %></td>
    </tr>

    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.puavoPurchaseLocation") %></th>
      <td><%= h device.puavoPurchaseLocation %></td>
    </tr>

    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.puavoPurchaseURL") %></th>
      <td><%= h device.puavoPurchaseURL %></td>
    </tr>

    <tr>
      <th><%= t("activeldap.attributes.#{device.class.to_s.downcase}.puavoSupportContract") %></th>
      <td><%= h device.puavoSupportContract %></td>
    </tr>

    <% if device.puavoDeviceType != 'bootserver' %>
    <% if device.puavoDeviceExpirationTime && Time.now >= device.puavoDeviceExpirationTime %>
    <tr class="invalidData">
    <% else %>
    <tr>
    <% end %>
      <th><%= t('activeldap.attributes.device.puavoDeviceExpirationTime') %></th>
      <td class="noWrap">
        <% unless device.puavoDeviceExpirationTime.nil? %>
        <%= utc_timestamp_for_localization(device.puavoDeviceExpirationTime) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<%= end_box %>

<% content_for :post_load_javascript do %>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const intlDataset = document.documentElement.dataset;

    const formatter = Intl.DateTimeFormat(intlDataset.intlLocale, {
        weekday: "short",
        year: "numeric",
        month: "numeric",
        day: "numeric",
        timeZone: intlDataset.intlTimezone
    });

    for (const e of document.querySelectorAll("abbr.messedUpDate")) {
        const newDate = formatter.format(new Date(`${e.textContent}T12:00:00Z`));

        e.title = e.textContent;
        e.textContent = newDate;
    }
});
</script>
<% end %>
<!-- shared/_purchase_information ends -->
