<% form_for(@server) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'shared/form_dhcp_information', :locals => { :f => f } %>

  <%= render :partial => 'shared/form_linux_device_information', :locals => { :f => f } %>

  <p>
    <%= f.submit submit_text %> <%= t('or') %> <%= link_to t('cancel'), @server %>
  </p>
<% end %>
