<h1><%= t('.title') %></h1>

<p>
<%= label @server.class.to_s.downcase, "puavoDeviceType" %>
<%= PUAVO_CONFIG["device_types"][@server.puavoDeviceType]["label"][I18n.locale.to_s] %>
</p>

<%= render :partial => 'shared/dhcp_information', :locals => { :device => @server} %>

<%= render :partial => 'shared/linux_device_information', :locals => { :device => @server} %>

<% content_for :right do %>
<div><%= link_to 'Automounts', server_automounts_path(@server) %></div>
<div><%= link_to 'Edit', edit_server_path(@server) %></div>
<% if @server.userCertificate %>
  <div><%= link_to 'Set install mode', revoke_certificate_server_path(@server), :method => :delete %></div>
<% end %>
<% end %>
