<h1>New workstation</h1>

<% form_for(@workstation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cn %><br />
    <%= f.text_field :cn %>
  </p>
  <p>
    <%= f.label :ipHostNumber %><br />
    <%= f.text_field :ipHostNumber %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', workstations_path %>