<div class="external-files">
  <h1><span>External Files</span></h1>

  <p>
  Custom files for Opinsys desktops.
  </p>

  <%= form_tag({:action => :upload}, :multipart => true) do %>

  <table class="list">
    <tr>
      <th>File name</th>
      <th>Description</th>
      <th>File size</th>
      <th colspan="2"><%= t('.actions') %></th>
    </tr>

  <% @external_files.each do |file| %>
    <tr>
      <td>
        <span data-title="File name" class="filename">
          <%= file["meta"]["name"] %>
        </span>
      </td>


      <td data-title="Description">
      <% if file["meta"]["description"] %>
      <%= file["meta"]["description"] %>
      <% end %>
      </td>

      <td data-title="File size">
      <% if file["model"] %>
        <%= file["model"].puavoData.size %>
      <% else %>
        (no file)
      <% end %>

      </td>
      <td data-title="Actions" class="actions table-actions">
      <%= file_field_tag "file[#{ file["meta"]["name"] }", :value => "Add or change" %>
      <% if file["model"] %>
      <td>
      <span class="table-actions">
        <%= link_to(
              download_external_file_path(file["meta"]["name"]), :class => 'btn'
            ) do
        %>
        <i class="icon-download"></i> <%= 'download' %>
        <% end %>
        </span>
        <span class="table-actions">
        <%= link_to(
              destroy_external_file_path(file["meta"]["name"]),
              method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
            ) do
        %>
        <i class="icon-trash"></i><%='delete'%>
        <% end %>
        </span>
        </td>
      <% end %>
      </td>

    </tr>
  <% end %>

  </table>

  <p>
  <%= submit_tag("Save") %>
  </p>

  <% end %>
</div>
