<div class="external-files">
  <h1><span>External Files</span></h1>

  <p>
  Custom files for Opinsys desktops.
  </p>

  <%= form_tag({:action => :create}, :multipart => true) do %>

  <table class="list">
    <tr>
      <th>File name</th>
      <th>Description</th>
      <th>File size</th>
      <th colspan="2"><%= t('.actions') %></th>
    </tr>

  <% @external_files.each do |file| %>
    <tr>

      <td>
        <span class="filename">
          <%= file["meta"]["name"] %>
        </span>
      </td>


      <td>
      <% if file["meta"]["description"] %>
      <%= file["meta"]["description"] %>
      <% end %>
      </td>

      <td>
      <% if file["model"] %>
        <%= file["model"].puavoData.size %>
      <% else %>
        (no file)
      <% end %>

      </td>

      <td class="actions">
      <%= file_field_tag "file[#{ file["meta"]["name"] }", :value => "Add or change" %>
      <% if file["model"] %>
        <a href="">
          download
        </a>
        <%= link_to 'Remove', file["model"], method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </td>

    </tr>
  <% end %>

  </table>

  <p>
  <%= submit_tag("Save") %>
  </p>

  <% end %>
</div>
