<h1>External Files</h1>

<p>
Custom files in Opinsys desktops
</p>

<%= form_tag({:action => :create}, :multipart => true) do %>

<% @external_files.each do |file| %>

    <h2><%= file["meta"]["name"] %></h2>

    <% if file["meta"]["description"] %>
    <p><%= file["meta"]["description"] %></p>
    <% end %>

    <%= file_field_tag "file[#{ file["meta"]["name"] }", :value => "Add or change" %>

    <% if file["model"] %>
    <h3>Current file</h3>
    <p>
      Size: <%= file["model"].puavoData.size %> bytes
      Sha1sum: <%= file["model"].puavoDataHash %>
      <%= link_to 'Delete', file["model"], method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>


<% end %>

<p>
<%= submit_tag("Save") %>
</p>

<% end %>
