<div class="printer-permissions">
<h1><span><%= @printer.printerDescription %></span></h1>

<p>Printer usage permissions</p>

<%= form_tag(printer_permission_path(@school, @printer), :method => :put) do %>

  <fieldset>
    <legend>Global</legend>

    <ul>
      <li>
        <label>
          <%= check_box_tag "activate", true, @school.has_printer?(@printer) %>
          Activate for all users
        </label>
      </li>

      <li>
        <label>
          <%= check_box_tag "activate_wireless", true, @school.has_wireless_printer?(@printer)%>
          Activate for anonymous wireless users too (iPads etc).
        </label>
      </li>
    </ul>

  </fieldset>

  <fieldset>
    <legend>Groups</legend>

    <ul>
      <% Group.all.each do |group| %>
      <li>
        <label>
          <%= hidden_field_tag "groups[#{ group.dn }]", false %>
          <%= check_box_tag "groups[#{ group.dn }]", true, group.has_printer?(@printer) %>
          <%= group.displayName %>
        </label>
      </li>
      <% end %>
    </ul>

  </fieldset>

  <fieldset class="devices">
    <legend>Devices</legend>
    <p>
      Printer is allowed for following individual devices:
    </p>

    <table class="list">
      <tr class="thead">
        <th>Hostname</th>
        <th>Remove</th>
        <th>Actions</th>
      </tr>
      <% @devices.each do |device| %>
      <tr>
        <td>
          <%= device.cn %>
        </td>
        <td>
          <%= check_box_tag "remove_device_permission[]", device.dn %>
        </td>
        <td>
          <%= link_to edit_device_path(@school, device), :class => "btn" do %>
            <i class="icon-pencil"></i> <%= t('link.edit') %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="clearfix"></div>

    <p>
       Printers for devices are set from the device edit page.
    </p>

  </fieldset>


  <%= submit_tag "Save",  :class => "btn" %>
  <div class="cancel">
    <%= link_to t('link.cancel'), printer_permissions_path(@school), :class => 'btn btn-danger' %>
  </div>

<% end %>
</div>
