<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
<style>
body {
    background: #f0eee1;
    font-family: "Noto Sans", "Roboto", "DejaVu Sans", "Ubuntu", "Arial", sans-serif;
    margin: 10px;
    padding: 0;
}

h1 { margin-top: 0; }
code { font-size: 120%; }

div#details {
    margin: 1em 0;
}

div > p {
    padding: 0;
    margin: 0;
}

button {
    padding: 1em 5em;
}
</style>
<title>An unexpected error occurred</title></head><body>

<h1>Sorry, an unexpected error occurred ☹️</h1>

<p>We apologize for any inconvenience this may have caused. Please contact <%= manufacturer_name %> support and give them the following information:</p>

<div id="details">
    <p><strong>Log identifier:</strong> <code><%= @error_uuid %></code></p>
    <p><strong>Server time:</strong> <code><%= Time.now.strftime('%Y-%m-%d %H:%M:%S') %></code></p>
    <p><strong>Server hostname:</strong> <code><%= Socket.gethostname %></code></p>
    <p><strong>Request:</strong> <code><%= @request.method %> <%= @request.url %></code></p>
</div>

<button type="button" id="copy">Copy everything to clipboard</button>

<%= render partial: 'shared/copy_text', formats: [:js] %>

<script>
document.addEventListener("DOMContentLoaded", () => {
    document.querySelector("button#copy").addEventListener("click", () => {
        let parts = [];

        parts.push("Log identifier: <%= @error_uuid %>");
        parts.push("Server time: <%= Time.now.strftime('%Y-%m-%d %H:%M:%S') %>");
        parts.push("Server hostname: <%= Socket.gethostname %>");
        parts.push("Request: <%= @request.method %> <%= @request.url %>");

        copyTextToClipboard(parts.join("\n") + "\n");
    });
});
</script>
</body>
</html>
