<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>
<%= session[:organisation].name if session.has_key?(:organisation) %>
<%= " - " + @school.displayName if not @school.nil? %>
</title>



  <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/screen.css", :media => 'screen, projection' %>
  <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/print.css", :media => 'print' %>
  <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/topmenu.css" %>
  <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/navmenu.css" %>
  <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/puavo.css" %>
  <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/jquery.tooltip.css" %>
  <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/userform.css" %>
  <%= stylesheet_link_tag "/shared/stylesheets/jquery.liveSearch.css" %>

  <style id="menuHandling" media="screen" rel="stylesheet" type="text/css" >
    <%#
    CSS for opening menus without Javascript on mouse hover. This should not
    contain anything else. Since for touch devices this element will be
    overridden.
    %>
    .tools .tool:hover ul {
      display: block;
    }
    #top-menu li:hover ul,
    #nav1 ul li:hover ul {
      display: block;
    }

  </style>


  <%= javascript_include_tag( "jquery-1.4.2.min",
                              "rails",
                              "application",
                              "/shared/javascripts/modernizr.custom.js",
                              "/shared/javascripts/jquery.jeditable.mini.js",
                              "/shared/javascripts/jquery.tooltip.min.js",
                              "/shared/javascripts/jquery.liveSearch.js",
                              "/shared/javascripts/application.js"

                              ) %>



<% search_urls = { "devices-search" => "/devices/search?words=" } %>

<% if PUAVO_CONFIG["puavo_users"] == "enabled" then search_urls["users-search"] = "/users/search?words=" end %>

<%= javascript_tag "var search_urls = { " + search_urls.map{ |key, value| "'#{key}': '#{value}'" }.join(", ") + " };" %>

<%= yield :javascript %>

<meta name="csrf-token" content="<%= form_authenticity_token %>" />
<meta name="csrf-param" content="authenticity_token" />
</head>
<body>
    <div class="topNavContainer">
      <div class="topNavContentContainer">
        <ul id="top-menu">
          <% if organisation_owner? %>
          <li class="organisation-menu-button">
            <span><%= session[:organisation].name %></span>
            <ul id="help" class="organisation-menu">
              <% if puavo_users? %>
                <li class="top-menu-item"><%= link_to t('.external_services'),  "/users/organisation"%></li>
              <% end %>
                <li class="top-menu-item"><%= link_to t('.printers'), printers_path %></li>
                <li class="top-menu-item"><%= link_to t('.servers'), servers_path %></li>
            </ul>
          </li>
          <% else %>
          <li class="organisation-menu-button"><span class="sub"><%= session[:organisation].name %></span></li>
          <% end %>

          <li class="school-menu-button">
            <span class="sub"><%= t('.schools') %></span>
            <ul>
              <% session[:organisation].schools.each do |school| %>
                <li class="top-menu-item<% if session[:organisation].schools.last == school %> last<% end %>">
                  <%= link_to school.displayName,  devices_path(school) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= text_field_tag( "search",
            nil,
            :id => "search",
            :size => 30,
            :placeholder => t('.search_placeholder') ) %>
          </li>
        </ul> <!-- top-menu -->

        <ul id="top-menu-right" class="menu">
          <li><span><%= t('.logged_in_as') %></span></li>
          <li><a href="#"><%= current_user_displayName %></a></li>
          <li><%= link_to t('.logout'), logout_path, :method => :delete %></li>
        </ul>
      </div><!-- topNavContentContainer -->
    </div><!-- topNavContainer -->

  <div id="container" class="container">
    <div class="container_wrap">
          <hr class="space" />
        <% if session[:organisation] %>
        <% if @school && !@school.id.nil? %>
          <h1><%= @school.displayName %></h1>
          <div id="navbar_first_level">
            <div id="nav1">
              <ul>
                <% if puavo_users? %>
                  <li class="page_item">
                    <% link_to "/users/schools/#{@school.id}" do %><span><%= t('.school') %></span><% end %>
                  </li>
                  <li class="page_item">
                    <% link_to "/users/#{@school.id}/users" do %><span><%= t('.users') %></span><% end %>
                  </li>
                <% end %>
                <li class="<%= controller_name.match(/devices/) ? "page_item current_page_item" : "page_item" %>">
                  <% link_to devices_path(@school) do %> <span><%= t('.devices') %></span><% end %>
                </li>
                <% if @oauth_applications %>
                  <% @oauth_applications.each do |app| %>
                    <li class="page_item"><a href="<%= app.url %>" title="<%= app.name %>"><span><%= app.name %></span></a></li>
                  <% end %>
                <% end %>
              </ul>
            </div><!-- nav1 -->
          </div><!-- navbar_first_level -->
          <div id="navbar_second_level">&nbsp;
            <%= render :partial => "#{controller_name}/menu.html.erb" rescue nil %>
          </div><!-- navbar_second_level -->
        <% end %>
        <% end %>

        <hr class="space" />
        <div class="wrap">
          <div class="maincontent">

              <% if message_keys = flash.keys.select { |key| [:error, :notice, :success, :alert].include?(key) } %>
                <% message_keys.each do |key| %>
                  <p class="message_<%= key %>"> <%= flash[key] %></p>
                <% end %>
              <% end %>
              <% if current_user %>
                <div class="tools">
                  <%= yield :right %>
                </div>
              <% end %>
              <%= yield %>
            </div> <!-- maincontent -->


      </div> <!-- wrap -->
    </div> <!-- container_wrap-->
  </div> <!-- container -->
</body>
</html>
