<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= @client_name %> - Opinsys Oy</title>

  <%= stylesheet_link_tag "/oauth-authorize/css/login-styles.css" %>
  <%= stylesheet_link_tag "/oauth-authorize/chosen/chosen.css" %>
  <%= javascript_include_tag( "jquery-1.4.2.min",
                              "/oauth-authorize/chosen/chosen.jquery.min.js",
                              "/oauth-authorize/oauth-login.js"
  ) %>
</head>
<body class="" >
    <%= form_tag oauth_authorize_post_path, :class => "login" do %>

      <%= image_tag "/oauth-authorize/img/opinsys_logo_ds.png", :class => "opinsys-logo" %>


      <div class='client-title'>
        <% if @client_logo -%>
        <img class="service-logo"
          src="<%= @client_logo %>"
          alt="<%= @client_name %>"
          title="<%= @client_name %>"
          >
        <% elsif -%>
          <h1><%= @client_name %></h1>
        <% end -%>
        <!-- <span class='client-name'><%= @client_name %></span> -->
      </div>

      <div class='chosen-organization' >
        <span class='container'>JS</span>
        <a href='#' class='change-organization'> (<%= I18n.t "oauth.change"  %>)</a>
      </div>

      <% flash.each do |key, value| -%>
      <div class="error">
        <div class="<%= key %>">
        <%= value %>
        </div>
      </div>
      <% end -%>

      <div class="service-notice">
        <h2>
          <%= I18n.t "oauth.login_description1" %>
          <span class="service-name"><%= @client_name %></span>
          <%= I18n.t "oauth.login_description2" %>
        </h2>
      </div>


      <fieldset class="choose-organization">
      <legend><%= I18n.t "oauth.select_organistion" %>:</legend>
        <%= select_tag :organisation_key, options_for_select(@organisations), :class => "organization chzn-select" %>
        <span class="what-this-means" title="<%= I18n.t "oauth.organisation_help" %>">?</span>
      </fieldset>
      <fieldset class="inputs">
        <div class="user-details-header">
        </div>
        <div class="field-placeholder">
          <legend><%= I18n.t "oauth.username" %>:</legend>
          <%= text_field :oauth, :uid, :value => params[:uid], :class => :username %>
        </div>
          <div class="field-placeholder">
          <legend><%= I18n.t "oauth.password" %>:</legend>
          <%= password_field :oauth, :password, :class => :password %>
          </div>
      </fieldset>
      <button class="next">Next</button>
      <fieldset class="actions">
          <%= submit_tag I18n.t("oauth.login"), :name => "login", :class => "submit" %>
          <%= image_tag "ajax-loader.gif", :class => "loading", :alt => "sending..." %>
          <!-- <%= submit_tag "Cancel", :name => "cancel", :class => "submit" %> -->
          <a href="#" onclick="alert('Not implemented.')" ><%= I18n.t "oauth.password_forget" %></a>
      </fieldset>
  <% end -%>
</body>
</html>
