<% form_tag oauth_authorize_post_path do %>

<h1>Opinsys login for <%= client_name %></h1>

<% if not trusted_client? -%>
<p>
  <span style="color: red">TODO: Warning</span>
</p>
<% end -%>

<p>

  <%= label :oauth, :uid %>
  <%= text_field :oauth, :uid, :value => params[:uid] %>

  <%= label :oauth, :password %>
  <%= password_field :oauth, :password %>

  <%= label :oauth, :organisation_key %>
  <%= text_field :oauth, :organisation_key, :value => params[:organisation_key] %>

</p>


<p>
  <%= submit_tag "Login", :name => "login" %>
  <%= submit_tag "Cancel", :name => "cancel" %>

</p>

<% end %>
