<% form_tag oauth_authorize_post_path do %>

<h1>Opinsys login for <%= client_name %></h1>

<% if not trusted_client? -%>
<p>
  <span style="color: red">TODO: Warning</span>
</p>
<% end -%>

<p>

  Username <%= text_field_tag "uid", params[:uid] %>
  Password<%= password_field_tag "password" %>
  Organisation <%= text_field_tag "organisation_key", params[:organisation_key] %>

</p>


<p>
  <%= submit_tag "ok", :name => "ok" %>
  <%= submit_tag "cancel", :name => "cancel" %>

</p>

<% end %>
