<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Puavo-kirjautuminen - Opinsys Oy</title>

  <%= stylesheet_link_tag "/oauth-authorize/css/login-styles.css" %>
  <%= stylesheet_link_tag "/oauth-authorize/chosen/chosen.css" %>
  <%= javascript_include_tag( "jquery-1.4.2.min",
                              "/oauth-authorize/chosen/chosen.jquery.min.js",
                              "/oauth-authorize/oauth-login.js"
  ) %>
</head>
<body class="" >
    <% form_tag oauth_authorize_post_path, :class => "login" do %>

      <img src="/oauth-authorize/img/opinsys_logo_ds.png" class="opinsys-logo" />


      <div class='client-title'>
        <% if @client_logo -%>
        <img class="service-logo"
          src="<%= @client_logo %>"
          alt="<%= @client_name %>"
          title="<%= @client_name %>"
          >
        <% end -%>
        <!-- <span class='client-name'><%= @client_name %></span> -->
      </div>

      <div class='chosen-organization' >
        <span class='container'>JS</span>
        <a href='#' class='change-organization'> (vaihda)</a>
      </div>

      <% flash.each do |key, value| -%>
      <div class="error">
        <div class="<%= key %>">
        <%= value %>
        </div>
      </div>
      <% end -%>

      <div class="service-notice">
        <h2>Kirjautuminen palveluun <span class="service-name"><%= @client_name %></span> Opinsys-järjestelmän tunnuksilla</h2>
      </div>


      <fieldset class="choose-organization">
        <legend>Valitse koulu tai organisaatio:</legend>
        <%= select_tag :organisation_key, options_for_select(@organisations), :class => "organization chzn-select" %>
        <span class="what-this-means" title="Valitse valikosta se organisaatio, jonka tunnuksilla haluat kirjautua. Esim. Jyväskylä">?</span>
      </fieldset>
      <fieldset class="inputs">
        <div class="user-details-header">
        </div>
        <div class="field-placeholder">
          <legend>Käyttäjätunnus:</legend>
          <%= text_field :oauth, :uid, :value => params[:uid], :class => :username %>
        </div>
          <div class="field-placeholder">
          <legend>Salasana:</legend>
          <%= password_field :oauth, :password, :class => :password %>
          </div>
      </fieldset>
      <button class="next">Next</button>
      <fieldset class="actions">
          <%= submit_tag "Login", :name => "login", :class => "submit" %>
          <img class="loading" src="/images/ajax-loader.gif" alt="sending..." />
          <!-- <%= submit_tag "Cancel", :name => "cancel", :class => "submit" %> -->
          <a href="">Unohditko salasanasi?</a>
      </fieldset>
  <% end -%>
</body>
</html>
