<% form_tag oauth_access_code_path do %>
<table>
  <tr>
    <td><%= label :user, :uid %></td>
    <td><%= text_field :user, :uid %></td>
  </tr>
  <tr>
  <td><%= label :user, :password %></td>
  <td><%= password_field :user, :password %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag t('link.login') %></td>
  </tr>
</table>
<%= hidden_field_tag :state, params[:state] %>
<% end %>
