<table class="list">
  <tr class="thead">
    <th><%= t('activeldap.attributes.role.displayName') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td data-title="<%= t('activeldap.attributes.role.displayName')%>"><%= link_to role.displayName, role_path(@school, role) %></td>
    <td data-title="<%=t('.actions')%>" class="table-actions"><%= link_to t('link.edit'), edit_role_path(@school, role), :class=> "btn" %></td>
    <td class="table-actions"><%= link_to t('link.destroy'), role_path(@school, role), :confirm => t('general_confirm'), :method => :delete, :class=> "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<% content_for :right do %>
<div><%= link_to t('link.new_role'), new_role_path %></div>
<% end %>