<h2><%= t('.title') %></h2>
<%= form_for("role", :url => change_school_users_path(@school))  do |f| %>
<%= hidden_field_tag :new_school, @new_school.id %>
<% @users.each do |user| %>
<%= hidden_field_tag "user_ids[]", user.id %>
<% end %>
<table>
  <tr>
	<td><label><%= t('.new_school') %></label></td>
	<td><%= @new_school.displayName  %></td>
  </tr>
  <tr>
	<td>
	  <%= label_tag :new_role, t('.select_new_role') %>
  	</td>
	<td>
	  <%= select_tag :new_role, options_from_collection_for_select(@roles, "puavoId", "displayName") %>
	</td>
  </tr>
  <tr><td></td>
  <td><%= f.submit t('.submit') %></td>
  </tr>
</table>
<% end %>

<% content_for :footer do %>
<ul>
  <li class="link_header">
    <%= link_to school_path(@school) do %>
    <span><%= t('layouts.application.schools') %></span>
    <% end %>
  </li>
  <% current_organisation.schools(current_user).each do |school| %>
  <li<% if current_organisation.schools(current_user).last == school %> class="last"<% end %>>
    <%= link_to school.displayName,  school_path(school) %>
  </li>
  <% end %>
</ul>
<ul>
  <li class="link_header">
    <%= link_to users_path(@school) do %>
      <span><%= t('layouts.application.users') %></span>
    <% end %>
  </li>
  <li><%= link_to t('link.groups'), groups_path(@school) %></li>
  <li><%= link_to t('link.roles'), roles_path(@school) %></li>
  <li><a href="/devices/<%= @school.id%>/devices"><span><%= t('layouts.application.devices') %></span></a></li>
</ul>
<% end %>



