<p>
  <b><%= t('activeldap.attributes.role.displayName') %>:</b>
  <%=h @role.displayName %>
</p>

<p>
  <b><%= t('activeldap.attributes.role.cn') %>:</b>
  <%=h @role.cn %>
</p>

<p>
  <b><%= t('activeldap.attributes.role.puavoEduPersonAffiliation') %>:</b>
  <%=h t('puavoEduPersonAffiliation_' + @role.puavoEduPersonAffiliation) %>
</p>

<p>
  <b><%= t('activeldap.attributes.role.members') %>:</b><br />
  <span id="members">
    <% @role.members.each do |m| %>
    <%= link_to m.displayName, user_path(@school, m) %> (<%= m.uid %>)<br />
    <% end %>
  </span>
</p>

<% content_for :right do %>
<% if theme=="gray" %>
<div><%= link_to t('link.edit'), edit_role_path(@role) %></div>
<div><%= link_to t('link.new_role'), new_role_path %></div>
<div><%= link_to t('.change_school'), select_school_role_path %></div>
<% end %>
<% if theme!="gray" %>
<ul class="tools">
<li>
<%= link_to t('link.edit'), edit_role_path(@role) %>
</li>
<li class="tool">
<span><%= t('link.more') %><%= image_tag("show-more.png")%></span>
<ul>
<li>
<%= link_to t('link.new_role'), new_role_path %>
</li>
</ul>
</li>
</ul>
<% end %> 
<% end %>
