<p>
  <b><%= t('activeldap.attributes.role.displayName') %>:</b>
  <%=h @role.displayName %>
</p>

<p>
  <b><%= t('activeldap.attributes.role.members') %>:</b><br />
  <span id="members">
    <% @role.members.each do |m| %>
    <%= link_to m.displayName, user_path(@school, m) %> (<%= m.uid %>)<br />
    <% end %>
  </span>
</p>

<p>
  <b><%= t('activeldap.attributes.role.groups') %>:</b><br />
  <span id="member_groups">
    <% @member_groups.each do |g| %>
    <%= "#{g.displayName} (#{g.school.displayName})" %>
    <%= link_to t('link.remove'), remove_group_role_path(@school, @role, g), :method => :put, :id => "remove_group_#{g.id}" %>
    <br />
    <% end %>
  </span>
</p>

<p>
  <b><%= t('.other_groups') %>:</b><br />
  <span id="other_groups">
    <% @other_groups.each do |g| %>
    <%= "#{g.displayName} (#{g.school.displayName})" %>
    <%= link_to t('link.add'), add_group_role_path(@school, @role, g), :method => :put, :id => "add_group_#{g.id}" %>
    <br />
    <% end %>
  </span>
</p>

<% content_for :right do %>
<ul class="sub-tools">
<li>
<%= link_to edit_role_path(@school, @role), :class => 'btn' do %>
  <i class="icon-pencil"></i> <%= t('link.edit') %>
<% end %>
</li>
<li class="tool">
<span class="btn"><i class="icon-collapse"></i> <%= t('link.more')%></span>
<ul>
<li>
<%= link_to new_role_path do %>
  <i class="icon-plus"></i> <%= t('link.new_role')%>
<% end %>
</li>
<li>
<%= link_to select_school_role_path do %>
  <i class="icon-exchange"></i> <%= t('.change_school') %>
<% end %>
</li>
    <li>
      <%= link_to role_path(@school, @role), :confirm => t('general_confirm'), :method => :delete do %>
      <i class="icon-trash"></i><%= t('link.destroy')%>
      <% end %>
    </li>
<li>
  <%= link_to( remove_users_role_path(@school, @role),
               :confirm => t('.confirm_destroy_users',
                             :count => @role.members.count,
                             :name => @role.displayName),
               :method => :put ) do %>
  <i class="icon-trash"></i><%= t('.destroy_users')%>
  <% end %>
</li>
</ul>
</li>
</ul>
<% end %>