<% form_for(@external_service, :url => path, :html => { :method => method })  do |f| %>
<table>
  <% if action_name == "new" || action_name == "create" %>
  <tr>
    <td><%= f.label :uid %></td>
    <td><%= f.text_field :uid %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_field :description %></td>
  </tr>
  <tr>
    <td><%= f.label :userPassword %></td>
    <td><%= f.text_field :userPassword, :value => '' %></td>
  </tr>
  <tr>
    <td class="label_for_checkbox_list"><%= f.label :groups %></td>
    <td class="external_services_system_groups">
    <% @system_groups.each do |g| %>
    <div>
      <input<%= external_service_group_checked?(f.object, g) %> id="group_<%= g.cn %>" name="external_service[groups][]" type="checkbox" value="<%= g.id %>" />
      <label class="checkbox" for="group_<%= g.cn %>"><%=h g.description %></label>
    </div>
    <% end %>
    </td>
  </tr>
  </table>
  <div class="submit_button_container external_service"><%= f.submit submit_text, :class => "submit_button_container"  %></div>
  <div class="cancel"><%= link_to t('link.cancel'), path, :class => 'cancel_button' %> </div>

  <% end %>
