<h1><span><%= t('.title')%></span></h1>
<table class="list">
  <tr>
    <th><%= t('activeldap.attributes.external_service.uid') %></th>
    <th><%= t('activeldap.attributes.external_service.description') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>

<% @external_services.each do |external_service| %>
  <tr>
    <td><%= link_to external_service.uid, external_service_path(@school, external_service) %></td>
    <td><%=h external_service.description %></td>
    <td><%= link_to t('link.edit'), edit_external_service_path(@school, external_service) %></td>
    <td><%= link_to( t('link.destroy'),
                     external_service_path(@school, external_service),
                     :confirm => t('destroy_confirm',
                                   :object_name => external_service.uid),
                     :method => :delete ) %></td>
  </tr>
<% end %>
</table>

<% content_for :right do %>
<div><%= link_to t('link.new_external_service'), new_external_service_path %></div>
<% end %>

<% content_for :footer do %>
<ul>  
  <li class="link_header">
    <%= link_to t('layouts.application.schools'),  schools_path %> 
  </li>
  <% session[:organisation].schools.each do |school| %>
  <li<% if session[:organisation].schools.last == school %> class="last"<% end %>>
    <%= link_to school.displayName,  school_path(school) %></li>
  <% end %>
</ul>
<% end %>
