<p class='required_info'><%= t('layouts.forms.required_field')%></tr>

<%= form_for(@school, :url => path, :html => { :method => method, :multipart => true })  do |f| %>
<table>
  <tr>
    <td class='required'>
      <%= f.label :displayName %>
    </td>
    <td>
      <%= f.text_field :displayName %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :puavoNamePrefix %>
    <td>
     <%= f.text_field :puavoNamePrefix %>
   </td>
  </tr>
  <tr>
    <td>
      <%= f.label :puavoSchoolHomePageURL %>
    </td>
    <td>
      <%= f.text_field :puavoSchoolHomePageURL %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :description %>
    </td>
    <td>
      <%= f.text_field :description %>
    </td>
  </tr>
  <tr>
    <td class='required'>
      <%= f.label :cn %>
    </td>
    <td>
      <%= f.text_field :cn %>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.label :telephoneNumber %>
    </td>
    <td>
    <%= f.text_field :telephoneNumber %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :facsimileTelephoneNumber %>
    </td>
    <td>
    <%= f.text_field :facsimileTelephoneNumber %>
    </td>
  </tr>
  <tr>
    <td>
     <%= f.label :l %>
     </td>
    <td>
      <%= f.text_field :l %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :street %>
    </td>
    <td>
      <%= f.text_field :street %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :postOfficeBox %>
    </td>
    <td>
      <%= f.text_field :postOfficeBox %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :postalAddress %>
    </td>
      <td>
       <%= f.text_field :postalAddress %>
     </td>
  </tr>
  <tr>
    <td>
      <%= f.label :postalCode %>
    </td>
    <td>
      <%= f.text_field :postalCode %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :st %>
    </td>
    <td>
      <%= f.text_field :st %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :image %>
    </td>
    <td>
      <%= f.file_field :image %>
    </td>
  </tr>

  <%= render :partial => 'shared/form_allow_guest_and_personal_device', :locals => { :f => f } %>

  <% if current_user.organisation_owner? %>
  <tr>
    <td class="label_for_input_text_list">
      <%= f.label :puavoBillingInfo %>
    </td>
    <td>

    <div id="school_puavoBillingInfo">
      <% if Array(f.object.puavoBillingInfo).empty? %>
        <input name='school[puavoBillingInfo][]' type='text' />
      <% else %>
        <% Array(f.object.puavoBillingInfo).each_index do |index| %>
          <input name='school[puavoBillingInfo][]' type='text' value='<%= Array(f.object.puavoBillingInfo)[index] %>' />
        <% end %>
      <% end %>
    </div>
    <%= link_to t('.add_puavo_billing_info'), "#", :class => "clone_prev_input_element btn" %>

    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= f.submit submit_text, :class=>'btn' %>
      <div class="cancel"><%=link_to t('link.cancel'),  path, :class => 'btn btn-danger' %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
