<p class='required_info'><%= t('layouts.forms.required_field')%></tr>

<% form_for(@school, :url => path, :html => { :method => method, :multipart => true })  do |f| %>
<table>
  <tr>
    <td>
      <%= f.label :displayName %>
    </td>
    <td class='required'>
      <%= f.text_field :displayName %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :puavoNamePrefix %>
    <td>
     <%= f.text_field :puavoNamePrefix %>
   </td>
  </tr>
  <tr>
    <td>
      <%= f.label :puavoSchoolHomePageURL %>
    </td>
    <td>
      <%= f.text_field :puavoSchoolHomePageURL %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :description %>
    </td>
    <td>
      <%= f.text_field :description %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :cn %>
    </td>
    <td class='required'>
      <%= f.text_field :cn %>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.label :telephoneNumber %>
    </td>
    <td>
    <%= f.text_field :telephoneNumber %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :facsimileTelephoneNumber %>
    </td>
    <td>
    <%= f.text_field :facsimileTelephoneNumber %>
    </td>
  </tr>
  <tr>
    <td>
     <%= f.label :l %>
     </td>
    <td>
      <%= f.text_field :l %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :street %>
    </td>
    <td>
      <%= f.text_field :street %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :postOfficeBox %>
    </td>
    <td>
      <%= f.text_field :postOfficeBox %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :postalAddress %>
    </td>
      <td>
       <%= f.text_field :postalAddress %>
     </td>
  </tr>
  <tr>
    <td>
      <%= f.label :postalCode %>
    </td>
    <td>
      <%= f.text_field :postalCode %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :st %>
    </td>
    <td>
      <%= f.text_field :st %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :image %>
    </td>
    <td>
      <%= f.file_field :image %>
    </td>
  </tr>
</table>

<div>

    <%= f.submit submit_text %>
    <div class="cancel"> <%=link_to t('link.cancel'), path, :class => 'cancel_button' %> </div>

</div>
<% end %>
