<ul>
  <li <%= controller_name == "schools" && ["show", "edit"].include?(action_name) ? "class=current" : "" %>>
  <%= link_to t('.dashboard'), school_path(@school) %>
  </li>
  <% if current_user.organisation_owner? %>
  <li <%= action_name == "admins" ? "class=current" : "" %>>
  <%= link_to t('.admins'), admins_school_path(@school) %>
  </li>
  <li <%= action_name == "wlan" || action_name == "wlan_update" ? "class=current" : "" %>>
  <%= link_to t('.wlan'), wlan_school_path(@school) %>
  </li>
  <li <%= request.path == schools_active_services_path(@school) ? "class=current" : "" %>>
    <%= link_to "External Services", schools_active_services_path(@school) %>
  </li>
  <% end %>
</ul>

