<% page_title t('titles.schools'), @school.displayName, t('titles.admins') %>

<h1><%= t('.school_admins') %></h1>

<%= start_box t('.this_school_admin_users', :school_name => @school.displayName) %>
  <table id="this_school_admin_users">
    <% Array(@school_admins).each do |u| %>
    <% if u.puavoRemovalRequestTime %>
    <tr class="groupUserMarkedForDeletion">
    <% else %>
    <tr>
    <% end %>
      <td>
        <%= link_to "#{u.displayName} (#{u.uid})", user_path(u.school, u) %> (<%= u.school.displayName %>)
        <% if u.puavoLocked %><i class="icon-lock"></i><% end %>
      </td>
      <td><%= link_to(t('link.remove') + ' ►',
                      remove_school_admin_school_path(@school, u),
                      method: :put,
                      id: "remove_user_#{u.id}",
                      class: 'btn') %></td>
    </tr>
    <% end %>
  </table>
<%= end_box %>

<%= start_box t('.other_admin_users') %>
  <table id="other_admin_users">
    <% Array(@allowed_school_admins).each do |u| %>
    <% if u.puavoRemovalRequestTime %>
    <tr class="groupUserMarkedForDeletion">
    <% else %>
    <tr>
    <% end %>
      <td>
        <%= link_to "#{u.displayName} (#{u.uid})", user_path(u.school, u) %> (<%= u.school.displayName %>)
        <% if u.puavoLocked %><i class="icon-lock"></i><% end %>
      </td>
      <td><%= link_to('◄ ' + t('link.add'),
                      add_school_admin_school_path(@school, u),
                      method: :put,
                      id: "add_user_#{u.id}",
                      class: 'btn') %></td>
    </tr>
    <% end %>
  </table>
<%= end_box %>
