<h1><span><%= t('.title') %></span></h1>

<table class="list">
  <tr>
    <th><%= t('activeldap.attributes.school.displayName') %></th>
    <th><%= t('activeldap.attributes.school.cn') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>

<% @schools.each do |school| %>
  <tr>
    <td><%= link_to school.displayName, school_path(school) %></td>
    <td><%=h school.cn %></td>
    <td><%= link_to t('link.edit'), edit_school_path(school), :class=> "btn" %></td>
  </tr>
<% end %>
</table>

<br />
<% content_for :right do %>
<div><%= link_to t('link.new_school'), new_school_path %></div>
<% end %>
<% content_for :footer do %>
<ul>
  <li class="link_header">
    <%= link_to t('layouts.application.schools'),  schools_path %>
  </li>
  <% school_list.each do |school| %>
  <li>
    <%= link_to school.displayName,  school_path(school) %>
  </li>
  <% end %>
</ul>
<% end %>

