<div class="dashboard">

<%= link_to( image_tag("school.png") ) %>

<div class="dashboard_box contacts">
<h3><%= t('.contacts') %></h3>
<h4><%=h @school.displayName %></h4>
<div class="row"><%=h @school.street %></div>
<div class="row"><%=h @school.postalCode %> <%=h @school.postalAddress %></div>
<div class="row"><%=h @school.postOfficeBox %></div>
<div class="row"><%= link_to t('activeldap.attributes.school.puavoSchoolHomePageURL'), @school.puavoSchoolHomePageURL %></div>
</div>


<div class="dashboard_box list">
<h3><%= t('.users') %></h3>
<h4><%= t('.statistics') %></h4>

<% User.puavoEduPersonAffiliation_list.each do |type| %>
<div class="row"><div class="column_1"><%= t('puavoEduPersonAffiliation_' + type) %>: </div> <div class="column_2"><%= @school.members.select{ |m| m.puavoEduPersonAffiliation == type}.count %></div></div>
<% end %>
<div class="row"></div>
<h4><%= t('.admin_users') %></h4>
<% @school.user_school_admins.each do |user| %>
<div class="row"><%= [(link_to user.displayName, user_path(@school, user)), user.telephoneNumber, user.mail].delete_if{ |data| data.nil? }.join(", ") %></div>
<% end %>
</div>

<% if @devices_by_type %>
<div class="dashboard_box list">
<h3><%= t('.devices') %></h3>
<% @devices_by_type.each do |device_type, count| %>
<div class="row"><div class="column_1"><%= device_type %>:</div> <div class="column_2"><%= count %></div></div>
<% end %>
<% end %>
</div>

</div>

<% content_for :right do %>
<div><%= link_to t('link.edit'), edit_school_path(@school) %></div>
<div><%= link_to t('link.destroy'), @school, :confirm => t('general_confirm'), :method => :delete %></div>
<% end %>
