
<div class="dashboard">
<div class="content-box school_image">
<%= image_tag( @school.jpegPhoto.nil? ? "school.png" : image_school_path(@school),
               :class => "image" ) %>
</div>
<div class="content-box contacts">
<h3><%= t('.contacts') %></h3>
<h4><%=h @school.displayName %></h4>
<div class="row"><%=h @school.street %></div>
<div class="row"><%=h @school.postalCode %> <%=h @school.postalAddress %></div>
<div class="row"><%=h @school.postOfficeBox %></div>
<div class="row"><%= link_to t('activeldap.attributes.school.puavoSchoolHomePageURL'), @school.puavoSchoolHomePageURL %></div>
</div>


<div class="content-box list users">
<h3><%= t('.users') %></h3>
<h4><%= t('.statistics') %></h4>
<% User.puavoEduPersonAffiliation_list.each do |type| %>
  <div class="row"><div class="column_1"><%= t('puavoEduPersonAffiliation_' + type) %>: </div> <div class="column_2"><%= @members.select{ |m| m.last["puavoEduPersonAffiliation"] == [type]}.count %></div>
  </div>
<% end %>
</div>

<% if @devices_by_type %>
  <div class="content-box list">
  <h3><%= t('.devices') %></h3>
  <% @devices_by_type.each do |device_type, count| %>
    <div class="row"><div class="column_1"><%= device_type %>:</div> <div class="column_2"><%= count %></div></div>
  <% end %>
    <div class="row">
      <div class="column_1">
        <%= label "school", 'puavoLocale' %>:
      </div>
      <div class="column_2">
        <%=h language_by_locale(@school.puavoLocale) %><br />
        <i><%= t("old_preferred_language", :language => @school.preferredLanguage) %></i>
      </div>
    </div>
    <div class="row">
      <div class="column_1">
        <%= label "school", 'puavoDeviceImage' %>:
      </div>
      <div class="column_2"><%=h @school.puavoDeviceImage %></div>
    </div>
    <div class="row">
      <div class="column_1">
        <%= label "school", 'puavoImageSeriesSourceURL' %>:
      </div>
      <div class="column_2"><%=h value_or_default_value_by_parent(@school, "puavoImageSeriesSourceURL") %></div>
    </div>
    <div class="row">
      <div class="column_1">
        <%= label "school", 'puavoAllowGuest' %>:
      </div>
      <div class="column_2"><%= translate_boolean_value(@school.puavoAllowGuest) %></div>
    </div>

    <div class="row">
      <div class="column_1">
        <%= label "school", 'puavoAutomaticImageUpdates' %>:
      </div>
      <div class="column_2"><%= translate_boolean_value(@school.puavoAutomaticImageUpdates) %></div>
    </div>

    <div class="row">
      <div class="column_1">
        <%= label "school", "puavoTag" %>:
      </div>
      <div class="column_2"><%= @school.puavoTag %></div>
    </div>

    <div class="row">
      <div class="column_1">
        <%= label "school", "puavoDeviceAutoPowerOffMode" %>:
      </div>
      <div class="column_2">
        <%=h t('puavoDeviceAutoPowerOffMode_' + (@school.puavoDeviceAutoPowerOffMode or 'default'),
         :scope => "activeldap.attributes.#{ @school.class.human_name }") %>
      </div>
    </div>

    <div class="row">
      <div class="column_1">
        <%= label "school", "puavoDeviceOnHour" %>:
      </div>
      <div class="column_2"><%= @school.puavoDeviceOnHour %></div>
    </div>

    <div class="row">
      <div class="column_1">
        <%= label "school", "puavoDeviceOffHour" %>:
      </div>
      <div class="column_2"><%= @school.puavoDeviceOffHour %></div>
    </div>

    <% if current_user.organisation_owner? %>
    <%# Only organisation owners can access the server page. So hide it from others.  %>
    <div class="row">
      <div class="column_1">
        Bootserver(s)
      </div>
      <div class="column_2">
        <ul>
          <% @school.boot_servers.each do |bs| %>
          <li>
            <%= link_to bs.puavoHostname, server_path(bs) %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

  </div>
<% end %>
</div>
<div class="admin-users-list content-box list users">
<h3><%= t('.admin_users') %></h3>

<div class="row admins_headers"><span><%= t('.name') %></span><span><%= t('.phone') %></span><span><%= t('.mail') %></span></div>
<% @school.user_school_admins.each do |user| %>
  <% if user.displayName %>
    <div class="row">
      <span><%= link_to user.displayName, user_path(@school, user) %></span>
      <span><%= [user.telephoneNumber].delete_if{ |data| data.nil? }.join(", ") %></span>
      <span class="admin_emails"><%= [user.mail].delete_if{ |data| data.nil? }.join(", ") %></span>
    </div>
  <% end %>
<% end %>
<hr />
</div>

<% if current_user.organisation_owner? %>

<div class="content-box list billing-info">
<h3><%= t('.billing_info') %></h3>
<h4><%= t('.rule_lines') %></h4>

  <div class="row">
    <% Array(@school.puavoBillingInfo).each do |billing_info| %>
      <div class="row">
	<span><%=h billing_info %></span>
      </div>
    <% end %>
  </div>

</div>

<% end %>

<%= render :partial => 'shared/mountpoint', :locals => { :object => @school } %>

<div class="content-box list">
  <h3><%= t('.system_information') %></h3>
  <div class="row">
    <div class="column_1">
      <%= label "school", 'cn' %>:
    </div>
    <div class="column_2">
      <%=h @school.cn %>
    </div>
  </div>
  <div class="row">
    <div class="column_1">
      <%= label "school", 'puavoExternalId' %>:
    </div>
    <div class="column_2">
      <%=h @school.puavoExternalId %>
    </div>
  </div>
</div>

<% content_for :right do %>
  <ul class="sub-tools">
  <li>
  <%= link_to edit_school_path(@school), :class => "btn" do %>
  <i class='icon-pencil'></i> <%=t('link.edit')%>
  <% end %>
  </li>
  <li class="tool">
  <span class="btn"><i class='icon-collapse'></i><%= t('link.more')%></span>
  <ul>
  <% if current_user.organisation_owner? %>
    <li>
    <%= link_to new_rename_groups_path(@school) do %>
      <i class='icon-exchange'></i><%=t('link.rename_groups')%>
    <% end %>
    </li>
  <% end %>
  <li>
  <%= link_to @school, :confirm => t('general_confirm'), :method => :delete do%>
    <i class='icon-trash'></i><%=t('link.destroy')%>
  <% end %>
  </li>
  </ul>
  </li>
  </ul>
<% end %>
