<p>
  <b><%=h t('activeldap.attributes.school.displayName') %>:</b>
  <%=h @school.displayName %>
</p>

<p>
  <b><%=h t('activeldap.attributes.school.puavoNamePrefix') %>:</b>
  <%=h @school.puavoNamePrefix %>
</p>

<p>
  <b><%=h t('activeldap.attributes.school.gidNumber') %>:</b>
  <%=h @school.gidNumber %>
</p>

<p>
  <b><%=h t('activeldap.attributes.school.puavoSchoolHomePageURL') %>:</b>
  <%=h @school.puavoSchoolHomePageURL %>
</p>

<p>
  <b><%=h t('activeldap.attributes.school.description') %>:</b>
  <%=h @school.description %>
</p>
<p>
  <b><%=h t('activeldap.attributes.school.puavoSchoolNameAbbreviation') %>:</b>
  <%=h @school.cn %>
</p>
<p>
  <b><%=h t('activeldap.attributes.school.telephoneNumber') %>:</b>
  <%=h @school.telephoneNumber %>
</p>
<p>
  <b><%=h t('activeldap.attributes.school.facsimileTelephoneNumber') %>:</b>
  <%=h @school.facsimileTelephoneNumber %>
</p>
<p>
  <b><%=h t('activeldap.attributes.school.l') %>:</b>
  <%=h @school.l %>
</p>
<p>
  <b><%=h t('activeldap.attributes.school.street') %>:</b>
  <%=h @school.street %>
</p>
<p>
  <b><%=h t('activeldap.attributes.school.postOfficeBox') %>:</b>
  <%=h @school.postOfficeBox %>
</p>
<p>
  <b><%=h t('activeldap.attributes.school.postalAddress') %>:</b>
  <%=h @school.postalAddress %>
</p>
<p>
  <b><%=h t('activeldap.attributes.school.postalCode') %>:</b>
  <%=h @school.postalCode %>
</p>
<p>
  <b><%=h t('activeldap.attributes.school.st') %>:</b>
  <%=h @school.st %>
</p>


<%= link_to t('link.edit'), edit_school_path(@school) %> |
<%= link_to t('link.back'), schools_path %>
<%= link_to t('link.destroy'), @school, :confirm => t('general_confirm'), :method => :delete %>
