<% page_title t('titles.schools'), @school.displayName %>

<div class="dashboard">

<div class="contentBox schoolImage">
<%= image_tag( @school.jpegPhoto.nil? ? "school.png" : image_school_path(@school),
               class: "image" ) %>
</div>

<%= start_box t('.contacts') %>
  <%= h @school.displayName %><br>
  <%= h @school.street %><br>
  <%= h @school.postalCode %> <%= h @school.postalAddress %><br>
  <%= h @school.postOfficeBox %><br>
  <%= link_to t('activeldap.attributes.school.puavoSchoolHomePageURL'),
              @school.puavoSchoolHomePageURL,
              class: 'schoolHomepage' %>
<%= end_box %>

<hr>

<!-- Various bits and pieces -->
<%= start_box t('.info') %>
  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoLocale') %></div>
    <div class="value"><%= h language_by_locale(@school.puavoLocale) %><br>
    <em><%= t("old_preferred_language", :language => @school.preferredLanguage) %></em>
    </div>
  </div>

  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoDeviceImage') %></div>
    <div class="value"><%= h @school.puavoDeviceImage %></div>
  </div>

  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoImageSeriesSourceURL') %></div>
    <div class="value"><%= h value_or_default_value_by_parent(@school, "puavoImageSeriesSourceURL") %></div>
  </div>

  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoAllowGuest') %></div>
    <div class="value"><%= translate_boolean_value(@school.puavoAllowGuest) %></div>
  </div>

  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoAutomaticImageUpdates') %></div>
    <div class="value"><%= translate_boolean_value(@school.puavoAutomaticImageUpdates) %></div>
  </div>

  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoTag') %></div>
    <div class="value"><%= @school.puavoTag %></div>
  </div>

  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoConf') %></div>
    <div class="value">
      <%= render :partial => 'shared/puavoconf', :locals  => { :object => @school.puavoConf } %>
    </div>
  </div>

  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoDeviceAutoPowerOffMode') %></div>
    <div class="value">
        <%= h t('puavoDeviceAutoPowerOffMode_' + (@school.puavoDeviceAutoPowerOffMode or 'default'),
                :scope => "activeldap.attributes.#{ @school.class.human_name }") %>
    </div>
  </div>

  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoDeviceOnHour') %></div>
    <div class="value"><%= @school.puavoDeviceOnHour %></div>
  </div>

  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.puavoDeviceOffHour') %></div>
    <div class="value"><%= @school.puavoDeviceOffHour %></div>
  </div>

  <% if current_user.organisation_owner? %>
  <%# Only organisation owners can access the server page. So hide it from others. %>
  <div class="multilineItem">
    <div class="title"><%= t('activeldap.attributes.school.bootservers') %></div>
    <div class="value">
      <ul>
        <% @school.boot_servers.each do |bs| %>
        <li><%= link_to bs.puavoHostname, server_path(bs) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<%= end_box %>

<!-- School information -->
<%= start_box t('.system_information') %>
  <table>
    <tr>
      <th><%= t('activeldap.attributes.school.puavoNamePrefix') %></th>
      <td><%= h @school.cn %></td>
    </tr>

    <tr>
      <th><%= t('activeldap.attributes.school.puavoSchoolCode') %></th>
      <td><%= h @school.puavoSchoolCode %></td>
    </tr>

    <tr>
      <th><%= t('activeldap.attributes.school.puavoExternalId') %></th>
      <td><%= h @school.puavoExternalId %></td>
    </tr>

    <tr>
      <th><%= t('ldap_create_time') %></th>
      <td><%= h @school['createTimestamp'].nil? ? "?" : @school['createTimestamp'].localtime %></td>
    </tr>

    <tr>
      <th><%= t('ldap_modify_time') %></th>
      <td><%= h @school['modifyTimestamp'].nil? ? "?" : @school['modifyTimestamp'].localtime %></td>
    </tr>
  </table>
<%= end_box %>

<%= start_box t('.statistics') %>
  <!-- Users statistics -->
  <h3><%= t('.users') %> <small><%= t('.total_count', :count => @members.count) %></small></h3>
  <table>
    <% User.puavoEduPersonAffiliation_list.each do |type| %>
    <tr>
      <th><%= t('puavoEduPersonAffiliation_' + type) %></th>
      <td><%= @members.select{ |m| m.last["puavoEduPersonAffiliation"] == [type]}.count %></td>
    </tr>
    <% end %>
  </table>

  <% if @devices_by_type %>
  <!-- Device statistics -->
  <h3><%= t('.devices') %> <small><%= t('.total_count', :count => @devices_by_type.count) %></small></h3>
  <table>
  <% @devices_by_type.each do |device_type, count| %>
    <tr>
      <th><%= device_type %></th>
      <td><%= count %></td>
    </tr>
  <% end %>
  </table>
  <% end %>
<%= end_box %>

<hr>

<%= start_box t('.admin_users'), extraClass="fullWidth" %>
  <% if @school.user_school_admins.empty? %>
  <p class="empty"><%= t('.no_admin_users') %></p>
  <% else %>
  <table>
    <tr class="tableHeading">
      <th><%= t('.name') %></th>
      <th><%= t('.phone') %></th>
      <th><%= t('.mail') %></th>
    </tr>
    <% @school.user_school_admins.each do |user| %>
    <% if user.displayName %>
      <tr>
        <td><%= link_to user.displayName, user_path(@school, user) %></td>
        <td><%= [user.telephoneNumber].delete_if{ |data| data.nil? }.join(", ") %></td>
        <td class="admin_emails"><%= [user.mail].delete_if{ |data| data.nil? }.join(", ") %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
  <% end %>
<%= end_box %>

<hr>

<% if current_user.organisation_owner? %>
<!-- Billing information -->
<%= start_box t('.billing_info'), extraClass="fullWidth" %>
  <% if @school.puavoBillingInfo.nil? || @school.puavoBillingInfo.empty? %>
  <p class="empty"><%= t('.no_billing_info') %></p>
  <% else %>
  <% Array(@school.puavoBillingInfo).each do |billing_info| %>
  <%= h billing_info %><br>
  <% end %>
  <% end %>
</div>
<%= end_box %>
<% end %>

<hr>

<!-- Mountpoints -->
<%= render :partial => 'shared/mountpoint', :locals => { :object => @school } %>

<% content_for :tools do %>
<ul>
  <li>
    <%= link_to edit_school_path(@school), class: "btn" do %>
      <i class='icon-pencil'></i><%= t('link.edit') %>
    <% end %>
  </li>

  <li class="haveDropdown">
    <span class="btn"><i class='icon-collapse'></i><%= t('link.more')%></span>
    <div class="dropdown">
      <% if current_user.organisation_owner? %>
      <ul>
        <li>
          <%= link_to new_rename_groups_path(@school) do %>
            <i class='icon-exchange'></i><%= t('link.rename_groups') %>
          <% end %>
        </li>
      </ul>
      <% end %>

      <ul>
      <li>
        <%= link_to school_path(@school), data: { confirm: t('general_confirm') }, method: :delete do %>
          <i class='icon-trash'></i><%= t('link.delete_school') %>
        <% end %>
      </li>
      </ul>
    </div>
  </li>
</ul>
<% end %>
