<h1>Listing terminals</h1>

<table>
  <tr>
    <th>Cn</th>
    <th>Iphostnumber</th>
  </tr>

<% @terminals.each do |terminal| %>
  <tr>
    <td><%=h terminal.cn %></td>
    <td><%=h terminal.ipHostNumber %></td>
    <td><%= link_to 'Show', terminal %></td>
    <td><%= link_to 'Edit', edit_terminal_path(terminal) %></td>
    <td><%= link_to 'Destroy', terminal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New terminal', new_terminal_path %>