<h2 id="withoutInfoHeader"><%= t('device_statistics.device_lists.without_info') %></h2>

<div id="withoutInfoInner">
<p><%= t('device_statistics.device_lists.without_info_count', :count => @without_info.count) %></p>

<table class="list" id="withoutInfo">
  <tr class="thead">
    <th><%= t('activeldap.attributes.school.displayName') %></th>
    <th><%= t('activeldap.attributes.device.puavoHostname') %></th>
    <th><%= t('activeldap.attributes.device.puavoDeviceType') %></th>
  </tr>

<% @without_info.each do |device| %>
  <tr>
    <td data-title="<%= t('activeldap.attributes.school.displayName') %>">
      <%= link_to device[:school].displayName, school_path(device[:school]) %>
    </td>

    <td data-title="<%= t('activeldap.attributes.device.puavoHostname') %>">
      <%= link_to insert_wbr(device[:device].puavoHostname), device_path(device[:school], device[:device]) %>
    </td>

    <td data-title="<%= t('activeldap.attributes.device.puavoDeviceType') %>">
      <%= device[:type] %>
    </td>
  </tr>
<% end %>
</table>

</div>
