<% page_title t('titles.organisation'), t('titles.device_statistics_organisation') %>

<% content_for :javascript do %>
<%= javascript_include_tag "i18n/supertable." + I18n.locale.to_s + ".js", skip_pipeline: true %>
<%= javascript_include_tag 'modal_dialog', skip_pipeline: true %>
<%= javascript_include_tag 'supertable', skip_pipeline: true %>
<%= javascript_include_tag 'inpage_tabs', skip_pipeline: true %>
<% end %>

<h1><%= t('device_statistics.organisation.title') %></h1>

<% if @total_devices == 0 %>
<p class="genericNotice"><%= t('device_statistics.organisation.no_devices') %></p>
<% else %>

<div class="tabBar" id="devStatsTabs">
  <ul>
    <li>
        <a href="#withInfoTab"><%= t('device_statistics.organisation_devices_tab') %></a>
    </li>

    <li>
        <a href="#imageStatisticsTab"><%= t('device_statistics.organisation_images_tab') %></a>
    </li>
  </ul>
</div>

<div class="tabContentsWrapper">

<div class="tabContentsVisible" id="withInfoTab">
<div id="orgDevicesList"></div>
</div>

<div class="tabContentsInvisible" id="imageStatisticsTab">
<% if @image_stats.count == 0 %>
<p class="genericNotice"><%= t('device_statistics.organisation.no_devices_with_hardware_info') %></p>
<% else %>
<%= render :partial => 'images', :locals => { :image_stats => @image_stats, :show_school_links => true } %>
<% end %>
</div>

</div>

<% end %>

<% content_for :post_load_javascript do %>
<script>

// Table column definitions
const ORGANISATION_DEVICE_COLUMN_DEFS = {
    school: {
        key: "school",
        title: "<%= t('columns.school') %>",
        flags: COLUMN_FLAG_SORTABLE,
        type: COLUMN_TYPE_STRING,
    },

<%= render :partial => 'shared/device_columns.js' %>
};

// Default visible columns and their order
const DEFAULT_ORGANISATION_DEVICE_COLUMNS = [
    ["school", true],
    ["hw_time", true],
    ["id", false],
    ["hn", true],
    ["type", true],
    ["tags", true],
    ["mfer", false],
    ["model", false],
    ["serial", false],
    ["mac", false],
    ["desc", false],
    ["image", false],
    ["current_image", true],
    ["krn_args", false],
    ["krn_ver", false],
    ["created", false],
    ["modified", false],
    ["user", false],
    ["conf", false],
    ["ram", true],
    ["hd", true],
    ["df_home", false],
    ["hd_ssd", false],
    ["cpu", true],
    ["bios_vendor", false],
    ["bios_version", false],
    ["bios_date", false],
    ["bat_vendor", false],
    ["bat_serial", false],
    ["bat_cap", false],
    ["bat_pcnt", false],
    ["bat_volts", false],
    ["wifi", false],
    ["monitors_xml", false],
    ["xrandr", false],
    ["abitti_version", false],
    ["windows_license", false],
    ["purchase_date", false],
    ["purchase_warranty", false],
    ["purchase_loc", false],
    ["purchase_url", false],
    ["purchase_support", false],
];

const PRESETS = [
<%= render :partial => 'shared/device_presets.js' %>
];

// The current columns, initially the defaults
var currentColumns = DEFAULT_ORGANISATION_DEVICE_COLUMNS;

$(document).ready(function() {
    new SuperTable({
        // Unique ID for this table
        id: "org_devices",

        // Organisation and school names, used during CSV exports
        organisationName: "<%= LdapOrganisation.current.o %>",

        // The URL used to dynamically retrieve table data from
        url: "/get_organisation_devices_list",

        // Where to save the table settings
        localstoreKey: "supertable-org-devices",

        // Which locale will be used when sorting strings?
        sortLocale: "<%= supertable_sorting_locale %>",

        // Container for the table and its controls
        container: document.getElementById("orgDevicesList"),

        // Main table flags
        flags: TABLE_FLAG_DEVICES | TABLE_FLAG_ORGANISATION_DEVICES,

        // All possible columns, their titles, keys, flags, etc.
        columnDefs: ORGANISATION_DEVICE_COLUMN_DEFS,

        // Which columns to display and in which order. You need at least one.
        currentColumns: currentColumns,

        // Default columns for this table. Used with the column editor.
        defaultColumns: DEFAULT_ORGANISATION_DEVICE_COLUMNS,

        // The column that's initially selected on new filter rows
        defaultFilterColumn: "hn",

        // Initially sorted column and its order (only SORT_ORDER_ASCENDING and SORT_ORDER_DESCENDING
        // are valid here, any other value will be ignored and the order is assumed to be ascending).
        // If the column does not exist, then the initial sort will be ignored completely.
        initialSort: { column: "hn", order: SORT_ORDER_ASCENDING },

        // Premade filter presets
        filterPresets: PRESETS,

        // Name of the objects the table contains. Currently always a plural.
        itemName: "<%= t('devices.index.devices') %>",

        // Column editor subtitle
        columnEditorSubtitle: "<%= t('layouts.application.devices') %>",
    });

    new Tabs("devStatsTabs", 0);
});

</script>
<% end %>
