<% page_title t('titles.organisation'), t('titles.device_statistics') %>

<% content_for :javascript do %>
<%= javascript_include_tag 'sortableTable' %>
<% end %>

<h1><%= t('.title') %></h1>

<% if @total_devices == 0 %>
<p class="genericNotice"><%= t('.no_devices') %></p>
<% else %>

<% if @with_info.count == 0 %>
<p class="genericNotice"><%= t('.no_devices_with_hardware_info') %></p>
<% else %>

<h2><%= t('device_statistics.device_lists.with_info') %></h2>

<p><%= t('.count_header',
         :total => @total_devices,
         :with_info => @with_info.count) %></p>

<table class="list" id="withInfo">
  <tr class="thead">
    <th><%= t('activeldap.attributes.school.displayName') %></th>
    <th><%= t('activeldap.attributes.device.puavoHostname') %></th>
    <th><%= t('device_statistics.columns.timestamp') %></th>
    <th><%= t('activeldap.attributes.device.puavoDeviceType') %></th>
    <th><%= t('activeldap.attributes.device.puavoDeviceImage') %></th>
    <th><%= t('device_statistics.columns.cpu') %></th>
    <th><%= t('device_statistics.columns.memory') %></th>
    <th><%= t('device_statistics.columns.hard_drive') %></th>
  </tr>

<% @with_info.each do |device| %>
  <tr>
    <td data-title="<%= t('activeldap.attributes.school.displayName') %>">
      <%= link_to device[:school].displayName, school_path(device[:school]) %>
    </td>

    <td data-title="<%= t('activeldap.attributes.device.puavoHostname') %>">
      <%= link_to insert_wbr(device[:name]), device_path(device[:school], device[:device]) %>
    </td>

    <td data-title="<%= t('device_statistics.columns.timestamp') %>">
      <%= (Time.at(device[:timestamp]).localtime.strftime('%Y-%m-%d&nbsp;%H:%M:%S')).html_safe %>
    </td>

    <td data-title="<%= t('activeldap.attributes.device.puavoDeviceType') %>">
      <%= device[:type] %>
    </td>

    <td data-title="<%= t('activeldap.attributes.device.puavoDeviceImage') %>">
      <%= insert_wbr(device[:image]) %>
    </td>

    <td data-title="<%= t('device_statistics.columns.cpu') %>">
      <%= device[:cpu_count] %> × <%= insert_wbr(device[:cpu_name]) %>
    </td>

    <td data-title="<%= t('device_statistics.columns.memory') %>">
      <%= device[:memory] %>
    </td>

    <td data-title="<%= t('device_statistics.columns.hard_drive') %>">
      <%= device[:hard_drive] %>
    </td>

  </tr>
<% end %>
</table>

<% unless @without_info.empty? %>
<%= render :partial => 'without', :locals => { :without_info => @without_info } %>
<% end %>

<%= render :partial => 'images', :locals => { :image_stats => @image_stats } %>

<% end %>
<% end %>

<script>
// Make the tables sortable
$(document).ready(function() {
  new SortableTable(
    "withInfo",
    [
      { "index": 0, "flags": COLUMN_FLAG_PRESERVE_HTML },   // school name
      { "index": 1, "flags": COLUMN_FLAG_PRESERVE_HTML },   // hostname
      { "index": 2 },   // timestamp
      { "index": 3 },   // type
      { "index": 4 },   // desktop image
      { "index": 5 },   // CPU
      { "index": 6, "type": COLUMN_TYPE_INTEGER },  // memory
      { "index": 7, "type": COLUMN_TYPE_INTEGER }   // hard drive
    ],
    "fi",
    2,
    SORT_ORDER_DESCENDING
  );

  <% unless @without_info.empty? %>
  new SortableTable(
    "withoutInfo",
    [
      { "index": 0, "flags": COLUMN_FLAG_PRESERVE_HTML },
      { "index": 1, "flags": COLUMN_FLAG_PRESERVE_HTML },
      { "index": 2 },
    ],
    "fi",
  );
  <% end %>
});
</script>
