<%= form_for(@printer) do |f| %>

  <h1><span><%=h f.object.printerDescription %></span></h1>

  <table>
    <tr>
      <td class="label_td"><%= f.label :puavoRule %></td>
      <td><%= f.text_field :puavoRule %></td>
    </tr>
    <tr>
  </table>

  <h2>Printer permissions</h2>

  <h3>By schools</h3>

  <ul>
    <% @schools.each do |school| %>
      <li>
        <%= link_to school.displayName, edit_printer_permission_path(school, @printer) %>
      </li>
    <% end %>
  </ul>

  <h3>By schools as wireless</h3>

  <ul>
    <% @schools_by_wireless.each do |school| %>
      <li>
        <%= link_to school.displayName, edit_printer_permission_path(school, @printer) %>
      </li>
    <% end %>
  </ul>

  <h3>By groups</h3>

  <ul>
    <% @schools_by_groups.each do |(group, school)| %>
      <li>
        <%= group.displayName %>
        in
        <%= link_to school.displayName, edit_printer_permission_path(school, @printer) %>
      </li>
    <% end %>
  </ul>

  <h3>By devices</h3>

  <ul>
    <% @schools_by_devices.each do |(device, school)| %>
      <li>
        <%= link_to device.puavoHostname, edit_device_path(school, device) %>
        in
        <%= link_to school.displayName, edit_printer_permission_path(school, @printer) %>
      </li>
    <% end %>
  </ul>


  <div>
  <%= f.submit t('link.update') %><div class="cancel"><%=link_to t('cancel'), printers_path, :class => 'cancel_button' %> </div>
  </div>

<% end %>
