<% page_title t('titles.organisation'), t('titles.printers'), @printer.printerDescription, t('titles.edit') %>

<div class="formContainer">

<h1><%=html_escape @printer.printerDescription %> (<%= @server.puavoHostname %>)</h1>

<%= form_for(@printer, url: printer_path(@printer)) do |f| %>

  <table class="editForm">
    <tr>
      <th><%= f.label :puavoRule %></th>
      <td><%= f.text_field :puavoRule %></td>
    </tr>
  </table>

  <h2><%= t('printing_permissions_list.title') %></h2>

  <h3><%= t('printing_permissions_list.by_schools') %></h3>

  <ul>
    <% @schools.each do |school| %>
      <li>
        <%= link_to school.displayName, edit_printer_permission_path(school, @printer) %>
      </li>
    <% end %>
  </ul>

  <h3><%= t('printing_permissions_list.by_wireless') %></h3>

  <ul>
    <% @schools_by_wireless.each do |school| %>
      <li>
        <%= link_to school.displayName, edit_printer_permission_path(school, @printer) %>
      </li>
    <% end %>
  </ul>

  <h3><%= t('printing_permissions_list.by_groups') %></h3>

  <ul>
    <% @schools_by_groups.each do |(group, school)| %>
      <li>
        <%= group.displayName %>
        <em><%= t('printing_permissions_list.where') %></em>
        <%= link_to school.displayName, edit_printer_permission_path(school, @printer) %>
      </li>
    <% end %>
  </ul>

  <h3><%= t('printing_permissions_list.by_devices') %></h3>

  <ul>
    <% @schools_by_devices.each do |(device, school)| %>
      <li>
        <%= link_to device.puavoHostname, edit_device_path(school, device) %>
        <em><%= t('printing_permissions_list.where') %></em>
        <%= link_to school.displayName, edit_printer_permission_path(school, @printer) %>
      </li>
    <% end %>
  </ul>

  <table class="editForm">
    <tr class="buttonRow">
      <th></th>
      <td><%= f.submit t('link.update'), class: 'btn' %><div class="cancel"><%=link_to t('cancel'), printers_path, class: 'btn btn-danger' %> </td>
    </tr>
  </table>

<% end %>

</div>
