<% form_for(@device, :url => path, :html => { :method => method }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= device_type(f) %>
  </p>
 
  <%= render :partial => 'shared/form_dhcp_information', :locals => { :f => f } %>

  <% if @device.classes.include?('puavoNetbootDevice' || 'puavoLocalbootDevice') %>
  <%= render :partial => 'shared/form_linux_device_information', :locals => { :f => f } %>
  <% end %>

  <p>
    <%= f.submit submit_text %> <%= t('or') %> <%= link_to t('cancel'), device_path(@school, @device) %>
  </p>
<% end %>
