<% form_for(@device, :url => path, :html => { :method => method }) do |f| %>
  <%= f.error_messages %>

    <% if f.object.classes.include?('puavoPrinter') %>
      <%= f.hidden_field :puavoDeviceType %>
      <% Array(PUAVO_CONFIG["device_types"][@device.puavoDeviceType]["classes"]).each do |device_objectClass| %>
      <%= hidden_field_tag "device[classes][]", device_objectClass %>
      <% end %>
    <% end %>

    <%= render :partial => 'shared/form_main_information', :locals => { :f => f } %>

  <p>&nbsp;</p>
  <table>

  <%= render :partial => 'shared/form_linux_device_information', :locals => { :f => f } %>

  <% if f.object.classes.include?('puavoPrinter') %>
    <%= render :partial => 'form_cups', :locals => { :f => f } %>
  <% end %>

  <tr><td>
  <%= f.submit submit_text %> <%= t('or') %> <%= link_to t('cancel'), devices_path(@school) %>
  </td></tr>
  </table>
<% end %>
