<% form_for(@device, :url => path, :html => { :method => method }) do |f| %>
  <%= f.error_messages %>

    <%= render :partial => 'shared/form_main_information', :locals => { :f => f } %>

  <p>&nbsp;</p>
  <table>

  <%= render :partial => 'shared/form_linux_device_information', :locals => { :f => f } %>

  <tr><td>
  <%= f.submit submit_text %> <%= t('or') %> <%= link_to t('cancel'), device_path(@school, @device) %>
  </td></tr>
  </table>
<% end %>
