<h1>
<%= title %>
</h1>

<table>
<%= render :partial => 'shared/main_information', :locals => { :device => @device} %>
</table>
<p>&nbsp;</p>
<table>
<tr>
  <td class="label_td"><%= label @device.class.to_s.downcase, "macAddress" %></td>
  <td><%=h @device.macAddress %></td>
</tr>

<% if @device.classes.include?('puavoNetbootDevice' || 'puavoLocalbootDevice') %>
<%= render :partial => 'shared/linux_device_information', :locals => { :device => @device} %>
<%  end %>

</table>

<% content_for :right do %>
<div><%= link_to 'Edit', edit_device_path(@school, @device) %></div>
<% if @device.userCertificate %>
  <div><%= link_to 'Set install mode', revoke_certificate_device_path(@school, @device), :method => :delete %></div>
<% end %>
<% end %>
