<div id="container">
    <p id="error"><%= @login_content['error_message'] %></p>
</div>

<% unless @login_content.fetch('suppress_footer', false) %>
<footer class="public">
    <%= manufacturer_logo %>
    <p><%= copyright_with_year %></p>
    <p><%= @login_content['technical_support'] %>: <%= technical_support_email %></p>
</footer>
<% end %>
