<div class="login">
  <object type="image/svg+xml" data="/img/opinsys_logo.svg" class="logo">
    Opinsys login
  </object>
  <p>
    <%= external_service["name"] %>
  </p>

  <% if @organisation %>
    <h2><%= @organisation["name"] %></h2>
  <% end %>

  <form action="" method="post" accept-charset="utf-8">
    <fieldset class="inputs">
      <input type="hidden" name="return_to" value="<%= params["return_to"] %>">

      <% if @organisation %>
          <input type="hidden" name="organisation" value="<%= @organisation["domain"] %>">
      <% end %>


      <label class="field">
        <input
          placeholder="Username"
          type="text"
          name="username"
          value="<%= username_prefill %>"
          autofocus required>
      </label>

      <input placeholder="Password" type="password" value="<%= params["password"] %>" name="password" required>
    </fieldset>
    <fieldset class="actions">
      <input type="submit" value="Login" class="submit">
    </fieldset>
  </form>

  <% if @error_message %>
  <small class="error">
      <%= @error_message %>
  </small>
  <% end %>
</div>
<div id="username-help" class="username-help">
    <p>
    <% if @organisation %>
        <%= t.sso.username_help %>
    <% else %>
        <%= t.sso.organisation_help %>
    <% end %>
    </p>
</div>
