<div class="login">
  <img src="/img/opinsys_logo.png" alt="Opinsys Oy">

  <p class="service-name">
    <%= t.sso.login_to %> <%= @external_service["name"] %>
  </p>

  <form action="" method="post" accept-charset="utf-8">
    <fieldset class="inputs">
      <input type="hidden" name="return_to" value="<%= params["return_to"] %>">

      <% if @organisation %>
          <input type="hidden" name="organisation" value="<%= @organisation["domain"] %>">
      <% end %>

      <label class="field <%= @organisation ? "organisation-prefilled" : "" %>">
        <input
          placeholder="<%= username_placeholder %>"
          type="text"
          name="username"
          value="<%= params["username"] %>"
          autofocus required>
        <% if @organisation %>
          <span class="organisation-prefill"
            title="<%= @organisation["name"] %>"
          >@<%= @organisation["domain"] %></span>
        <br>
        <% end %>
    </label>

    <input placeholder="<%= t.sso.password %>" type="password" value="<%= params["password"] %>" name="password" required>
    <input type="submit" value="<%= t.sso.login %>" class="submit">
    </fieldset>
  </form>

  <% if @error_message %>
  <small class="error">
      <%= @error_message %>
  </small>
  <% end %>
</div>
<div id="username-help" class="username-help">
    <h3><%= t.sso.help %></h3>
    <p>
    <% if @organisation %>
        <%= t.sso.username_help %>
    <% else %>
        <%= t.sso.organisation_help %>
    <% end %>
    </p>

    <h3><%= t.sso.developers %></h3>
    <p><%= t.sso.developers_info %> </p>

</div>
