<h1><%= t.sso.title %></h1>

<p>
    <%= external_service["name"] %>
</p>

<% if @organisation %>
    <h2><%= @organisation["name"] %></h2>
<% end %>

<form action="" method="post" accept-charset="utf-8" >

    <input type="hidden" name="return_to" value="<%= params["return_to"] %>">

    <% if @organisation %>
        <input type="hidden" name="organisation" value="<%= @organisation["domain"] %>">
    <% end %>

    <label class="field">
        <input placeholder="Username" type="text" name="username" value="<%= params["username"] %>" autofocus>
    <% if @organisation %>
        @<%= @organisation["domain"] %>
    <% end %>
    </label>

    <input class="field" placeholder="Password" type="password" value="<%= params["password"] %>" name="password">

    <input type="submit" value="Login">
</form>

<% if @error_message %>
<small class="error">
    <%= t.sso.error %>: <%= @error_message %>
</small>
<% end %>

