<!doctype html>
<html>
<head>
    <title>Opinsys Login</title>
</head>
<body>
    <h1>Opinsys Login</h1>

    <p>
        <%= params["return_to"] %>
    </p>

    <form action="" method="post" accept-charset="utf-8">
        <input type="hidden" value="<%= params["return_to"] %>">

        <% if PuavoRest::LdapHash.organisation.nil? %>
            <select name="organisation">
                <% PuavoRest::Organisation.all.each do |org| %>
                    <option value="<%= org["domain"] %>">
                        <%= org["name"] %>
                    </option>
                <% end %>
            </select>
        <% else %>
            <h2><%= PuavoRest::LdapHash.organisation["name"] %></h2>
        <% end %>

        <input placeholder="Username" type="text" name="username" autofocus>
        <input placeholder="Password" type="password" name="password">
        <input type="submit" value="Login">
    </form>

    <% if @error_message %>
    <small class="error">
        error: <%= @error_message %>
    </small>
    <% end %>

</body>
</html>
