<div class="login">
  <a href="http://opinsys.fi" target="_blank">
    <img src="<%= @login_content['opinsys_logo_url'] %>" alt="Opinsys Oy">
  </a>

  <p class="service-name">
    <%= @login_content["text_login_to"] %> <%= @login_content["external_service_name"] %>
  </p>

  <form action="" method="post" accept-charset="utf-8">
    <fieldset class="inputs">
      <input type="hidden" name="return_to" value="<%= @login_content['return_to'] %>">

      <% if @login_content['organisation'] %>
          <input type="hidden" name="organisation" value="<%= @login_content['organisation']['domain'] %>">
      <% end %>

      <label class="field <%= @login_content['organisation'] ? "organisation-prefilled" : "" %>">
        <input
          placeholder="<%= @login_content['username_placeholder'] %>"
          id="username"
          type="text"
          name="username"
          value="<%= @login_content['username'] %>"
          <%= @login_content['username'].to_s.empty? && "autofocus" %>
          required>
        <% if @login_content['organisation'] %>
          <span class="organisation-prefill"
            title="<%= @login_content['organisation']['name'] %>"
          >@<%= @login_content['organisation']['domain'] %></span>
        <br>
        <% end %>
    </label>

    <input
      name="password"
      placeholder="<%= @login_content['text_password'] %>"

      <%# Use plaintext password input for handheld devices if the user login
        does not succeed at the first time %>
      type="<%= @login_content['invalid_credentials?'] && @login_content['handheld?'] ? "text" : "password" %>"

      <%= @login_content['invalid_credentials?'] && "autofocus" %>

      required>
    <input type="submit" value="<%= @login_content['text_login'] %>" class="submit">
    </fieldset>
  </form>

  <% if @login_content['error_message'] %>
  <small class="error">
      <%= @login_content['error_message'] %>
  </small>
  <% end %>
</div>
<div id="username-help" class="username-help">
    <h3><%= @login_content['text_help'] %></h3>
    <p>
    <% if @login_content['organisation'] %>
        <%= @login_content['text_username_help'] %>
    <% else %>
        <%= @login_content['text_organisation_help'] %>
    <% end %>
    </p>

    <h3><%= @login_content['text_developers'] %></h3>
    <p><%= @login_content['text_developers_info'] %> </p>

</div>
<script type="text/javascript" charset="utf-8">
  var TOP_DOMAIN = "<%= @login_content['topdomain'] %>";
</script>
<script charset="utf-8" type="text/javascript" src="<%= @login_content['login_helper_js_url'] %>"></script>
