<!DOCTYPE html>
<html lang="<%= @data[:language][:html_lang] %>">
<head>
<meta charset="UTF-8">
<title><%= @data[:language][:page_title] %></title>
<link rel="stylesheet" href="styles/my_school_users.css">
<script>

const OPEN_ARROW = "▼",
      CLOSED_ARROW = "▶";

function toggleGroup(e)
{
  const id = e.target.dataset.target;

  var tbl = document.getElementById("table-" + id),
      arr = document.getElementById("arrow-" + id);

  if (tbl.style.display == "none" || tbl.style.display == "") {
    tbl.style.display = "block";
    arr.innerHTML = OPEN_ARROW;
  } else {
    tbl.style.display = "none";
    arr.innerHTML = CLOSED_ARROW;
  }
}

function setupGroupHeaders()
{
  var links = document.getElementsByClassName("groupHeader");

  for (var i = 0; i < links.length; i++)
    if (links[i].dataset.target)
      links[i].onclick = toggleGroup;
}

function doSearch(e)
{
  var resultsDiv = document.getElementById("searchResults"),
      numMatches = document.getElementById("numMatches"),
      groupsDiv = document.getElementById("groupsList");

  var t1, t2;

  const text = document.getElementById("searchBox").value.toLowerCase();

  if (text.length == 0) {
    // no text, reset
    if (resultsDiv.firstChild)
      resultsDiv.removeChild(resultsDiv.firstChild);

    numMatches.style.display = "none";
    groupsDiv.style.display = "block";

    return true;
  }

  t1 = window.performance.now();

  var resultsTable = document.getElementById("searchResultsTableTemplate").cloneNode(true);

  resultsTable.removeAttribute("id");

  const groups = document.getElementsByClassName("groupHeader");
  var numFound = 0;

  for (var i = 0; i < groups.length; i++) {
    const id = groups[i].dataset.target;
    const count = parseInt(groups[i].dataset.count, 10);
    const name = groups[i].dataset.name;

    for (var j = 0; j < count; j++) {
      const row = document.getElementById("row-" + id + "-" + j);

      if (row.children[0].textContent.toLowerCase().indexOf(text) != -1 ||
          row.children[1].textContent.toLowerCase().indexOf(text) != -1 ||
          row.children[2].textContent.toLowerCase().indexOf(text) != -1) {

        var rowCopy = row.cloneNode(true);

        // remove the ID so we don't search the previous search results
        rowCopy.removeAttribute("id");

        // insert the group name
        var td = document.createElement("td");
        td.innerHTML = name;
        rowCopy.insertBefore(td, rowCopy.children[0]);

        resultsTable.appendChild(rowCopy);
        numFound++;
      }
    }
  }

  if (resultsDiv.firstChild)
    resultsDiv.removeChild(resultsDiv.firstChild);

  if (numFound) {
    numMatches.innerHTML = numFound + ((numFound == 1) ? " <%= @data[:language][:one_match] %>" : " <%= @data[:language][:multiple_matches] %>");
    resultsTable.style.display = "table";
    resultsDiv.appendChild(resultsTable);
  } else {
    numMatches.innerHTML = "<%= @data[:language][:no_matches] %>";
    resultsTable = null;
  }

  groupsDiv.style.display = "none";
  numMatches.style.display = "block";

  t2 = window.performance.now();
  console.log("INSERTION: " + (t2 - t1));

  return true;
}

function cancelSearch(e)
{
  if (e.keyCode == 27) {
    document.getElementById("searchBox").value = "";
    doSearch(null);
  }
}

function setupPage()
{
  setupGroupHeaders();
  document.getElementById("searchBox").oninput = doSearch;
  document.getElementById("searchBox").onkeydown = cancelSearch;
}

</script>
</head>
<body onload="setupPage()">

<div id="wrapper">

<header>
  <h1><%= @data[:school] %></h1>
  <h2><%= @data[:language][:page_title] %></h2>
</header>

<div id="searchArea">
  <input type="text" id="searchBox" maxlength="20" placeholder="<%= @data[:language][:search_placeholder] %>">

  <p id="numMatches"></p>

  <div id="searchResults"><p>ff</p></div>

  <table class="users" id="searchResultsTableTemplate" style="display: none;">
    <tr>
      <th><%= @data[:language][:group] %></th>
      <th><%= @data[:language][:last_name] %></th>
      <th><%= @data[:language][:first_names] %></th>
      <th><%= @data[:language][:username] %></th>
      <th><%= @data[:language][:actions] %></th>
    </tr>
  </table>
</div>

<div id="groupsList">

<% @data[:groups].each do |group| %>
<% groupName = (group[:name] == :ungrouped) ? @data[:language][:ungrouped] : group[:name] %>
<div class="groupHeader" data-target="<%= group[:id] %>" data-count="<%= group[:users].count %>" data-name="<%= groupName %>">
  <h1><%= groupName %></h1>
  <span class="count">(<%= group[:users].size %> <%= @data[:language][:users] %>)</span>
  <span id="arrow-<%= group[:id] %>">▶</span>
</div>
<div class="tableWrapper" id="table-<%= group[:id] %>">
  <table class="users">
    <tr>
      <th><%= @data[:language][:last_name] %></th>
      <th><%= @data[:language][:first_names] %></th>
      <th><%= @data[:language][:username] %></th>
      <th><%= @data[:language][:actions] %></th>
    </tr>
    <% group[:users].each_with_index do |u, n| %>
    <tr id="row-<%= group[:id] %>-<%= n %>">
      <td><%= u[:last] %></td>
      <td><%= u[:first] %></td>
      <td><%= u[:username] %></td>
      <td>
        <a href="<%= @data[:domain] %>/users/password?changing=<%= @data[:changing] %>&amp;changed=<%= u[:username] %>"
           class="button" title="<%= @data[:language][:password_tooltip] %>">
          <img src="img/key.svg" width="16" height="16"> <%= @data[:language][:change_password] %>
        </a>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<% end %>
</div>

<footer>
  <table>
    <tr>
      <td>
        <img src="img/opinsys_logo.svg" width="150" alt="Opinsys logo">
      </td>
      <td>
        © Opinsys Oy 2018<br>
        <%= @data[:language][:footer] %> <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %><br>
        git commit: <%= File.open("GIT_COMMIT", "r"){ |f| f.read }.strip %>
      </td>
    </tr>
  </table>
</footer>

</div>

</body>
</html>
