<!DOCTYPE html>
<html lang="<%= @data[:language][:html_lang] %>">
<head>
<meta charset="UTF-8">
<title><%= @data[:language][:page_title] %></title>
<link rel="stylesheet" href="styles/my_school_users.css">
<script>

function setupGroupHeaders()
{
  var links = document.getElementsByClassName("groupHeader");

  for (var i = 0; i < links.length; i++)
    if (links[i].dataset.target)
      links[i].onclick = toggleGroup;
}

function toggleGroup(e)
{
  var tbl = document.getElementById("table-" + e.target.dataset.target);
  var arr = document.getElementById("arrow-" + e.target.dataset.target);

  if (tbl.style.display == "none" || tbl.style.display == "") {
    tbl.style.display = "block";
    arr.innerHTML = "▼";
  } else {
    tbl.style.display = "none";
    arr.innerHTML = "▶";
  }
}

</script>
</head>
<body onload="setupGroupHeaders()">

<header>
  <h1><%= @data[:school] %></h1>
  <h2><%= @data[:language][:page_title] %></h2>
</header>

<% @data[:groups].each do |group| %>
<div class="groupHeader" data-target="<%= group[:id] %>">
  <h1><%= (group[:name] == :ungrouped) ? @data[:language][:ungrouped] : group[:name] %></h1>
  <span class="count">(<%= group[:users].size %> <%= @data[:language][:users] %>)</span>
  <span id="arrow-<%= group[:id] %>">▶</span>
</div>
<div class="tableWrapper" id="table-<%= group[:id] %>" style="display: none;">
  <table class="users">
    <tr>
      <th><%= @data[:language][:last_name] %></th>
      <th><%= @data[:language][:first_names] %></th>
      <th><%= @data[:language][:username] %></th>
      <th><%= @data[:language][:actions] %></th>
    </tr>
    <% group[:users].each do |u| %>
    <tr>
      <td><%= u[:last] %></td>
      <td><%= u[:first] %></td>
      <td><%= u[:username] %></td>
      <td>
        <a href="<%= @data[:domain] %>/users/password?changing=<%= @data[:changing] %>&amp;changed=<%= u[:username] %>"
           class="button" title="<%= @data[:language][:password_tooltip] %>">
          <img src="img/key.svg" width="16" height="16"> <%= @data[:language][:change_password] %>
        </a>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>

<footer>
  <table>
    <tr>
      <td>
        <img src="img/opinsys_logo.svg" width="150" alt="Opinsys logo">
      </td>
      <td>
        © Opinsys Oy 2018<br>
        <%= @data[:language][:footer] %> <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %>
      </td>
    </tr>
  </table>
</footer>

</body>
</html>
