<% page_title t('titles.extended_search') %>

<h1><%= t('extended_search.title') %></h1>

<!-- IN-PAGE TABS -->
<div class="tabBar" id="searchTabs">
  <ul>
    <li><a href="#searchTab"><%= t('extended_search.tabs.search') %></a></li>
    <li><a href="#helpTab"><%= t('extended_search.tabs.help') %></a></li>
  </ul>
</div>

<div class="formContainer">
  <div class="tabContentsWrapper">

  <!-- THE SEARCH FORM -->
  <div class="tabContentsVisible" id="searchTab">

  <form id="extendedSearchForm" accept-charset="UTF-8">
    <p><%= t('extended_search.search_box_instructions') %></p>

    <textarea name="searchTerms" id="searchTerms" rows="10"></textarea>

    <table>
      <tr>
        <td>
          <label for="searchTermsType"><%= t('extended_search.terms_title') %></label>
        </td>
        <td>
          <select id="searchTermsType" name="searchTermsType">
            <optgroup label="<%= t('extended_search.term_names.users.title') %>">
              <option value="user-puavoid"><%= t('extended_search.term_names.users.puavoid') %></option>
              <option value="user-uid" selected><%= t('extended_search.term_names.users.uid') %></option>
              <option value="user-name-lastfirst"><%= t('extended_search.term_names.users.name_lastfirst') %></option>
              <option value="user-name-firstlast"><%= t('extended_search.term_names.users.name_firstlast') %></option>
              <option value="user-externalid"><%= t('extended_search.term_names.users.externalid') %></option>
              <option value="user-email"><%= t('extended_search.term_names.users.email') %></option>
              <option value="user-phone"><%= t('extended_search.term_names.users.phone') %></option>
            </optgroup>

            <optgroup label="<%= t('extended_search.term_names.groups.title') %>">
              <option value="group-puavoid"><%= t('extended_search.term_names.groups.puavoid') %></option>
              <option value="group-name"><%= t('extended_search.term_names.groups.name') %></option>
              <option value="group-abbreviation"><%= t('extended_search.term_names.groups.abbreviation') %></option>
              <option value="group-externalid"><%= t('extended_search.term_names.groups.externalid') %></option>
            </optgroup>

            <optgroup label="<%= t('extended_search.term_names.devices.title') %>">
              <option value="device-puavoid"><%= t('extended_search.term_names.devices.puavoid') %></option>
              <option value="device-hostname"><%= t('extended_search.term_names.devices.hostname') %></option>
              <option value="device-image"><%= t('extended_search.term_names.devices.image') %></option>
              <option value="device-mac"><%= t('extended_search.term_names.devices.mac') %></option>
              <option value="device-tags"><%= t('extended_search.term_names.devices.tags') %></option>
              <option value="device-xrandr"><%= t('extended_search.term_names.devices.xrandr') %></option>
              <option value="device-kernel-params"><%= t('extended_search.term_names.devices.kernel_params') %></option>
              <option value="device-kernel-version"><%= t('extended_search.term_names.devices.kernel_version') %></option>
              <option value="device-manufacturer"><%= t('extended_search.term_names.devices.manufacturer') %></option>
              <option value="device-model"><%= t('extended_search.term_names.devices.model') %></option>
              <option value="device-serial-number"><%= t('extended_search.term_names.devices.serial_number') %></option>
            </optgroup>
          </select>
        </td>
      </tr>

      <tr>
        <td><label for="schoolLimit"><%= t('extended_search.school_limit_title') %></label></td>
        <td>
          <select id="schoolLimit" name="schoolLimit">
            <% if current_user.organisation_owner? %>
            <option value="" selected><%= t('extended_search.school_limit_all') %></option>
            <% end %>
            <% school_list.each do |school| %>
            <% next if school.puavoTag.include?("hidden")%>
            <option value="<%= school.puavoId %>"><%= school.displayName %></option>
            <% end %>
          </select>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <input type="checkbox" name="isRegexp" id="isRegexp">
          <label for="isRegexp"><%= t('extended_search.regexp_title') %></label>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <input type="checkbox" name="removeMisses" id="removeMisses">
          <label for="removeMisses"><%= t('extended_search.remove_misses_title') %></label>
        </td>
      </tr>
    </table>

    <br>
    <input type="button" id="searchButton" onclick="doSearch()" value="<%= t('extended_search.button_search') %>"/>
    <input type="button" id="clearResultsButtons" onclick="clearResults()" value="<%= t('extended_search.button_clear_results') %>"/>
    <input type="button" id="clearTermsButtons" onclick="clearTerms()" value="<%= t('extended_search.button_clear_terms') %>"/>
  </form>
  </div>

  <!-- SEARCH HELP -->
  <div class="tabContentsInvisible" id="helpTab">
    <% if I18n.locale.to_s == 'fi' %>
    <%= render :partial => "help_fi.html" %>
    <% else %>
    <%= render :partial => "help_en.html" %>
    <% end %>
  </div>  <!-- #helpTab -->

  </div>  <!-- .tabContentsWrapper -->

</div>  <!-- .formContainer -->

<!-- RESULTS -->
<h3 id="extendedSearchResultsTitle"><%= t('extended_search.results_title') %></h3>
<div id="extendedSearchResultsContainer"></div>

<% content_for :javascript do %>

<%= javascript_include_tag 'inpageTabs' %>

<script>
function doSearch()
{
    $.post({
        url: "/extended_search",
        async: true,

        headers: {
            "Content-type": "application/json",
            "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content,
        },

        beforeSend: function(jq, settings) {
            $("#searchButton").prop("disabled", true);
        },

        fail: function(data) {
            console.log('request failed')
            console.log(data);
        },

        complete: function(data) {
            $("#extendedSearchResultsContainer").html(data.responseText);
            $("#searchButton").prop("disabled", false);
        },

        data: JSON.stringify({
            "searchTerms": $("#searchTerms").val(),
            "searchTermsType": $("#searchTermsType").val(),
            "schoolLimit": $("#schoolLimit").val(),
            "isRegexp": $("#isRegexp").prop("checked"),
            "removeMisses": $("#removeMisses").prop("checked"),
        }),
    });
}

function clearResults()
{
    $("#extendedSearchResultsContainer").empty();
}

function clearTerms()
{
    $("#searchTerms").val("");
}

$(document).ready(function() {
    new Tabs("searchTabs", 0);
});

</script>
<% end %>
