<p>
  <%= f.label :serialNumber %><br />
  <%= f.text_field :serialNumber %>
</p>
<p>
  <%= f.label :puavoDeviceManufacturer %><br />
  <%= f.text_field :puavoDeviceManufacturer %>
</p>
<p>
  <%= f.label :puavoDeviceModel %><br />
  <%= f.text_field :puavoDeviceModel %>
</p>
<p>
  <%= f.label :puavoDevicePrimaryUser %><br />
  <%= f.text_field :puavoDevicePrimaryUser %>
</p>
<p>
  <%= f.label :jpegPhoto %><br />
  < %= f.text_field :jpegPhoto % >
</p>
<p>
  <%= f.label :puavoLatitude %><br />
  <%= f.text_field :puavoLatitude %>
</p>
<p>
  <%= f.label :puavoLongitude %><br />
  <%= f.text_field :puavoLongitude %>
</p>
<p>
  <%= f.label :puavoLocationName %><br />
  <%= f.text_field :puavoLocationName %>
</p>
<p>
  <%= f.label :puavoRole %><br />
  < %= f.text_field :puavoRole % >
</p>
<p>
  <%= f.label :puavoDeviceStatus %><br />
  <%= f.text_field :puavoDeviceStatus %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</p>

<p>
  <%= f.label :puavoDeviceKernelVersion %><br />
  <%= f.text_field :puavoDeviceKernelVersion %>
</p>
<p>
  <%= f.label :puavoDeviceKernelArguments %><br />
  <%= f.text_field :puavoDeviceKernelArguments %>
</p>
<p>
  <%= f.label :puavoDeviceXserver %><br />
  <%= f.text_field :puavoDeviceXserver %>
</p>

<p>
  <%= f.label :puavoDeviceXrandr %><br />
  <%= f.text_field :puavoDeviceXrandr %>
</p>

<p>
  <%= f.label :puavoDeviceXrandrDisable %><br />
  <%= f.check_box :puavoDeviceXrandrDisable %>
</p>
