<h2><%= title(f.object) %></h2>
<tr>
  <td class="label_td"><%= f.label :puavoDeviceManufacturer %></td>
  <td><%= f.text_field :puavoDeviceManufacturer %></td>
</tr>
<tr>
  <td class="label_td"><%= f.label :puavoDeviceModel %></td>
  <td><%= f.text_field :puavoDeviceModel %></td>
</tr>
<tr>
  <td class="label_td"><%= f.label :serialNumber %></td>
  <td><%= f.text_field :serialNumber %></td>
</tr>

<% if f.object.classes.include?('puavoPrinter') %>
<tr>
  <td class="label_td"><%= f.label :macAddress %></td>
  <td><%= f.text_field :macAddress %></td>
</tr>
<% end %>

<tr>
  <td class="label_td"><%= f.label :puavoDevicePrimaryUser %></td>
  <td><%= f.text_field :puavoDevicePrimaryUser %></td>
</tr>

<% unless f.object.classes.include?('puavoServer') || f.object.classes.include?('puavoPrinter') %>
<tr>
  <td class="label_td"><%= f.label :puavoDeviceBootMode %></td>
  <td><%= f.select( :puavoDeviceBootMode,
                    [ [t('shared.boot_mode_netboot'),"netboot"],
                      [t('shared.boot_mode_dualboot'), "dualboot"] ] ) %></td>
</tr>
<% end %>

<% unless f.object.classes.include?('puavoPrinter') %>
<tr>
  <td class="label_td"><%= f.label :puavoDefaultPrinter %></td>
  <td><%= f.text_field :puavoDefaultPrinter %></td>
</tr>
<% end %>

<tr>
  <td class="label_td"><%= f.label :description %></td>
  <td><%= f.text_field :description %></td>
</tr>
</table>

<%= render :partial => 'shared/form_purchase_information', :locals => { :f => f } %>

<h2><%= t('shared.location') %></h2>

<table>
<tr>
  <td class="label_td"><%= f.label :puavoLocationName %></td>
  <td><%= f.text_field :puavoLocationName %></td>
</tr>
<tr>
  <td class="label_td"><%= f.label :puavoLatitude %></td>
  <td><%= f.text_field :puavoLatitude %></td>
</tr>
<tr>
  <td class="label_td"><%= f.label :puavoLongitude %></td>
  <td><%= f.text_field :puavoLongitude %></td>
</tr>

<% if (f.object.classes | ['puavoNetbootDevice', 'puavoLocalbootDevice', 'puavoServer']).count < (f.object.classes.count + 3) %>
</table>

<h2><%= t('shared.display_settings') %></h2>
<table>
<tr>
  <td class="label_td"><%= f.label :puavoDeviceXserver %></td>
  <td><%= f.text_field :puavoDeviceXserver, :size => 45 %></td>
</tr>

<tr>
  <td class="label_for_input_text_list"><%= f.label :puavoDeviceXrandr %></td>
  <td>
    <span id="device_puavoDeviceXrandr">
      <% if f.object.puavoDeviceXrandr.nil? %>
      <input name='device[puavoDeviceXrandr][]' size='45' type='text' /><br />
      <% else %>
      <% Array(f.object.puavoDeviceXrandr).each_index do |index| %>
      <input name='device[puavoDeviceXrandr][]' size='45' type='text' value='<%= Array(f.object.puavoDeviceXrandr)[index] %>' /><br />
      <% end %>
      <% end %>
    </span>

    <%= link_to_function( t('shared.add_puavoDeviceXrandr'),
      nil ) do |page|
  page.insert_html( :bottom,
                    "device_puavoDeviceXrandr",
    "<input name='device[puavoDeviceXrandr][]' size='45' type='text' /><br />" ) end %>
  </td>
</tr>

<tr>
  <td class="label_td"><%= f.label :puavoDeviceXrandrDisable %></td>
  <td><%= f.check_box :puavoDeviceXrandrDisable %></td>
</tr>
</table>

<h2><%= t('shared.kernel_settings') %></h2>
<table>
<tr>
  <td class="label_td"><%= f.label :puavoDeviceKernelVersion %></td>
  <td><%= f.text_field :puavoDeviceKernelVersion %></td>
</tr>
<tr>
  <td class="label_td"><%= f.label :puavoDeviceKernelArguments %></td>
  <td><%= f.text_field :puavoDeviceKernelArguments %></td>
</tr>
<tr>
  <td class="label_td"><%= f.label :puavoRole %></td>
</tr>

<% end %>
