<p>
  <%= f.label :puavoHostname %><br />
  <% if f.object.userCertificate %>
  <%= f.object.puavoHostname %>
  <% else %>
  <%= f.text_field :puavoHostname %>
  <%= f.object.userCertificate.to_s %>
  <% end %>
</p>
<p>
  <%= f.label :macAddress %><br />
  <%= f.text_field :macAddress %>
</p>
