<h2><%= title(device) %></h2>
<table>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDeviceManufacturer" %></td>
  <td class="value_td"><%=h device.puavoDeviceManufacturer %></td>
</tr>

<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDeviceModel" %></td>
  <td class="value_td"><%=h device.puavoDeviceModel %></td>
</tr>

<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "serialNumber" %></td>
  <td class="value_td"><%=h device.serialNumber %></td>
</tr>

<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "macAddress" %></td>
  <td class="value_td"><%=h device.macAddress %></td>
</tr>

<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDevicePrimaryUser" %></td>
  <td class="value_td"><%=h device.puavoDevicePrimaryUser %></td>
</tr>

<% unless device.classes.include?('puavoServer') || device.classes.include?('puavoPrinter') %>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDeviceBootMode" %></td>
  <td class="value_td"><%=h t("shared.boot_mode_#{device.puavoDeviceBootMode}") %></td>
</tr>
<% end %>

<% unless device.classes.include?('puavoPrinter') %>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDefaultPrinter" %></td>
  <td class="value_td"><%=h device.puavoDefaultPrinter %></td>
</tr>
<% end %>

<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "description" %></td>
  <td class="value_td"><%=h device.description %></td>
</tr>
</table>

<%= render :partial => 'shared/purchase_information', :locals => { :device => device} %>

<h2><%= t('shared.location') %></h2>

<table>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoLocationName" %></td>
  <td class="value_td"><%=h device.puavoLocationName %></td>
</tr>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoLatitude" %></td>
  <td class="value_td"><%=h device.puavoLatitude %></td>
</tr>

<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoLongitude" %></td>
  <td class="value_td"><%=h device.puavoLongitude %></td>
</tr>
</table>

<% if (device.classes | ['puavoNetbootDevice', 'puavoLocalbootDevice', 'puavoServer']).count < (device.classes.count + 3) %>

<h2><%= t('shared.display_settings') %></h2>

<table>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDeviceXserver" %></td>
  <td class="value_td"><%=h device.puavoDeviceXserver %></td>
</tr>

<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDeviceXrandr" %></td>
  <td class="value_td"><%= Array(device.puavoDeviceXrandr).join("<br />") %></td>
</tr>

<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDeviceXrandrDisable" %></td>
  <td class="value_td"><%=h t(".xrandr_status_#{device.puavoDeviceXrandrDisable}") %></td>
</tr>
</table>

<h2><%= t('shared.kernel_settings') %></h2>

<table>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDeviceKernelVersion" %></td>
  <td class="value_td"><%=h device.puavoDeviceKernelVersion %></td>
</tr>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoDeviceKernelArguments" %></td>
  <td class="value_td"><%=h device.puavoDeviceKernelArguments %></td>
</tr>

<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "userCertificate" %></td>
  <td class="value_td">
  <% if device.userCertificate %>
    <%= t(".certificate_status_true") %>
  <% else %>
    <%= t(".certificate_status_false") %>
  <% end %>
  </td>
</tr>
</table>
<% end %>
