<div class="dashboard_box">
<h3><%= t('shared.purchase_information') %></h3>
<table class="list widelist">
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoPurchaseDate" %></td>
  <td class="value_td"><%=h I18n.l(device.puavoPurchaseDate) rescue nil %></td>
</tr>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoWarrantyEndDate" %></td>
  <td class="value_td"><%=h I18n.l(device.puavoWarrantyEndDate) rescue nil %></td>
</tr>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoPurchaseLocation" %></td>
  <td class="value_td"><%=h device.puavoPurchaseLocation %></td>
</tr>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoPurchaseURL" %></td>
  <td class="value_td"><%=h device.puavoPurchaseURL %></td>
</tr>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoSupportContract" %></td>
  <td class="value_td"><%=h device.puavoSupportContract %></td>
</tr>
</table>
</div>
