<%= form_for(@oauth_client, :url => path, :html => { :method => method }) do |f| %>
<table>
  <tr>
    <td><%= f.label :displayName %></td>
    <td><%= f.text_field :displayName %></td>
  </tr>
  <tr>
    <td><%= f.label :puavoOAuthScope %></td>
    <td><%= f.text_field :puavoOAuthScope %></td>
  </tr>
</table>
<div>
  <tr>
	<td>
	  <%= f.submit submit_text %>
	  <div class="cancel">
		<%= link_to t('link.cancel'), path, :class => 'cancel_button' %>
	  </div>
	</td>
  </tr>
</div>
<% end %>
