<h1><span><%= t('.title')%></span></h1>
<table class="list">
  <tr>
    <th><%= t('activeldap.attributes.oauth_client.displayName') %></th>
    <th><%= t('activeldap.attributes.oauth_client.puavoOAuthClientId') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>

<% @oauth_clients.each do |oauth_client| %>
  <tr>
    <td><%= link_to oauth_client.displayName, oauth_client %></td>
    <td><%=h oauth_client.puavoOAuthClientId %></td>
    <td><%= link_to 'Edit', edit_oauth_client_path(oauth_client) %></td>
    <td><%= link_to t('link.destroy'), oauth_client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% content_for :right do %>
<div>
  <%= link_to t('.new'), new_oauth_client_path %>
</div>
<% end %>
