<p>
  <b>Displayname:</b>
  <%=h @oauth_client.displayName %>
</p>

<p>
  <b>Puavooauthclientid:</b>
  <%=h @oauth_client.puavoOAuthClientId %>
</p>

<% if flash[:oauth_client_new_password] %>
<p>
  <b><%= t('activeldap.attributes.oauth_client.userPassword') %></b>
  <%=h flash[:oauth_client_new_password] %>
</p>
<% end %>

<p>
  <b>Puavooauthaccess:</b>
  <%=h @oauth_client.puavoOAuthScope %>
</p>

<p>
  <b><%= t('activeldap.attributes.oauth_client.puavoOAuthClientType') %></b>
  <%=h @oauth_client.puavoOAuthClientType %>
</p>

<p>
  <!--
  <b>Puavodisabled:</b>
  < %=h @oauth_client.puavoDisabled %>
  -->
</p>


<%= link_to 'Edit', edit_oauth_client_path(@oauth_client) %> |
<%= link_to 'Back', oauth_clients_path %>
