<p class="requiredTitle"><%= t('layouts.forms.required_field')%></p>

<%= form_for(@ldap_service, :url => path, :html => { :method => method })  do |f| %>
<table class="editForm">
  <% if action_name == "new" || action_name == "create" %>
  <tr>
    <th class="requiredField"><%= f.label :uid %></th>
    <td><%= f.text_field :uid, :required => 'required' %></td>
  </tr>
  <% end %>

  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_field :description %></td>
  </tr>

  <tr>
    <th class="requiredField"><%= f.label :userPassword %></th>
    <td><%= f.text_field :userPassword, :value => '', :required => 'required' %></td>
  </tr>

  <tr>
    <th><%= f.label :groups %></th>
    <td>
      <% @system_groups.each do |g| %>
      <div>
        <input <%= ldap_service_group_checked?(f.object, g) %> id="group_<%= g.cn %>" name="ldap_service[groups][]" type="checkbox" value="<%= g.id %>" />
        <label class="checkbox" for="group_<%= g.cn %>"><%= h g.description %></label>
      </div>
      <% end %>
    </td>
  </tr>

  <tr class="buttonRow">
    <th></th>
    <td>
      <%= f.submit submit_text, class: 'btn' %>
      <div class="cancel"><%=link_to t('link.cancel'), path, class: 'btn btn-danger' %></div>
    </td>
  </tr>
</table>
<% end %>
