<%= form_for(@ldap_service, :url => path, :html => { :method => method })  do |f| %>
<table>
  <% if action_name == "new" || action_name == "create" %>
  <tr>
    <td><%= f.label :uid %></td>
    <td><%= f.text_field :uid %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_field :description %></td>
  </tr>
  <tr>
    <td><%= f.label :userPassword %></td>
    <td><%= f.text_field :userPassword, :value => '' %></td>
  </tr>
  <tr>
    <td class="label_for_checkbox_list"><%= f.label :groups %></td>
    <td>
    <% @system_groups.each do |g| %>
    <div>
      <input<%= ldap_service_group_checked?(f.object, g) %> id="group_<%= g.cn %>" name="ldap_service[groups][]" type="checkbox" value="<%= g.id %>" />
      <label class="checkbox" for="group_<%= g.cn %>"><%=h g.description %></label>
    </div>
    <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= f.submit submit_text, :class=>'btn' %>
      <div class="cancel"><%=link_to t('link.cancel'),  path, :class => 'btn btn-danger' %>
    </td>
  </tr>
</table>
  <% end %>
