<h1><span><%= t('.title')%></span></h1>
<table class="list">
  <tr class="thead">
    <th><%= t('activeldap.attributes.ldap_service.uid') %></th>
    <th><%= t('activeldap.attributes.ldap_service.description') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>

<% @ldap_services.each do |ldap_service| %>
  <tr>
    <td data-title="<%= t('activeldap.attributes.ldap_service.uid') %>"><%= link_to ldap_service.uid, ldap_service_path(ldap_service) %></td>
    <td data-title="<%= t('activeldap.attributes.ldap_service.description') %>"><%=h ldap_service.description %></td>
    <td data-title="<%= t('.actions') %>" class="table-actions"><%= link_to t('link.edit'), edit_ldap_service_path(ldap_service), :class=> "btn" %></td>
    <td class="table-actions"><%= link_to( t('link.destroy'),
                     ldap_service_path(ldap_service),
                     :confirm => t('destroy_confirm',
                                   :object_name => ldap_service.uid),
                     :method => :delete, :class=> "btn btn-danger" ) %></td>
  </tr>
<% end %>
</table>

<% content_for :right do %>
<div><%= link_to t('link.new_ldap_service'), new_ldap_service_path %></div>
<% end %>
