    <ul class="integrations <%= extraClass %>">
      <% integrations.each do |i| %>
      <li class="<%= i[:type].to_s %>">
      <% if i[:type] == :in %>
      <%= i[:pretty_name] %><span></span>Puavo</li>
      <% elsif i[:type] == :out %>
      Puavo<span></span><%= i[:pretty_name] %></li>
      <% elsif i[:type] == :inout %>
      Puavo<span></span><%= i[:pretty_name] %></li>
      <% else %>
      <%= i[:pretty_name] %>
      <% end %>
      <% end %>
    </ul>
