<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width">
<title><%= content_for?(:page_title) ? yield(:page_title) : "Puavo Users" %></title>
<%= csrf_meta_tags %>
<%= favicon_link_tag "favicon.png" %>
<%= stylesheet_link_tag "font/fontello-puavo/css/puavo-icons", :media => "screen" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<style id="menuHandling" media="screen" rel="stylesheet" type="text/css" >
</style>
<%= yield :style %>
<% search_urls = { "users-search" => "/users/search?words=" } %>
<% if Puavo::CONFIG then search_urls[ "devices-search"] = "/devices/search?words=" end %>
<script charset="utf-8">
I18n = {};
I18n.defaultLocale = "<%= I18n.default_locale %>";
I18n.locale = "<%= I18n.locale %>";
</script>
<%= javascript_tag "window.SEARCH_URLS = { " + search_urls.map{ |key, value| "'#{key}': '#{value}'" }.join(", ") + " };" %>
<%= javascript_include_tag "application" %>
<%= yield :javascript %>
<meta name="csrf-token" content="<%= form_authenticity_token %>" />
<meta name="csrf-param" content="authenticity_token" />
</head>

<body>
<div id="topbar-wrapper">
  <ul id="topbar">
    <li id="left">
      <!-- Organisation and school dropdown menus (ie. "navigation") -->
      <nav>
        <% if current_user %>
        <ul>
          <% if current_user.organisation_owner? %>
          <li class="haveDropdown"><span><%= current_organisation.name %></span>
            <ul class="dropdown">
              <li><%= link_to t('.about'),  organisation_path %></li>
              <li><%= link_to t('external_services.title'),  organisation_external_services_path %></li>
              <li><%= link_to t('.ldap_services'),  ldap_services_path %></li>
              <% if Puavo::EXTERNAL_FILES %>
              <li><%= link_to t('.external_files'), external_files_path %></li>
              <% end %>
              <% if Puavo::CONFIG %>
              <li><%= link_to t('.printers'), "/devices/printers" %></li>
              <li><%= link_to t('.servers'), "/devices/servers" %></li>
              <% end %>
              <li><%= link_to t('.wlan'),  wlan_organisation_path %></li>
              <li><%= link_to t('.owners'),  owners_organisation_path %></li>
            </ul>
          </li>
          <% else %>
          <li class="noDropdown"><span><%= current_organisation.name %></span></li>
          <% end %>

          <li class="haveDropdown"><span><%= t('.schools') %></span><ul class="dropdown">
            <% if current_user.organisation_owner? %>
            <li><a href="/users"><%= t('.index') %></a></li>
            <% end %>
            <% school_list.each do |school| %>
            <% next if school.puavoTag.include?("hidden")%>
            <li><%= link_to school.displayName, school_path(school) %>
              <ul class="schoolLinks">
                <li><%= link_to t('.users'), users_path(school) %></li>
                <li><%= link_to t('.groups'), groups_path(school) %></li>
                <li><%= link_to t('.devices'), devices_path(school) %></li>
              </ul>
            </li>
            <% end %>
          </ul></li>
        </ul>
        <% end %>
      </nav>
    </li>

    <li id="middle">
      <!-- The search box -->
      <%= text_field_tag('search',
                         nil,
                         class: 'search',
                         size: 30,
                         placeholder: t('.search_placeholder')) %>

    </li>

    <li id="right">
      <!-- Logout -->
      <span id="loggedInName"><%= h current_user.displayName %></span>

      <%= link_to logout_path, method: :delete, class: 'btn btn-danger', id: 'logoutButton' do %>
        <i class="icon-logout"></i> <%= t('.logout') %>
      <% end %>
    </li>
  </ul>
</div>

<div class="container">
  <div class="main-wrap">
    <% if current_organisation? %>
    <% if @school && !@school.id.nil? && controller_name != 'password' %>
    <header id="schoolName"><%= @school.displayName %></header>

<%= render :partial => "layouts/menu" %>
    <% end %>
    <% end %>

    <div class="maincontent clearfix">
      <% if message_keys = flash.keys.select { |key| ["error", "notice", "success", "alert"].include?(key) } %>
      <% message_keys.each do |key| %>
      <p class="message_<%= key %>"><%= flash[key] %></p>
      <% end %>
      <% end %>

      <% if current_user %>
      <div class="tools-container clearfix">
      <span class="tools"><%= yield :right %></span>
      </div>
      <% end %>

      <%= yield %>
    </div>
  </div> <!-- container_wrap-->
</div> <!-- container -->
<%= debug_footer %>
</body>
</html>
