<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <meta name="viewport" content="width=device-width">
  <title>
    <% if not @school.nil? %>
      <%= @school.displayName %>
    <% elsif current_organisation? %>
      <%= current_organisation.name %>
    <% else %>
        Puavo Users
    <% end %>
  </title>

  <%= favicon_link_tag "favicon.png" %>
  <%= stylesheet_link_tag "font/fontello-puavo/css/puavo-icons", :media => "screen" %>
  <%= stylesheet_link_tag "application-print", :media => "print" %>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <style id="menuHandling" media="screen" rel="stylesheet" type="text/css" >
    <%#
    CSS for opening menus without Javascript on mouse hover. This should not
    contain anything else. Since for touch devices this element will be
    overridden.
    %>
    .tools .tool:hover ul {
      display: block;
    }
    .topmenu-left li:hover ul,
    #nav1 ul li:hover ul {
      display: block;
    }

  </style>
  <%= yield :style %>

  <% search_urls = { "users-search" => "/users/search?words=" } %>
  <% if Puavo::CONFIG then search_urls[ "devices-search"] = "/devices/search?words=" end %>
  <%= javascript_tag "window.SEARCH_URLS = { " + search_urls.map{ |key, value| "'#{key}': '#{value}'" }.join(", ") + " };" %>

  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>

  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />
</head>
<body>
<div class="topmenu clearfix">
    <div class="topmenu-content">
      <div class="menu-container">
        <ul class="topmenu-left">
          <% if current_user %>
            <% if current_user.organisation_owner? %>
              <li class="organisation-menu-button">
                <span><%= current_organisation.name %></span>
                <ul id="help" class="organisation-menu">
                  <li class="top-menu-item"><%= link_to t('.about'),  organisation_path %></li>
                  <li class="top-menu-item"><%= link_to t('external_services.title'),  organisation_external_services_path %></li>
                  <li class="top-menu-item"><%= link_to t('.ldap_services'),  ldap_services_path %></li>
                  <% if Puavo::EXTERNAL_FILES %>
                  <li class="top-menu-item"><%= link_to t('.external_files'),  external_files_path %></li>
                  <% end -%>
                  <% if Puavo::CONFIG %>
                    <li class="top-menu-item"><%= link_to t('.printers'), "/devices/printers" %></li>
                    <li class="top-menu-item"><%= link_to t('.servers'), "/devices/servers" %></li>
                  <% end %>
                  <li class="top-menu-item"><%= link_to t('.wlan'),  wlan_organisation_path %></li>
                  <li class="top-menu-item"><%= link_to t('.owners'),  owners_organisation_path %></li>
                 </ul>
              </li>
              <% else %>
              <li><span class="sub"><%= current_organisation.name %></span></li>
              <% end %>
              <li class="school-menu-button">
                <span><%= t('.schools') %></span>
                <ul class="school-menu">
                  <% school_list.each do |school| %>
                    <li class="top-menu-item<% if school_list.last == school %> last<% end %>">
                      <%= link_to school.displayName,  school_path(school) %>
                    </li>
                  <% end %>
                  <% if current_user.organisation_owner? %>
                  <li class="add-new-school">
                    <%= link_to new_school_path, :class => 'btn' do%>
                      <i class="icon-plus"></i><%= t('link.new_school') %>
                    <% end %>
                  </li>
      			     <% end %>
                </ul>
              </li>
        </ul> <!-- topmenu-left -->
        <ul class="topmenu-search">
          <li>
            <%= text_field_tag( "search",
                                    nil,
                                    :class => "search",
                                    :size => 30,
                                    :placeholder => t('.search_placeholder') ) %>
          </li>
        </ul> <!-- topmenu-search  -->
        <ul class="menu topmenu-right">
          <li><a href="#"><%= current_user.displayName %></a></li>
          <li>
            <%= link_to logout_path, :method => :delete, :class => "btn btn-danger" do%>
              <%= t('.logout') %><i class='icon-logout'></i>
            <% end %>
          </li>
        </ul>
        <% end %>
      </div> <!-- menu-container -->
   </div>
</div><!-- topNavContainer -->
<div class="container">
<div class="main-wrap">
    <% if current_organisation? %>
      <% if @school && !@school.id.nil? && controller_name != 'password' %>
        <h1><%= @school.displayName %></h1>
        <%= render :partial => "layouts/menu" %>
      <% end %>
    <% end %>

  <div class="maincontent clearfix">
         <% if message_keys = flash.keys.select { |key| [:error, :notice, :success, :alert].include?(key) } %>
      <% message_keys.each do |key| %>
      <p class="message_<%= key %>">
        <%= flash[key] %>
      </p>
       <% end %>
       <% end %>

      <% if current_user %>
        <div class="tools-container clearfix">
          <span class="tools"><%= yield :right %></span>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div> <!-- container_wrap-->
  </div> <!-- container -->
  <%= debug_footer %>
</body>
</html>
