<!DOCTYPE html>
<html><head><meta charset="utf-8">
<title><%= t('email_verifications.title') %></title>
<%= stylesheet_link_tag 'public_forms', media: 'all' %>
<%= stylesheet_link_tag 'profile_editor', media: "all" %>
</head>
<body>
<div id="outerContainer">
<%= yield %>
</div>
<footer class="public">
    <%= manufacturer_logo %>
    <p><%= copyright_with_year %></p>
</footer>
</body>
</html>
