<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=500, initial-scale=1">
<title>Puavo (<%= @organisation.name %>)</title>
<link rel="stylesheet" media="all" href="<%= File.join(@login_content['prefix'], 'default.css') %>">
<% if @login_content['css'] %>
<link rel="stylesheet" media="all" href="<%= File.join(@login_content['prefix'], @login_content['css']) %>">
<% end %>
</head>
<body>
<%= yield %>
<footer class="public">
    <%= manufacturer_logo %>
    <p><%= copyright_with_year %></p>
    <p><%= debug_footer(reduced: true) %></p>
</footer>
</body>
</html>
