<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>
      <% if session.has_key?(:organisation) %>
      <%= session[:organisation].name %>
      <% end %>
    </title>
    <%= stylesheet_link_tag "#{theme}/screen.css", :media => 'screen, projection' %>
    <%= stylesheet_link_tag "#{theme}/print.css", :media => 'print' %>
    <%= stylesheet_link_tag "#{theme}/puavo.css" %>
  </head>
  <body>
    <hr class="space" />
    <div class="password_container">
    <div class="login_content">
      <%= yield %>
    </div>
  </div>

  </body>
</html>
