<!DOCTYPE html>
<html><head><meta charset="utf-8">
<title><%= t('profiles.edit.title') %></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "profile_editor", :media => "all" %>
</head>
<body>
<div id="outerContainer">
<%= yield %>
</div>
<% if content_for?(:javascript) %><%= yield :javascript %><% end %>
<footer>&copy; Opinsys Oy 2023</footer>
</body>
</html>
