<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
jhttp://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Puavo</title>
    <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/screen.css", :media => 'screen, projection' %>
    <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/print.css", :media => 'print' %>
    <%= stylesheet_link_tag "/shared/stylesheets/#{theme}/puavo.css" %>

    <%= javascript_include_tag( "jquery-1.4.2.min" ) %>

    <script type="text/javascript" charset="utf-8">
      jQuery(function($) {
        $("input[type='text']").get(0).focus()
      });
    </script>

    <%# <%= yield :javascript %>

  </head>
  <body>
    <hr class="space" />
    <div class="login_container">
    <div class="login_content">
      <h1>Puavo</h1>
      <% if flash.has_key?(:notice) %>
      <% if flash.has_key?(:notice_css_class) %>
      <p class='<%= flash[:notice_css_class] %>'>
      <% else %>
      <p class="notice">
        <% end %>
        <%= flash[:notice] %>
      </p>
      <% end %>
      <%= yield %>
    </div>
  </div>


  </body>
</html>
