<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.textarea" %>
  <%= javascript_include_tag "users/import/new" %>
<% end %>

<h1><span><%= t('.title') %></span></h1>
<p class="mass_import_info">
  <span class="current">1. <%= t('users.import.info.phase_1') %>  &gt; </span> 
  <span>2. <%= t('users.import.info.phase_2') %> &gt; </span>
  <span>3.<%= t('users.import.info.phase_3') %> &gt;</span> 
  <span>4. <%= t('users.import.info.phase_4') %></span></p>
<% form_for(:users_import, :url => refine_users_import_path(@school), :html => { :method => :post } ) do %>

  <p><%= t('.example_title')%>:</p>
  <pre><%= t('.example') %></pre>

  <p><%= t('.hint') %></p>

  <p><%= t('.help') %>:</p>

  <%= text_area_tag "raw_users", nil, :rows => 20, :cols => 100 %>

  <p>
    <%= submit_tag t('link.user_mass_import.handle_user_data') %>
  </p>

<% end %>

  <% content_for :footer do %>
<ul>
  <li class="link_header">
    <% link_to school_path(@school) do %>
    <span><%= t('layouts.application.schools') %></span>
    <% end %>
  </li>
  <% school_list.each do |school| %>
  <li<% if school_list.last == school %> class="last"<% end %>>
    <%= link_to school.displayName,  school_path(school) %>
  </li>
  <% end %>
</ul>
<ul>
<li class="link_header"><%= @school.displayName %></li>
<li>
<% link_to users_path(@school) do %>
  <span><%= t('layouts.application.users') %></span>
<% end %>
</li>
  <li><%= link_to t('link.groups'), groups_path(@school) %></li>
  <li><%= link_to t('link.roles'), roles_path(@school) %></li>
  <li><a href="/devices/<%= @school.id%>/devices"><span><%= t('layouts.application.devices') %></span></a></li>
</ul>
<% end %>
