<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.textarea" %>
  <%= javascript_include_tag "users/import/new" %>
<% end %>

<h2><%= t('.title') %></h2>

<% form_for(:users_import, :url => refine_users_import_path(@school), :html => { :method => :post } ) do %>
<p>
  <%= t('.help') %>
  <p>
    <p>
      <%= t('.example_title')%>:
      <pre>
<%= t('.example') %>
      </pre>
    </p>
    <%= text_area_tag "raw_users", nil, :rows => 20, :cols => 100 %>
  </p>

  <p>
    <%= submit_tag t('link.user_mass_import.handle_user_data') %>
  </p>

  <% end %>
