<h2><%= t('.title') %></h2>
<p><%= t('.info') %></p>

 <table cellspacing="0" id="validate_users_list">
  <% @columns.each do |column| %>
  <th>
    <%= User.human_attribute_name(column) %>
  </th>
  <% end %>
  <% @valid_users.each do |user| %>
  <tr>
    <% @columns.each do |column| %>
    <td>
      <%=h user.human_readable_format(column) %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
<% form_for(:user, :url => create_users_import_path(@school), :html => { :method => :post }) do |f| %>
<%= f.submit t('link.user_mass_import.create') %>
<% end %>
