<% content_for :javascript do %>
  <%= javascript_include_tag "users/import/preview" %>
<% end %>

<h2><%= t('.title') %></h2>
<p><%= t('.info') %></p>

<% form_for(:user, :url => create_users_import_path(@school), :html => { :method => :post }) do |f| %>
 <table cellspacing="0" class="validate_users_list">
  <% @columns.each do |column| %>
  <th>
    <%= User.human_attribute_name(column) %>
    <%= hidden_field_tag "columns[]", column %>
  </th>
  <% end %>

  <% user_index = 0 %>
  <% @invalid_users.each do |user| %>
  <tr>
    <% column_index = 0 %>
    <% @columns.each do |column| %>
    <td>
      <%= user_list_editable_item(user, user_index, column, column_index) %>
    </td>
    <% column_index += 1 %>
    <% end %>
  </tr>
  <% user_index += 1 %>
  <% end %>

  <% @valid_users.each do |user| %>
  <tr>
    <% column_index = 0 %>
    <% @columns.each do |column| %>
    <td>
      <%= user_list_editable_item(user, user_index, column, column_index) %>
    </td>
    <% column_index += 1 %>
    <% end %>
  </tr>
  <% user_index += 1 %>
  <% end %>
</table>
<%= f.submit t('link.user_mass_import.create') %>
<% end %>


