<h2><%= t('.title') %></h2>

<% form_for(:user, :url => validate_users_import_path(@school)) do |f| %>

<p><%= t('.column_info') %></p>
<table id="users_list">
  <th><%= t('.name_of_column') %></th>
  <th><%= t('.example') %></th>
    <% 0.upto(@number_of_columns-1) do |index| %>
    <tr>
      <td>
	<%= select_tag "users_import_columns[#{index}]", options_for_select(User.import_columns.collect{ |c| [ User.human_attribute_name(c), c]},  @columns.nil? ? "" : @columns[index] ) %>
      </td>
      <td><%= @raw_users.first[index].to_s + ", " + @raw_users.last[index].to_s %></td>
    </tr>
    <% end %>
</table>

<% user_index = 0 %>
<% @raw_users.each do |user| %>
<% index = 0 %>
<% 0.upto(@number_of_columns-1) do |index| %>
<%= hidden_field_tag "users[#{index}][]", user[index].to_s.strip, {:id => "users_#{index}_#{user_index}"} %>
<% end %>
<% user_index += 1 %>
<% end %>

<p>
  <%= f.submit t('link.user_mass_import.validate') %>
</p>
<% end %>
<% content_for :footer do %>
<ul>
  <li class="link_header">
    <% link_to school_path(@school) do %>
    <span><%= t('layouts.application.schools') %></span>
    <% end %>
  </li>
  <% session[:organisation].schools.each do |school| %>
  <li<% if session[:organisation].schools.last == school %> class="last"<% end %>>
    <%= link_to school.displayName,  school_path(school) %>
  </li>
  <% end %>
</ul>
<ul>
<li class="link_header"><%= @school.displayName %></li>
<li><% link_to users_path(@school) do %>
  <span><%= t('layouts.application.users') %></span>
<% end %>
</li>
  <li><%= link_to t('link.groups'), groups_path(@school) %></li>
  <li><%= link_to t('link.roles'), roles_path(@school) %></li>
  <li><a href="/devices/<%= @school.id%>/devices"><span><%= t('layouts.application.devices') %></span></a></li>
</ul>
<% end %>
