<h2>
<% if @invalid_users.empty? %>
<%= t('.title', :count => @users.count) %></h2>
<% else %>
<%= t('.title_with_error') %></h2>
<p>
<div><%= t('.successful', :count => @users.count) %></div>
<div><%= t('.failed', :count => @invalid_users.count) %></div>
</p>
<% end %>

<p>
<%= t('.pdf_info') %>, <%= link_to t('link.user_mass_import.download_pdf'),
                                   users_import_path(@school,
                                                    :format => 'pdf',
                                                    :create_timestamp => params[:create_timestamp] )  %>
</p>
