
<h1><%= t('link.user_mass_import.new') %></h1>

<div class="import-status" style="display: none;">
<%= @import_status %>
</div>

<% if @import_status == "finished" %>

  <!-- <%= @failed_users.inspect %> -->

  <% if @failed_users %>
      <h3>
      <%= t('.title_with_error') %>
      </h3>
      <p>
        <pre><%= @failed_users.inspect %></pre>
      </p>
  <% end %>

  <p>
    Import is now ready. Download passwords from below. Note that you can download this only once.
  </p>

  <%= button_to(
    t('link.user_mass_import.download_passwords_pdf'),
    render_pdf_path(@school, params[:job_id]),
    :method => :post,
    :class => :once
  ) %>

<% else %>

<p>
Importing users. Please wait for few minutes.
</p>

<% end %>

<script>
(function(){

     var status = document
         .getElementsByClassName("import-status")[0]
         .innerText
         ;

    if (/finished/.test(status)) return;

    document.write("Reloading soon...");
    setTimeout(function(){
        window.location.reload();
    }, 1000*10);

}());
</script>

